<ul class="nav">
  <li class="active"><a href="{{ path('g_home_community') }}">{{ "home"|trans }}</a></li>
</ul>
{{ include('metaGeneralBundle:Default:_languageSwitch.html.twig') }}
<div class="pull-right">
  <ul class="nav pull-right">
      <li ><a href="{{ path('login') }}" >{{ "login"|trans }} <b class="icon-lock"></b></a></li>
      <li ><a href="{{ path('u_signup') }}" >{{ "signup"|trans }} <b class="icon-signin"></b></a></li>
  </ul>
</div>