<ul class="nav navbar-nav">
  <li class="active"><a href="{{ path('g_home_community') }}">{{ "home"|trans }}</a></li>
</ul>
{{ include('metaGeneralBundle:Default:_languageSwitch.html.twig') }}
<ul class="nav navbar-nav navbar-right">
  <li ><a href="{{ path('login') }}" >{{ "login"|trans }} <b class="fa fa-lock"></b></a></li>
  <li ><a href="{{ path('u_signup_choice') }}" >{{ "signup"|trans }} <b class="fa fa-sign-in"></b></a></li>
</ul>