<ul class="nav navbar-nav">
  <li><a href="{{ path('g_home_community') }}">{{ "home"|trans }} ({% if user.currentCommunity is null %}{{ "private.space"|trans }}{% else %}{{ user.currentCommunity.name }}{% if currentUserCommunity and currentUserCommunity.guest %} <i class="fa fa-fw fa-lock"></i>{% endif %}{% endif %})</a></li>
  <li><a href="{{ path('p_list_projects') }}">{{ "project.allProjects"|trans }}</a></li>
  {% if (currentUserCommunity and not currentUserCommunity.guest) or currentUserCommunity is null %}
  <li><a href="{{ path('i_list_ideas') }}">{{ "idea.allIdeas"|trans }}</a></li>
  {% endif %}
  {% if user.currentCommunity is not null %}
  <li><a href="{{ path('u_list_users') }}">{{ "user.allUsers"|trans }}</a></li>
  {% endif %}
</ul>
{{ include('metaGeneralBundle:Default:_languageSwitch.html.twig') }}
<ul class="nav navbar-nav navbar-right">

  <li>
    <a href="{{ path('u_show_user_notifications') }}" title="{{ "user.notifications.help"|trans }}">
      <i class="fa fa-fw fa-comments fa-lg"></i> 
        <span id="notificationsCount" class="badge badge-info" data-update-path="{{ path('u_count_user_notifications') }}">
          <i class="fa fa-fw fa-spinner fa-spin"></i>
        </span>
    </a>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img src="{{ asset(user.getAvatar()) }}" width="20px" height="20px" class="smallHeaderAvatar"/> {{ user.getFullName() }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('u_me') }}"><i class="fa fa-fw fa-user"></i> {{ "user.menu"|trans }}</a></li>
        {% if user.currentCommunity is not null and currentUserCommunity and not currentUserCommunity.guest %}
        <li><a href="{{ path('u_show_user_dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> {{ "user.dashboard.menu"|trans }}</a>
        {% endif %}
        <li><a href="{{ path('u_show_user_settings') }}"><i class="fa fa-fw fa-wrench"></i> {{ "user.settings.menu"|trans }}</a></li>
        
        </li><li class="divider"></li>
        
        <li><a href="{{ path('g_switch_private_space', {'token': csrf_token('switchCommunity') }) }}">{% if user.currentCommunity is null %}<i class="fa fa-check"></i> {% endif %}{{ "private.space"|trans }}</a></li>

        {% for userCommunity in user.userCommunities if not userCommunity.isDeleted %}
          <li><a href="{{ path('g_switch_community', { 'uid': userCommunity.community.id|to_uid, 'token': csrf_token('switchCommunity') } ) }}">{% if user.currentCommunity == userCommunity.community %}<i class="fa fa-check"></i> {% endif %}{{ userCommunity.community.name }}{% if userCommunity.guest %} <i class="fa fa-lock"></i>{% else %} <span class="label label-{{ userCommunity.community.type }}">{{ userCommunity.community.type }}</span>{% endif %}</a></li>
        {% endfor %}

        {% if user.currentCommunity is not null and currentUserCommunity and currentUserCommunity.manager %}
        <li class="divider"></li>
        <li><a href="{{ path('g_manage_community') }}"><i class="fa fa-fw fa-wrench"></i> {{ "community.manage"|trans }}</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{{ path('g_create_community') }}"><i class="fa fa-fw fa-plus-circle"></i> {{ "community.create"|trans }}</a></li>

        <li class="divider"></li>
        <li><a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off"></i> {{ "logout"|trans }}</a></li>
    </ul>
  </li>
  
</ul>



