<ul class="nav">
  <li><a href="{{ path('g_home_community') }}">{{ "home"|trans }} ({% if user.currentCommunity is null %}{{ "private.space"|trans }}{% else %}{{ user.currentCommunity.name }}{% if isGuest %} <i class="icon-lock"></i>{% endif %}{% endif %})</a></li>
  <li><a href="{{ path('p_list_projects') }}">{{ "project.allProjects"|trans }}</a></li>
  {% if not isGuest %}
  <li><a href="{{ path('i_list_ideas') }}">{{ "idea.allIdeas"|trans }}</a></li>
  {% endif %}
  {% if user.currentCommunity is not null %}
  <li><a href="{{ path('u_list_users') }}">{{ "user.allUsers"|trans }}</a></li>
  {% endif %}
</ul>
{{ include('metaGeneralBundle:Default:_languageSwitch.html.twig') }}
<div class="pull-right">
  <ul class="nav pull-right">
      <li class="dropdown">
        <a href="{{ path('u_show_user_notifications') }}" title="{{ "user.notifications.help"|trans }}">
          <i class="icon-comments icon-large"></i> 
            <span id="notificationsCount" class="badge badge-info" data-update-path="{{ path('u_count_user_notifications') }}">
              <i class="icon-spinner icon-spin"></i>
            </span>
        </a>
      </li>
  </ul>
</div>
<div class="pull-right">
  <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ asset(user.getAvatar()) }}" width="20px" height="20px" class="smallHeaderAvatar"/> {{ user.getFullName() }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('u_me') }}"><i class="icon-user"></i> {{ "user.menu"|trans }}</a></li>
            {% if user.currentCommunity is not null and not isGuest %}
            <li><a href="{{ path('u_show_user_dashboard') }}"><i class="icon-dashboard"></i> {{ "user.dashboard.menu"|trans }}</a>
            {% endif %}
            <li><a href="{{ path('u_show_user_settings') }}"><i class="icon-wrench"></i> {{ "user.settings.menu"|trans }}</a></li>
            
            </li><li class="divider"></li>
            
            <li><a href="{{ path('g_switch_private_space', {'token': csrf_token('switchCommunity') }) }}"><i class="icon-{% if user.currentCommunity is null %}ok{% endif %}"></i> {{ "private.space"|trans }}</a></li>

            {% for userCommunity in user.userCommunities %}
              <li><a href="{{ path('g_switch_community', { 'id': userCommunity.community.id, 'token': csrf_token('switchCommunity') } ) }}"><i class="icon-{% if user.currentCommunity == userCommunity.community %}ok{% endif %}"></i> {{ userCommunity.community.name }}{% if userCommunity.guest %} <i class="icon-lock"></i>{% endif %}</a></li>
            {% endfor %}

            {% if user.currentCommunity is not null and not isGuest %}
            <li class="divider"></li>
            <li><a href="{{ path('invite') }}"><i class="icon-envelope"></i> {{ "community.invite"|trans }}</a></li>
            {% endif %}

            <li class="divider"></li>
            <li><a href="{{ path('logout') }}"><i class="icon-off"></i> {{ "logout"|trans }}</a></li>
        </ul>
      </li>
  </ul>
</div>
