{% extends 'metaUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.passwordChange.title"|trans }}{% endblock %}

{% block header %}
<div class="title">
  <h2>{{ "user.passwordChange.title"|trans }}</h2>
  <h4>{{ "user.passwordChange.help"|trans }}</h4>
</div>
{% endblock %}

{% block content %}
<section>
<form action="{{ path('change_password', { 'passwordToken' : passwordToken }) }}" method="POST">

    <div class="label"><label for="password">{{ "user.passwordChange.new"|trans }} :</label></div>
    <div class="content">
      <input type="password" id="password" name="password" value=""/>
    </div>
    <div class="label"><label for="password_2">{{ "user.passwordChange.confirm"|trans }} :</label></div>
    <div class="content">
      <input type="password" id="password_2" name="password_2" value=""/>
    </div>
    <div class="label"></div>
    <div class="content">
      <input type="submit" name="{% if flavour == 'reactivate' %}{{ "user.reactivation.button"|trans }}{% else %}{{ "user.passwordChange.button"|trans }}{% endif %}" class="button" value="{{ "change"|trans }}"/>
    </div>
</form>
</section>
{% endblock %}