{% extends 'metaStandardProjectProfileBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} | Resources{% endblock %}

{% block navbar %}
{% render "metaStandardProjectProfileBundle:Default:navbar" with { 'activeMenu' : 'resources', 'slug' : base.standardProject.slug } %}
{% endblock %}

{% form_theme form _self %}

{% block form_row %}
<section>
<div class="sectionTitle">{{ form_label(form) }}</div>
<div class="sectionContent">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</div>
</section>
{% endblock form_row %}

{% block content %}
{% if base.standardProject.resources|length > 0 %}
<section class="colored">
  <div class="sectionTitle">Available resources :</div>
  <div class="sectionContent">
  <ul class="resources">
  {% for resource in base.standardProject.resources %}
      <li>
        <a href="{{ path('sp_show_project_resource', {'slug': base.standardProject.slug, 'id': resource.id}) }}">
          <img src="{{ asset('/bundles/metageneral/img/icons/' ~ providers[resource.provider].icon ~ '.png') }}" width="32px" height="32px"/> 
          <img src="{{ asset('/bundles/metageneral/img/icons/' ~ types[resource.type].icon ~ '.png') }}" width="32px" height="32px"/>
          <span>{{ resource.title }}</span>{% if resource.originalFilename %} <em>({{ resource.originalFilename }})</em>{% endif %}
        </a>
        - 
        {% if types[resource.type].displayable or not providers[resource.provider].downloadable %}<a title="View in a new window" href="{{ resource.url }}" target="_blank"><i class="icon-external-link"></i></a>{% endif %}
        {% if providers[resource.provider].downloadable %}<a title="Download resource" href="{{ path('sp_show_project_resource_download', {'slug': base.standardProject.slug, 'id': resource.id})}}"><i class="icon-download"></i></a>{% endif %}
        <span>
          {% if resource.tags|length > 0 %}
            Tags :
          {% else %}
            No tags yet.
          {% endif %}
          <ul class="tags" >
          {% for tag in resource.tags %}<li class="label" rel="{{ tag.name }}">{{ tag.name }}</li>{% endfor %}
          </ul>
        </span>
      </li>
  {% endfor %}
  </ul>
  </div>
</section>
{% endif %}
{% if base.canEdit %}
<form action="{{ path('sp_show_project_list_resources', {'slug': base.standardProject.slug}) }}" method="post" {{ form_enctype(form) }}>
  <section>
    <h4>Add a new resource :</h4>
  </section>
  {{ form_widget(form) }}
  <section>
    <div class="sectionTitle"></div>
    <div class="sectionContent">
      <input type="submit" value="Add" class="btn btn-info" />
    </div>
  </section>
</form>
{% else %}
<section>
No resource yet.
</section>
{% endif %}
{% endblock %}