{% extends '::base-error.html.twig' %}

{% block title %}{{ parent() }} > {{ "error.404.title"|trans }}{% endblock %}

{% block container %}

  <div class="non-auth">
    <h2>{{ "error.404.text"|trans }}</h2>
    <h3><i class="fa fa-bug"></i> {{ "error.404.title"|trans }}</h3>
    <h4><a href="{{ path("g_home_community") }}">&laquo; {{ "home"|trans }}</a></h4>
    <h4>{{ "error.help"|trans }}</h4>
  </div>
{% endblock %}
