{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > New announcement{% endblock %}

{% block section %}New announcement{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    
    <section>
      <div class="label">{{ label|trans }} :</div>
      <div class="content">
        {{ form_widget(form, { 'attr' : { 'class': errors?'error':'' }}) }}
        {% if errors %}
          <em class="error"><i class="fa fa-exclamation-triangle"></i> {{ errors[0].message|trans }}</em>
        {% endif %}
        {% if required or attr.help is defined %}
          <em class="help">{% if required %}* {{ "required"|trans }}.{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</em>
        {% endif %}
      </div>
    </section>

{% endblock form_row %}

{% block content %}
<div class="wrapper info">
  <form action="{{ path('a_announcements_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_rest(form) }}
    {{ form_row(form._token) }} 
    <section>
      <div class="content">
        <input type="submit" value="{{ "create"|trans }}" class="button button-success" />
      </div>
    </section>
  </form>
</div>
{% endblock %}
