{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Announcements{% endblock %}

{% block section %}Announcements{% endblock %}

{% block content %}
<div class="wrapper info">
  <section>

    <a href="{{ path('a_announcements_new') }}" class="button button-success">Create an announcement</a>

    {% if announcements|length == 0 %}
    No announcements to show
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Text</th>
          <th>Targets</th>
          <th>Hits</th>
          <th>Validity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for announcement in announcements %}
        {% set targets = announcement.targetedUsers|length %}
        <tr>
          <td class="announcement-{{ announcement.type }}">{{ announcement.type }}</td>
          <td class="announcement-text">{{ announcement.text }}</td> 
          <td>{% if targets == 0 %}<i class="fa fa-asterisk"></i>{% else %}{{ targets }}{% endif %}</td>
          <td>{{ announcement.hitUsers|length }} ({% if targets == 0 %}{{ (announcement.hitUsers|length/totalUsers*100)|number_format }}{% else %}{{ (announcement.hitUsers|length/targets*100)|number_format }}{% endif %}%)</td>
          <td>From {{ announcement.validFrom|date('d/m/Y') }}<br/>until {{ announcement.validUntil|date("d/m/Y") }}</td>
          <td><a href="{{ path('a_announcements_edit', { 'uid' : announcement.id|to_uid } ) }}"><i class="fa fa-pencil-square-o"></i></a><a href="{{ path('a_announcements_delete', { 'uid' : announcement.id|to_uid } ) }}"><i class="fa fa-trash-o"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </section>
</div>
{% endblock %}
