{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Announcements{% endblock %}

{% block section %}Announcements{% endblock %}

{% block content %}
<div class="wrapper info">
  <section>
    <a href="{{ path('a_announcements_new') }}" class="button button-success">Create an announcement</a>
  </section>
  <section>

    {% if announcements|length == 0 %}
    No announcements to show
    {% else %}
    <ul>
      {% for announcement in announcements %}
      <li><strong>{{ announcement.createdAt|date('d/m/Y') }}</strong> : <span>{{ announcement.text }}</span> <span class="announcement-{{ announcement.type }}">{{ announcement.type }}</span>
        <ul>
          <li><strong>{{ announcement.targetedUsers|length }}</strong> users targetted, <strong>{{ announcement.hitUsers|length }}</strong> users hit</li>
          <li>Valid from {{ announcement.validFrom|date('d/m/Y') }} until {{ announcement.validUntil|date("d/m/Y") }}</li>
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</div>
{% endblock %}
