{% extends 'metaStandardProjectProfileBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} > {{ base.standardProject.name }} | Wiki : {{ wikiPage.title }}{% endblock %}

{% block navbar %}
{% render "metaStandardProjectProfileBundle:Default:navbar" with { 'activeMenu' : 'wiki', 'slug' : base.standardProject.slug } %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/select2.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
<div class="column">
<section class="listInfo">
  <h4 class="editable" data-title="Change the title of this wiki page" data-name="title" data-url="{{ path('sp_show_project_wiki_edit_page', {'slug': base.standardProject.slug, 'id': wikiPage.id}) }}" data-type="text">{{ wikiPage.title }}</h4>
  {% if base.canEdit %}<a class="pull-right markdown-trigger">&hellip;<i class="icon-pencil"></i></a>{% endif %}
  <div>
    {% if wikiPage.tags|length > 0 %}
      Tags :
    {% elseif not base.canEdit %}
      No tags yet.
    {% endif %}
    <ul data-toggle="manual" data-title="Indicate tags separated by a comma or space" data-emptytext="Add tags" data-url="{{ path('sp_show_project_wiki_edit_page', {'slug': base.standardProject.slug, 'id': wikiPage.id }) }}" data-type="select2" data-name="tags" class="tags tags-target editable-li" >
    {% for tag in wikiPage.tags %}<li class="label" rel="{{ tag.name }}">{{ tag.name }}</li>{% endfor %}
    </ul>
    {% if base.canEdit %} <a class="editable-trigger" data-target="tags">&hellip;<i class="icon-pencil"></i></a>{% endif %}
  </div>
</section>
<section>
  <div>
    {% if base.canEdit %}
      <div class="wmd-wrapper well well-small hide" >
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea data-name="content" data-url="{{ path('sp_show_project_wiki_edit_page', {'slug': base.standardProject.slug, 'id': wikiPage.id}) }}" class="wmd-input" id="wmd-input">{{ wikiPage.content }}</textarea>
        </div>
        <div>
          <button id="wmd-save" class="btn btn-primary">Save</button> <span class="muted wmd-message">Click save to save your changes</span>
        </div>
        <div id="wmd-preview" class="preview">{{ wikiPage.content }}</div>
      </div>
    {% endif %}
    
    <div class="content">{{ wikiPage.content|deeplinks|markdown }}</div>

  </div>
</section>
<section>
{% render "metaStandardProjectProfileBundle:Comment:addWikiPageComment" with { 'slug' : base.standardProject.slug, 'id': wikiPage.id } %}
</section>
</div>
<div class="menu">
  Pages :
  <ul class="lists">
  {% for page in wikiPages %}
      <li {% if page.id == wikiPage.id %}class="active"{% endif %}>
        <a title="Make home page" href="{{ path('sp_show_project_wiki_make_home_page', {'slug': base.standardProject.slug, 'id': page.id}) }}"><i class="icon-file{% if page == homePage %}-alt{% endif %}"></i></a> {% if base.canEdit %}<a title="Delete" href="{{ path('sp_show_project_wiki_delete_page', {'slug': base.standardProject.slug, 'id': page.id}) }}"><i class="icon-remove-sign"></i></a>{% endif %} <a href="{{ path('sp_show_project_wiki_show_page', {'slug': base.standardProject.slug, 'id': page.id, 'pageSlug': page.slug }) }}">{{ page.title }}</a>
      </li>
  {% endfor %}
  </ul>
  {% if base.canEdit %}
  <div class="menu_new">
    <a href="{{ path('sp_show_project_wiki_new_page', {'slug': base.standardProject.slug}) }}"><i class="icon-plus-sign"></i> New page</a>
  </div>
  {% endif %}
</div>
{% endblock %}