{% extends 'metaStandardProjectProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > All Projects{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-list-alt"></i></div>
  </div>
  <div class="projectsListHeader">
    <h2>Projects</h2>
    <h4>All the projects accessible on meta are listed here.</h4>
    <p><a href="{{ path('sp_new_project') }}" class="btn btn-success">New project</a></p>
  </div>
{% endblock %}

{% block content %}
{% if standardProjects %}
<div><ul>
{% for standardProject in standardProjects %}
    <li>
      <a href="{{ path('sp_show_project', {'slug': standardProject.slug}) }}">
        <img src="{{ standardProject.picture }}" width="100" height="100"/>
        <span>{{ standardProject.name }} ({{ standardProject.slug|lower }})</span>
      </a>
    </li>
{% endfor %}
</ul></div>
{% endif %}

{% endblock %}