{% extends 'metaStandardProjectProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > All Projects{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-list-alt"></i></div>
  </div>
  <div class="objectHeader">
    <h2>Projects</h2>
    <h4>All the projects accessible on meta are listed here.</h4>
    <p><a href="{{ path('sp_new_project') }}" class="btn btn-success">New project</a></p>
  </div>
{% endblock %}

{% block content %}
{% if standardProjects %}
{% for standardProject in standardProjects %}
<section class="listing">
  
  <a href="{{ path('sp_show_project', {'slug': standardProject.slug}) }}">
    <img src="{{ standardProject.picture }}" width="100" height="100"/>
  </a>

  <div class="listingItemInfo">
    <h4 class="ellipsis"><a href="{{ path('sp_show_project', {'slug': standardProject.slug}) }}">{{ standardProject.name }} ({{ standardProject.slug|lower }})</a></h4>
    <div class="ellipsis">{{ standardProject.headline }}</div>
    <div class="muted"><i class="icon-calendar"></i> Created on {{ standardProject.createdAt|date("d/m/Y") }}</div>
  </div>

  <div class="listingItemRelatedObjects">

    <div class="type">
      <div class="muted pull-right">{{ standardProject.owners|length }} 
        owner{% if (standardProject.owners|length) > 1 %}s{% endif %} and {{ standardProject.participants|length }} 
        participant{% if (standardProject.participants|length) > 1 %}s{% endif %}</div>
    </div>

    <ul>
      {% if standardProject.participants|length > 5 %}
      <li>
        <div class="miniTextAvatar">...</div>
      </li>
      {% endif %}
      {% for user in standardProject.getRandomParticipantsAndOwners(5) %}
      <li>
        <a href="{{ path('u_show_user_profile', {'username': user.username}) }}">
          <img src="{{ user.avatar }}" title="{{ user.firstName }} {{ user.lastName|upper }}" width="30" height="30" class="miniAvatar"/>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

</section>
{% endfor %}

{% endif %}

{% endblock %}