{% extends 'metaStandardProjectProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.standardProject.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/bootstrap-editable.js' 
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
                   '@metaGeneralBundle/Resources/public/js-edit/markdown-editor/*' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    {% if base.canEdit %}<div class="changeAvatar"><a href="#"><i class="icon-pencil"></i> change</a></div>{% endif %}
    <img src="{{ asset(base.standardProject.picture) }}" width="150" height="150" class="avatar"/>
{% if base.isAlreadyWatching %}
    <a href="{{ path('sp_unwatch_project', {'slug': base.standardProject.slug}) }}" class="btn btn-info watchAction">Unwatch project</a>
{% else %}
    <a href="{{ path('sp_watch_project', {'slug': base.standardProject.slug}) }}" class="btn btn-success watchAction">Watch project</a>
{% endif %}
  </div>

  <div class="projectInfo">

    <h2 class="ellipsis">
      <span class="editable" data-title="Change the title of this project" data-name="name" data-url="{{ path('sp_edit_project', {'slug': base.standardProject.slug}) }}">{{ base.standardProject.name }}</span>
    </h2>
    <h4 class="ellipsis">
      <span class="editable" data-title="Change the headline of this project" data-name="headline" data-emptytext="Click to add a headline" data-url="{{ path('sp_edit_project', {'slug': base.standardProject.slug}) }}" data-type="textarea">{{ base.standardProject.headline }}</span>
    </h4>
    <div>
      <i class="icon-calendar"></i> Created on {{ base.standardProject.createdAt|date("d/m/Y") }}
    </div>

    <div>
      <i class="icon-beaker"></i> 

      {% if base.standardProject.neededSkills|length > 0 %}
      Needed skills :
      {% endif %}
      <ul data-toggle="manual" data-title="What skills are needed for this project?" data-emptytext="Add needed skills" data-url="{{ path('sp_edit_project', {'slug': base.standardProject.slug}) }}" data-type="checklist" data-source="{{ path('u_list_all_skills') }}" data-name="skills" data-type="select" class="skills skills-target editable-li">
    {% for skill in base.standardProject.neededSkills %}<li class="label" rel="{{ skill.slug }}">{{ skill.name }}</li>{% endfor %}
      </ul>
      {% if base.canEdit %} <a class="editable-trigger" data-target="skills">&hellip;<i class="icon-pencil"></i></a>{% endif %}

    </div>

  </div>

  <div class="projectAbout">
    <div>{{ base.standardProject.owners|length }} owner{% if base.standardProject.owners|length > 1 %}s{% endif %}</div>
    <div>{{ base.standardProject. participants|length }} participating</div>
    <div>{{ base.standardProject.watchers|length }} watching</div>
  </div>
{% endblock %}

{% block navbar %}
{% render "metaStandardProjectProfileBundle:Default:navbar" with { 'activeMenu' : 'info', 'slug' : base.standardProject.slug } %}
{% endblock %}