{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} > Projects{% endblock %}


{% block body %}
<header class="project">
{% block header %}{% endblock %}
</header>
{% block navbar %}{% endblock %}
<div class="content project clearfix">
{% block content %}{% endblock %}
</div>
<footer>
{% block footer %}{% endblock %}
</footer>
{% endblock %}


{% block javascripts %}
{% javascripts '@metaStandardProjectProfileBundle/Resources/public/js/*' output='js/min/meta.min.js' filter='?yui_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{% stylesheets '@metaStandardProjectProfileBundle/Resources/public/css/*' filter='?yui_css,cssrewrite' %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{{ parent() }}
{% endblock %}