<!-- <div class="timeline_filters">
  <select id="timeline_filters" class="select2-trigger" multiple="multiple" data-placeholder="{{ "timeline.placeholder"|trans }}">
    {% for group in filter_groups %}
    <option value="{{ group }}">{{ ("groups." ~ group)|trans({}, "logs") }}</option>
    {% endfor %}
  </select>
  <button class="btn" id="timeline_reset">{{ "timeline.reset.filters"|trans }}</button>
</div> -->

{# Actual timeline #}
<ul class="timeline">
{% spaceless %}
{% for step in timeframe %}

  {% if step.data|length > 0 %}

    <li class="step">{{ step.name }}</li>

    {% for item in step.data %}
      <li class="log" {{ item.groups|join(' ') }}>
        {{ item.text|raw }}
      </li>
    {% endfor %}

  {% endif %}

{% endfor %}
{% endspaceless %}
</ul>