<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}igneet{% endblock %}</title>

{% block stylesheets %}

{% stylesheets 'bundles/metageneral/css/_custom.scss' 
filter='?yui_css,cssrewrite' output='css/min/base.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% javascripts '@BazingaExposeTranslationBundle/Resources/public/js/translator.min.js'
           '@metaGeneralBundle/Resources/public/js/general.behaviour.js' filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    {% import '_locale.html.twig' as locale %}
    <script src="{{ url('bazinga_exposetranslation_js', { '_locale' : locale.echoLocaleCode() }) }}"></script>
{% if ga_tracker_id != "0" %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ga_tracker_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
{% endif %}
{% endblock %}

    <footer>
    &copy; copyright <a href="https://about.me/tchap">tchap</a> 2012-{{ "now"|date('Y') }} | <a href="http://igneet.com/terms">{{ "terms"|trans }}</a> | <a href="http://mantis.tchap.me" target="_blank">{{ "report.bug"|trans }}</a>
    </footer>

  </body>
</html>
