<!DOCTYPE html>
{% import '_locale.html.twig' as locale %}
<html lang="{{ locale.echoLocaleCode() }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}igneet{% endblock %}</title>

    <link href="apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />

{% block stylesheets %}

{% stylesheets 'bundles/metageneral/css/_custom.scss' 
filter='?yui_css,cssrewrite' output='css/min/base.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
{# NOTE THAT THE OPENING BODY TAG IS DEPORTED IN THE BODY BLOCK #}
{% block body %}<body>{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% javascripts '@BazingaJsTranslationBundle/Resources/public/js/translator.min.js'
               '@metaGeneralBundle/Resources/public/js/alertify.js'
               filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    <script src="{{ url('bazinga_jstranslation_js') }}?locales={{ locale.echoLocaleCode() }}"></script>
{% if ga_tracker_id != "0" %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ga_tracker_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
{% endif %}

     <script type="text/javascript">
    {% for type in ['success', 'warning', 'error', 'info'] %}
      {% for flashMessage in app.session.flashbag.get(type) %}
        alertify.log("{{ flashMessage }}", "{{ type }}", 0);
      {% endfor %}
    {% endfor %}
    </script>

{% endblock %}

    <footer>
    &copy; copyright <a href="https://about.me/tchap">tchap</a> 2012-{{ "now"|date('Y') }} | <a href="http://igneet.com/terms">{{ "terms"|trans }}</a>
    </footer>

{% if uservoice_enabled %}
    <script>
    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/{{ uservoice_id }}.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

    UserVoice.push(['set', {
      accent_color: '#408EBF',
      trigger_color: 'white',
      trigger_background_color: '#408EBF'
    }]);

    {% if app.user %}
    UserVoice.push(['identify', {
      email:      '{{ app.user.email }}',
      name:       '{{ app.user.getFullName() }}',
      created_at: {{ app.user.createdAt|date('U') }},
      id:         {{ app.user.id }},
      type:       {% if is_granted('ROLE_ADMIN') %}'Admin'{% else %}'User'{% endif %}
    }]);
    {% endif %}

    UserVoice.push(['addTrigger', { mode: 'smartvote', trigger_position: 'bottom-right' }]);
    UserVoice.push(['autoprompt', {}]);
    </script>
{% endif %}

  </body>
</html>
