<!DOCTYPE html>
<html>
    <head>
        {% set lang = { 0:'en', 1:'English' } %}
        {% for key, item in available_languages %}
          {% if item.code == app.session.get('_locale') %}{% set lang = { 0: key, 1: item.name } %}{% endif %}
        {% endfor %}
        <meta charset="UTF-8" />
        <title>{% block title %}igneet{% endblock %}</title>

{% block stylesheets %}

{% stylesheets  'bundles/metageneral/css/bootstrap.css' 
                'bundles/metageneral/css/font-awesome.css' 
                'bundles/metageneral/css/select2.css' 
                'bundles/metageneral/css/style.css' 
  filter='?yui_css,cssrewrite' output='css/min/base.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <header>
          <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
              <a class="brand" href="{{ path('home') }}"><i class='icon-fire'></i> igneet</a>
              {% render(controller("metaUserBundle:Security:currentUserMenu")) %}
            </div>
          </div>
        </header>
        
        <div id="flashes">

        {% for flashMessage in app.session.flashbag.get('success') %}
          <div class="alert alert-success">
              {{ flashMessage }}
              <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
          <div class="alert alert-warning">
              {{ flashMessage }}
              <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="alert alert-error">
              {{ flashMessage }}
              <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
          <div class="alert alert-info">
              {{ flashMessage }}
              <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
        {% endfor %}

        </div>

        <div id="workspace">
          <div class="cardContainer">
            <div class="card">
{% block body %}{% endblock %}
            </div>
          </div>
        </div>

{% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% javascripts '@metaGeneralBundle/Resources/public/js/bootstrap.js'
               '@BazingaExposeTranslationBundle/Resources/public/js/translator.min.js'
               '@metaGeneralBundle/Resources/public/js/select2.js'
               '@metaGeneralBundle/Resources/public/js/general.behaviour.js' filter='?yui_js' %}
        <script src="{{ asset_url }}"></script>
{% endjavascripts %}
        <script src="{{ url('bazinga_exposetranslation_js', { '_locale' : lang[0] }) }}"></script>
{% if ga_tracker_id != 0 %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ ga_tracker_id }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
{% endif %}
{% endblock %}

        <footer>
        &copy; copyright <a href="https://about.me/tchap">tchap</a> 2012-{{ "now"|date('Y') }} | {{ "terms"|trans }} | <a href="http://mantis.tchap.me" target="_blank">{{ "report.bug"|trans }}</a>
        </footer>

    </body>
</html>
