{% extends '::_base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@metaGeneralBundle/Resources/public/js/general.behaviour.js' 
          filter='?yui_js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}

{% if template is defined and template == "full" %}
<body class="full">
{% else %}
<body class="card">
{% endif %}

<menu role="menu">

  <a href="{{ path('g_home_community') }}" class="logo"><img src="{{ asset('/bundles/metageneral/img/logo/logo-64.png') }}" /><span>Igneet</span></a>

  {% render(controller("metaUserBundle:Security:currentUserMenu", { 'shortcode': shortcode|default(null) })) %}

  {% render(controller("metaGeneralBundle:Announcement:getAnnouncements")) %}

</menu>

<div class="content-container menu-push">

  <nav role="mobile">
    <a href="#" class="menu-trigger"><i class="fa fa-bars fa-lg"></i></a>
    <a href="{{ path('g_home_community') }}" class="logo"><img src="{{ asset('/bundles/metageneral/img/logo/logo-64.png') }}" /><span>Igneet</span></a>
    <a href="{{ path('u_show_user_notifications') }}" class="notifications" title="{{ "user.notifications.help"|trans }}">
      <div>
        <i role="loading" class="fa fa-fw fa-spinner fa-spin"></i>
        <i role="loaded" class="fa fa-fw fa-bell" style="display: none;"></i><span class="help"> {{ "user.notifications.title"|trans }}</span>
      </div>
      <div class="notificationsCount" data-update-path="{{ path('u_count_user_notifications') }}" style="display: none;"></div>
    </a>
  </nav>

{% block container %}{% endblock %}
</div>

{% endblock %}
