{% extends '::_base.html.twig' %}

{% block body %}

<menu role="navigation">

  <a href="{{ path('g_home_community') }}" class="logo"><img src="{{ asset('/bundles/metageneral/img/logo/logo-64.png') }}" /><span>Igneet</span></a>

  {% render(controller("metaUserBundle:Security:currentUserMenu")) %}

  {% if shortcode is defined %}
    <div class="shortcode">
      <a id="shortcode-trigger" href="#">
        <i class="fa fa-link fa-lg"></i> 
      </a>
      <form role="shortcode">
        <input type="text" onfocus="this.select()" value="{{ shortcode }}" />
      </form>
    </div>
  {% endif %}

</menu>

<div class="push-wrapper">

  <div id="flashes">

  {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
  {% endfor %}
  {% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
  {% endfor %}
  {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
  {% endfor %}
  {% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
  {% endfor %}

  </div>

  <div class="content-container">
  {% block container %}{% endblock %}
  </div>

</div>
{% endblock %}
