<ul class="nav">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="{{ path('sp_list_projects') }}">All Projects</a></li>
  <li><a href="{{ path('i_list_ideas') }}">All Ideas</a></li>
  <li><a href="{{ path('i_list_archived_ideas') }}">All Archived Ideas</a></li>
  <li><a href="{{ path('u_show_list_recent_created') }}">All Users</a></li>
</ul>
<div class="pull-right">
  <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class='icon-circle'></i>
        </a>
        <ul class="dropdown-menu">
            <li><a>Notifications [WIP]</a></li>
        </ul>
      </li>
  </ul>
</div>
<div class="pull-right">
  <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ asset(user.getAvatar()) }}" width="20px" height="20px" class="smallHeaderAvatar"/> {{ user.getFullName() }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('u_me') }}"><i class="icon-user"></i> My profile</a></li>
            <li><a href="{{ path('u_show_user_dashboard') }}"><i class="icon-dashboard"></i> My dashboard</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('invite') }}"><i class="icon-envelope"></i> Invite Someone</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}"><i class="icon-off"></i> Logout</a></li>
        </ul>
      </li>
  </ul>
</div>
