{% extends 'metaProjectBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.resources.title"|trans }} : {{ resource.title }} {% endblock %}

{% set shortcode %}[[resource:{{ resource.id|to_uid }}]]{% endset %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'resources', 'uid' : base.project.id|to_uid })) %}
{% endblock %}

{% form_theme form _self %}

{% block form_row %}
<section>
<div class="sectionTitle">{{ form_label(form) }}</div>
<div class="sectionContent">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</div>
</section>
{% endblock form_row %}

{% block content %}
<section>
  <h3>
    <img src="{{ asset('/bundles/metageneral/img/icons/' ~ types[resource.type].icon ~ '.png') }}" width="32px" height="32px"/>
    <span class="editable" data-title="{{ "project.resources.titleHelp"|trans }}" data-name="title" data-url="{{ path('p_show_project_resource_edit', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('edit') }) }}" data-type="text">{{ resource.title }}</span>
  </h3>

  <div class="resourceDetail">
    <img src="{{ asset('/bundles/metageneral/img/icons/' ~ providers[resource.provider].icon ~ '.png') }}" width="16px" height="16px"/>
    <span>{{ ('providers.' ~ resource.provider)|trans({}, 'resources') }}</span> - <span>{{ ('resources.' ~ resource.type)|trans({}, 'resources') }}</span>
    
    {% if resource.originalfilename %}
    <div>{{ "project.resources.original"|trans }} : <strong>{{ resource.originalFilename }}</strong> (<em>{{ "project.resources.latest"|trans({ '%date%': resource.latestVersionUploadedAt|date("date.fullFormat"|trans)}) }}</em>)</div>
    {% endif %}

    <div>
    {% if types[resource.type].displayable or not providers[resource.provider].downloadable %}<a title="{{ "project.resources.openHelp"|trans }}" href="{{ resource.url }}" target="_blank"><i class="fa fa-external-link"></i> {{ "project.resources.open"|trans }}</a>{% endif %}
    {% if providers[resource.provider].downloadable %}<a href="{{ path('p_show_project_resource_download', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid})}}"><i class="fa fa-download"></i> {{ "project.resources.download"|trans }}</a>{% endif %}
    </div>

    <div>
      {% if resource.tags|length > 0 or base.canEdit %}
        {{ "tags.title"|trans }} :
      {% elseif not base.canEdit %}
        {{ "tags.none"|trans }}
      {% endif %}
      <ul data-toggle="manual" data-title="{{ "tags.help"|trans }}" data-emptytext="{{ "tags.emptyText"|trans }}" data-url="{{ path('p_show_project_resource_edit', {'uid': base.project.id|to_uid, 'resource_uid' : resource.id|to_uid, 'token': csrf_token('edit') }) }}" data-type="select2" data-name="tags" class="tags tags{{ resource.id|to_uid }}-target editable-li" >
      {% for tag in resource.tags %}<li class="label label-default" rel="{{ tag.name }}">{{ tag.name }}</li>{% endfor %}
      </ul>
      {% if base.canEdit %} <a class="editable-trigger" data-target="tags{{ resource.id|to_uid }}">&hellip;<i class="fa fa-pencil"></i></a>{% endif %}
    </div>
  </div>
</section>
{% if base.canEdit %}

<form action="{{ path('p_show_project_resource_edit', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('edit')}) }}" method="post" {{ form_enctype(form) }}>
  <section>
    <h4>{{ "project.resources.change"|trans }} :</h4>
  </section>
  {{ form_widget(form) }}
  <input type="hidden" name="name" value="urlOrFile" />
  <section>
    <div class="sectionTitle"></div>
    <div class="sectionContent">
      <input type="submit" value="{{ "change"|trans }}" class="btn btn-info" />
    </div>
  </section>
</form>
<section class="colored warning">
  <div class="sectionTitle">{{ "project.resources.delete"|trans }} : </div>
  <div class="sectionContent"><a class="btn btn-danger" data-confirm="{{ "project.resources.deleteHelp"|trans }}" href="{{ path('p_show_project_resource_delete', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('delete')}) }}">{{ "delete"|trans }}</a> <span class="muted">( <i class="fa fa-warning"></i> {{ "deleteHelp"|trans }} )</span></div>
</section>
{% endif %}
{% endblock %}