{% spaceless %}
<ul>
  <li><a href="{{ path('a_home') }}"><i class="fa fa-home"></i><span class="help"> Home</span></a></li>
  <li><a href="{{ path('a_stats_home') }}"><i class="fa fa-bar-chart-o"></i><span class="help"> Statistics</span></a></li>
  <li><a href="{{ path('a_communities') }}"><i class="fa fa-group"></i><span class="help"> Communities</span></a></li>
  <li><a href="{{ path('a_announcements') }}"><i class="fa fa-bullhorn"></i><span class="help"> Announcements</span></a></li>
  <li><a href="{{ path('a_billing_plans') }}"><i class="fa fa-credit-card"></i><span class="help"> Billing plans</span></a></li>
</ul>
{% endspaceless %}