{% extends '::base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<header>
  <h1>Administration</h1>
</header>
<div class="content clearfix">

  {{ include('metaAdminBundle:Default:_datepicker.html.twig', {'admin_route': 'a_home'}) }}
  
  <section>

    <h4>Turnover / Churn</h4>
    <ul>
      <li>New users : {{ stats.nb_created }} (Get the <a href="{{ path('a_new_users', { 'start': start_date, 'end': end_date} ) }}">full list</a>)</li>
      <li>Lost users : {{ stats.nb_deleted }}</li>
    </ul>

    <h4>User base</h4>

    <ul>
      {% set total_users_prev = stats.total_users - stats.nb_created + stats.nb_deleted %}
      <li>Total users at the start of the period : {{ total_users_prev }}</li>
      <li>Total users at the end of the period : {{ stats.total_users }} (evol. {{ ((stats.total_users - total_users_prev) * 100 / stats.total_users)|number_format(1, '.', ',') }}%)</li>
    </ul>

    <h4>Activity</h4>

    <ul>
      <li>Active during the period : {{ stats.active_users }}</li>
      <li>Notified during the period : {{ stats.notified_users }}</li>
    </ul>
    
  </section>
</div>
{% endblock %}


