{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Home{% endblock %}

{% block content %}
<div class="wrapper tiles">

  <section>
    <div class="tile">
      <div class="label">
        <h2><i class="fa fa-bar-chart-o"></i> Statistics</h2>
      </div>
      <div class="content">
        <p>Access all statistics regarding the use of the site</p>
      </div>
      <div class="actions">
        <a href="{{ path('a_stats_home') }}" class="button button-info">See overall statistics</a>
        <a href="{{ path('a_stats_users') }}" class="button button-success">See users statistics</a>
      </div>
    </div>

    <div class="tile">
      <div class="label">
        <h2><i class="fa fa-bullhorn"></i> Announcements</h2>
      </div>
      <div class="content">
        <p>Prepare and manage special announcements for users</p>
      </div>
      <div class="actions">
        <a href="{{ path('a_announcements') }}" class="button button-info">Manage</a>
      </div>
    </div>

    <div class="tile">
      <div class="label">
        <h2><i class="fa fa-group"></i> Communities</h2>
      </div>
      <div class="content">
        <p>Manage communities and their validity periods</p>
      </div>
      <div class="actions">
        <a href="{{ path('a_communities') }}" class="button button-info">Manage</a>
      </div>
    </div>

     <div class="tile">
      <div class="label">
        <h2><i class="fa fa-credit-card"></i> Billing</h2>
      </div>
      <div class="content">
        <p>Manage billing plans, agreements and options</p>
      </div>
      <div class="actions">
        <a href="{{ path('a_billing_plans') }}" class="button button-info">Manage plans</a>
        <a href="{{ path('a_billing_agreements') }}" class="button button-info">Manage agreements</a>
      </div>
    </div>

    <div class="tile">
      <div class="label">
        <h2><i class="fa fa-hdd-o"></i> Storage</h2>
      </div>
      <div class="content">
        <p>All files total : <strong id="total_storage" data-url="{{ path('a_communities_storage') }}" ><i class="fa fa-cog fa-spin"></i></strong></p>
        <p># of Resources : <strong id="total_files"><i class="fa fa-cog fa-spin"></i></strong></p>
      </div>
      <div class="actions">
        <a class="button button-warning" href="{{ path('a_prune') }}">List prunables</a>
      </div>
    </div>

    <div class="tile">
      <div class="label">
        <h2><i class="fa fa-code-fork"></i> Changelog</h2>
      </div>
      <div class="content">
        <p>See latest commits, modified files and version</p>
      </div>
      <div class="actions">
        <a href="{{ path('a_changelog') }}" class="button button-error">View</a>
      </div>
    </div>

</div>
{% endblock %}


