{% extends '::base.html.twig' %}

{% block title %}Administration > New Users {% endblock %}

{% block body %}
<header>
  <h1>Administration</h1>
</header>
<div class="content clearfix">

  {{ include('metaAdminBundle:Default:_datepicker.html.twig', {'admin_route': 'a_new_users'}) }}
  
  <section>

    <h4>List of new users (non deleted yet)</h4>

    {% if users|length == 0 %}
    No new users in this period
    {% else %}
    <ul>
      {% for user in users %}
      <li>{{ user.getFullName() }} (<a href="{{ path('u_show_user_profile', {'username': user.username}) }}">{{ user.username }}</a>) — créé le {{ user.createdAt|date('d-m-Y') }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</div>
{% endblock %}


