<h3>{{ "mail.hello"|trans }}</h3>

{% if flavour == 'reactivate' %}
  <p>{{ "user.reactivation.mail.body"|trans }} :</p> 
{% else %}
  <p>{{ "user.passwordChange.mail.body"|trans }} :</p> 
{% endif %}

  <p><a href="{{ url('change_password', { 'passwordToken': passwordToken } ) }}">{{ url('change_password', { 'passwordToken': passwordToken } ) }}</a></p>

<p>{{ "user.passwordChange.mail.tip"|trans({ '%username%' : user.username }) }}</p> 

<p><em>{{ "mail.automated"|trans }}</em></p>
<p><strong>{{ "team"|trans }}</strong></p>
