{% extends ':mail:template.html.twig' %}

{% block title %}
{{ "user.passwordChange.mail.title"|trans }}
{% endblock %}

{% block body %}
<h3>{{ "mail.hello"|trans }}</h3>

<p>{{ "user.passwordChange.mail.body"|trans }} :</p> 

<p><a href="{{ url('change_password', { 'passwordToken': passwordToken } ) }}">{{ url('change_password', { 'passwordToken': passwordToken } ) }}</a></p>

<p>{{ "user.passwordChange.mail.tip"|trans({ '%username%' : user.username }) }}</p> 
{% endblock %}

{% block link %}
<p>{{ "user.passwordChange.mail.error"|trans }}</p> 
{% endblock %}