<h3>{{ "mail.hello"|trans }}</h3>

<p>
  {{ "user.creation.mail.body.one"|trans }}
</p> 

<p>
  {{ "user.creation.mail.body.list.title"|trans }}
</p> 
<ul>
  <li>{{ "user.creation.mail.body.list.one"|trans }}</li>
  <li>{{ "user.creation.mail.body.list.two"|trans }}</li>
  <li>{{ "user.creation.mail.body.list.three"|trans }}</li>
</ul>
<p>
  {{ "user.creation.mail.body.two"|trans }}
</p> 
<p>
  {{ "user.creation.mail.body.envoy"|trans }}
</p> 

<p><em>{{ "mail.automated"|trans }}</em></p>
<p><strong>{{ "team"|trans }}</strong></p>
