{% extends 'metaIdeaBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "idea.new"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/select2.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-beaker"></i></div>
  </div>
  <div class="objectHeader">
    <h2>{{ "idea.new"|trans }}</h2>
    <h4>{{ "idea.createHelp"|trans }}</h4>
  </div>
{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' with field_widget as base_field_widget %}

{% block field_widget %}
    {{ block('base_field_widget') }}
    {% if required or attr.help is defined %}
        <span class="help-block">{% if required %}<span class="muted">* {{ "required"|trans }}.</span>{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</span>
    {% endif %}
{% endblock %}
  
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li><i class="icon-warning-sign"></i> {{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
<div class="control-group {% if errors %}error{% endif %}">
  <label class="control-label" for="inputEmail">{{ form_label(form) }}</label>
  <div class="controls">
    {{ form_widget(form) }}
    {% if errors %}
    <span class="help-block error-block">{{ form_errors(form) }}</span>
    {% endif %}
  </div>
</div>
{% endblock form_row %}

{% block content %}
<div class="formContent">
  <form action="{{ path('i_new_idea') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
      {{ form_widget(form) }}
      <div class="form-actions">
        <input type="submit" value="{{ "idea.create"|trans }}" class="btn btn-success" />
      </div>
  </form>
</div>
{% endblock %}