{% extends 'metaIdeaBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.idea.name }}{% endblock %}

{% set shortcode %}[[idea:{{ base.idea.id|to_uid }}]]{% endset %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}


{% block header %}
  <div class="headerAvatarAndActions">
    {% if base.canEdit %}<div class="changeAvatar"><a href="{{ path('i_edit_idea_reset_picture', {'uid': base.idea.id|to_uid, 'token': csrf_token('resetPicture')  }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="fa fa-trash-o"></i></a> | <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64, 'token': csrf_token('edit') }) }}"><i class="fa fa-pencil"></i> {{ "picture.change"|trans }}</a></div>{% endif %}
    <img src="{{ asset(base.idea.getPicture()) }}" width="150" height="150" class="avatar"/>
{% if base.isAlreadyWatching %}
    <a href="{{ path('i_unwatch_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('unwatch') }) }}" class="btn btn-info watchAction">{{ "idea.unwatch"|trans }}</a>
{% else %}
    <a href="{{ path('i_watch_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('watch') }) }}" class="btn btn-success watchAction">{{ "idea.watch"|trans }}</a>
{% endif %}
  </div>

  <div class="ideaInfo">

    <h2 class="ellipsis">
      {% if base.idea.archived %}<i class="fa fa-folder"></i> {% endif %}<span class="editable" data-title="{{ "idea.titleHelp"|trans }}" data-name="name" data-url="{{ path('i_edit_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('edit') }) }}">{{ base.idea.name }}</span>
    </h2>
    <h4 class="ellipsis">
      <span class="editable" data-title="{{ "idea.headlineHelp"|trans }}" data-name="headline" data-emptytext="{{ "idea.headlineEmptyText"|trans }}" data-url="{{ path('i_edit_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('edit') }) }}" data-type="textarea" title="{{ base.idea.headline }}">{{ base.idea.headline }}</span>
    </h4>
    <div>
      <i class="fa fa-calendar"></i> {{ "idea.info.created.short"|trans({'%date%': base.idea.createdAt|date("date.fullFormat"|trans)}) }}
    </div>
    {% if base.idea.archivedAt %}
    <div>
      <i class="fa fa-save"></i> {{ "idea.info.archived.short"|trans({'%date%': base.idea.archivedAt|date("date.fullFormat"|trans)}) }}
    </div>
    {% endif %}
    {% if base.isCreator %}
    <div>
      {% if not base.idea.archived %}
        <i class="fa fa-external-link"></i> <a data-confirm="{{ "idea.projectizeHelp"|trans }}" href="{{ path('i_turn_idea_into_project', {'uid': base.idea.id|to_uid, 'token': csrf_token('projectize')  }) }}">{{ "idea.projectize"|trans }}</a> -
        <a data-confirm="{{ "idea.archiveHelp"|trans }}" href="{{ path('i_archive_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('archiveOrRecycle') }) }}">{{ "idea.archive"|trans }}</a>
      {% else %}
        <i class="fa fa-refresh"></i> <a data-confirm="{{ "idea.recycleHelp"|trans }}" href="{{ path('i_recycle_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('archiveOrRecycle') }) }}">{{ "idea.recycle"|trans }}</a>
      {% endif %}
    </div>
    {% endif %}

    {% if base.idea.community is null %}
    <div>
      <i class="fa fa-group"></i> <a href="{{ path('g_choose_community', {'targetAsBase64': base.targetProposeToCommunityAsBase64 , 'token': csrf_token('edit') }) }}">{{ "idea.propose"|trans }}</a>
    </div>
    {% endif %}
  </div>

  <div class="ideaAbout">
    <div>{{ "idea.watchers"|transchoice(base.idea.countWatchers, { '%count': base.idea.countWatchers}) }}</div>
  </div>
{% endblock %}

{% block navbar %}
{% render(controller("metaIdeaBundle:Idea:navbar",{ 'activeMenu' : 'info', 'uid' : base.idea.id|to_uid })) %}
{% endblock %}