{% extends 'metaIdeaProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.idea.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/bootstrap-editable.js' 
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
                   '@metaGeneralBundle/Resources/public/js-edit/markdown-editor/*' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    {% if base.isCreator %}<div class="changeAvatar"><a href="#"><i class="icon-pencil"></i> change</a></div>{% endif %}
    <img src="{{ asset(base.idea.picture) }}" width="150" height="150" class="avatar"/>
{% if base.isAlreadyWatching %}
    <a href="{{ path('i_unwatch_idea', {'id': base.idea.id}) }}" class="btn btn-info watchAction">Unwatch idea</a>
{% else %}
    <a href="{{ path('i_watch_idea', {'id': base.idea.id}) }}" class="btn btn-success watchAction">Watch idea</a>
{% endif %}
  </div>

  <div class="ideaInfo">

    <h2 class="ellipsis">
      <span class="editable" data-title="Change the title of this idea" data-name="name" data-url="{{ path('i_edit_idea', {'id': base.idea.id}) }}">{{ base.idea.name }}</span>
    </h2>
    <h4 class="ellipsis">
      <span class="editable" data-title="Change the headline of this idea" data-name="headline" data-emptytext="Click to add a headline" data-url="{{ path('i_edit_idea', {'id': base.idea.id}) }}" data-type="textarea">{{ base.idea.headline }}</span>
    </h4>
    <div>
      <i class="icon-calendar"></i> Created on {{ base.idea.createdAt|date("d/m/Y") }}
    </div>
    <div>
      <i class="icon-user"></i> An idea by <a href="{{ path('u_show_user_profile', {'username': base.idea.creator.username}) }}">{{ base.idea.creator.firstName }} {{ base.idea.creator.lastName }}</a>
    </div>
    {% if app.user == base.idea.creator %}
    <div>
      <i class="icon-external-link"></i> Turn this idea <a href="{{ path('i_turn_idea_into_project', {'id': base.idea.id}) }}">into a project</a>. <span class="muted">( <i class="icon-warning-sign"></i> Warning : you cannot undo this )</span>
    </div>
    {% endif %}
  </div>

  <div class="ideaAbout">
    <div>{{ base.idea.watchers|length }} watching</div>
  </div>
{% endblock %}

{% block content %}
<section>
  <div class="wmd-heading"><i class="icon-book"></i> Knowledge {% if base.canEdit %}<a class="pull-right markdown-trigger">&hellip;<i class="icon-pencil"></i></a>{% endif %}</div>
  <div>

      <div class="wmd-wrapper well well-small hide" >
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea data-name="knowledge_text" data-url="{{ path('i_edit_idea', {'id': base.idea.id}) }}" class="wmd-input" id="wmd-input">{{ base.idea.knowledgeText }}</textarea>
        </div>
        <div>
          <button id="wmd-save" class="btn btn-primary">Save</button> <span class="muted wmd-message">Click 'Save' to commit your changes</span>
        </div>
      </div>

    <div id="wmd-preview" class="about">{{ base.idea.knowledgeText|markdown }}</div>

  </div>
</section>
<section>
  <div class="wmd-heading"><i class="icon-cogs"></i> Concept {% if base.canEdit %}<a class="pull-right markdown-trigger">&hellip;<i class="icon-pencil"></i></a>{% endif %}</div>
  <div>

      <div class="wmd-wrapper well well-small hide" >
        <div class="wmd-panel">
            <div id="wmd-button-bar-second"></div>
            <textarea data-name="concept_text" data-url="{{ path('i_edit_idea', {'id': base.idea.id}) }}" class="wmd-input" id="wmd-input-second">{{ base.idea.conceptText }}</textarea>
        </div>
        <div>
          <button id="wmd-save-second" class="btn btn-primary">Save</button> <span class="muted wmd-message">Click 'Save' to commit your changes</span>
        </div>
      </div>

    <div id="wmd-preview-second" class="about">{{ base.idea.conceptText|markdown }}</div>

  </div>
</section>
<section class="colored">
  <div class="sectionTitle">{% if base.idea.participants|length > 0 %}Participants : {% else %}No participant yet ...{% endif %}</div>
  <ul class="users sectionContent">
  {% for participatingUser in base.idea.participants %}
      <li>
        <a href="{{ path('u_show_user_profile', {'username': participatingUser.username}) }}">
          <img src="{{ participatingUser.avatar }}" width="70" height="70" class="smallAvatar"/>
          <div class="smallObjectInfos">
            <span><div>{{ participatingUser.firstName }}</div><div>{{ participatingUser.lastName|upper }}</div></span>
          </div>
        </a>
        {% if base.isCreator %}<a class="removeUserIcon" href="{{ path('i_remove_participant_to_idea', { 'id': base.idea.id, 'username' : participatingUser.username }) }}"><i class="icon-remove-sign icon-large"></i></a>{% endif %}
      </li>
  {% endfor %}
  {% if base.isCreator %}
      <li>
        <a href="{{ path('u_choose_user', {'owner': false}) }}">
          <div class="smallTextAvatar"><i class="icon-plus-sign"></i></div>
          <div class="smallObjectInfos">
            <span>Add a Participant</span>
          </div>
        </a>
      </li>
  {% endif %}
  </ul>
</section>
{% endblock %}