{% extends 'metaIdeaProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.idea.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/bootstrap-editable.js' 
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
                   '@metaGeneralBundle/Resources/public/js-edit/markdown-editor/*' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets  'bundles/metageneral/css-edit/bootstrap-editable.css' 
    filter='?yui_css,cssrewrite' %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    {% if base.isCreator %}<div class="changeAvatar"><a href="{{ path('i_edit_idea_reset_picture', {'id': base.idea.id }) }}" alt="Reset to default picture"><i class="icon-trash"></i></a> | <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64 }) }}"><i class="icon-pencil"></i> change</a></div>{% endif %}
    <img src="{{ asset(base.idea.picture) }}" width="150" height="150" class="avatar"/>
{% if base.isAlreadyWatching %}
    <a href="{{ path('i_unwatch_idea', {'id': base.idea.id}) }}" class="btn btn-info watchAction">Unwatch idea</a>
{% else %}
    <a href="{{ path('i_watch_idea', {'id': base.idea.id}) }}" class="btn btn-success watchAction">Watch idea</a>
{% endif %}
  </div>

  <div class="ideaInfo">

    <h2 class="ellipsis">
      <span class="editable" data-title="Change the title of this idea" data-name="name" data-url="{{ path('i_edit_idea', {'id': base.idea.id}) }}">{{ base.idea.name }}</span>
    </h2>
    <h4 class="ellipsis">
      <span class="editable" data-title="Change the headline of this idea" data-name="headline" data-emptytext="Click to add a headline" data-url="{{ path('i_edit_idea', {'id': base.idea.id}) }}" data-type="textarea">{{ base.idea.headline }}</span>
    </h4>
    <div>
      <i class="icon-calendar"></i> Created on {{ base.idea.createdAt|date("d/m/Y") }}
    </div>
    <div>
      <i class="icon-user"></i> An idea by <a href="{{ path('u_show_user_profile', {'username': base.idea.creator.username}) }}">{{ base.idea.creator.firstName }} {{ base.idea.creator.lastName }}</a>{% if base.isCreator %} <span class="muted">( <i class="icon-exchange"></i><a href="{{ path('u_choose_user', {'targetAsBase64': targetOwnerAsBase64 }) }}"> Transfer ownership</a> )</span>{% endif %}
    </div>
    {% if base.isCreator %}
    <div>
      <i class="icon-external-link"></i> Turn this idea <a data-confirm="Are you sure you want to turn this idea into a project ?" href="{{ path('i_turn_idea_into_project', {'id': base.idea.id}) }}">into a project</a>. <span class="muted">( <i class="icon-warning-sign"></i> Warning : you cannot undo this )</span>
    </div>
    {% endif %}
  </div>

  <div class="ideaAbout">
    <div>{{ base.idea.watchers|length }} watching</div>
  </div>
{% endblock %}

{% block navbar %}
{% render "metaIdeaProfileBundle:Default:navbar" with { 'activeMenu' : 'info', 'id' : base.idea.id, 'slug' : base.idea.slug } %}
{% endblock %}