{% extends 'metaIdeaProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.idea.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/bootstrap-editable.js' 
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
                   '@metaGeneralBundle/Resources/public/js-edit/markdown-editor/*' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets  'bundles/metageneral/css-edit/bootstrap-editable.css' 
    filter='?yui_css,cssrewrite' %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    {% if base.canEdit %}<div class="changeAvatar"><a href="{{ path('i_edit_idea_reset_picture', {'id': base.idea.id, 'token': csrf_token('resetPicture')  }) }}" alt="Reset to default picture"><i class="icon-trash"></i></a> | <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64 }) }}"><i class="icon-pencil"></i> change</a></div>{% endif %}
    <img src="{{ asset(base.idea.getPicture()) }}" width="150" height="150" class="avatar"/>
{% if base.isAlreadyWatching %}
    <a href="{{ path('i_unwatch_idea', {'id': base.idea.id, 'token': csrf_token('unwatch') }) }}" class="btn btn-info watchAction">Unwatch idea</a>
{% else %}
    <a href="{{ path('i_watch_idea', {'id': base.idea.id, 'token': csrf_token('watch') }) }}" class="btn btn-success watchAction">Watch idea</a>
{% endif %}
  </div>

  <div class="ideaInfo">

    <h2 class="ellipsis">
      {% if base.idea.archived %}<span class="muted">[Archive]</span> {% endif %}<span class="editable" data-title="Change the title of this idea" data-name="name" data-url="{{ path('i_edit_idea', {'id': base.idea.id, 'token': csrf_token('edit') }) }}">{{ base.idea.name }}</span>
    </h2>
    <h4 class="ellipsis">
      <span class="editable" data-title="Change the headline of this idea" data-name="headline" data-emptytext="Click to add a headline" data-url="{{ path('i_edit_idea', {'id': base.idea.id, 'token': csrf_token('edit') }) }}" data-type="textarea" title="{{ base.idea.headline }}">{{ base.idea.headline }}</span>
    </h4>
    <div>
      <i class="icon-calendar"></i> Created on {{ base.idea.createdAt|date("d/m/Y") }}
    </div>
    {% if base.idea.archivedAt %}
    <div>
      <i class="icon-save"></i> Archived on {{ base.idea.archivedAt|date("d/m/Y") }}
    </div>
    {% endif %}
    {% if base.isCreator %}
    <div>
      {% if not base.idea.archived %}<i class="icon-external-link"></i> Turn this idea <a data-confirm="Are you sure you want to turn this idea into a project ?" href="{{ path('sp_choose_slug', {'targetAsBase64': base.projectizeAsBase64, 'token': csrf_token('projectize')  }) }}">into a project</a> or <a data-confirm="Are you sure you want to archive this idea ?" href="{{ path('i_archive_idea', {'id': base.idea.id, 'token': csrf_token('archiveOrRecycle') }) }}">archive</a> it.{% else %}<i class="icon-refresh"></i> <a data-confirm="Are you sure you want to recycle this idea ?" href="{{ path('i_recycle_idea', {'id': base.idea.id, 'token': csrf_token('archiveOrRecycle') }) }}">Recycle</a> this idea{% endif %}
    </div>
    {% endif %}
  </div>

  <div class="ideaAbout">
    <div>{{ base.idea.countWatchers }} watching</div>
  </div>
{% endblock %}

{% block navbar %}
{% render "metaIdeaProfileBundle:Default:navbar" with { 'activeMenu' : 'info', 'id' : base.idea.id, 'slug' : base.idea.slug } %}
{% endblock %}