{% extends 'metaProjectBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }}{% if wikiPage %} | {{ "project.wiki.title"|trans }} : {{ wikiPage.title }}{% endif %}{% endblock %}

{% set shortcode %}[[wikipage:{{ wikiPage.id|to_uid }}]]{% endset %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'wiki', 'uid' : base.project.id|to_uid })) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/jquery-nestable.js'
                   '@metaGeneralBundle/Resources/public/js-edit/nestable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block content %}
{% if wikiPages|length > 0 %}
<div class="column">
<section class="listInfo">
  <h4 class="editable" data-title="{{ "project.wiki.titleHelp"|trans }}" data-name="title" data-url="{{ path('p_show_project_wiki_edit_page', {'uid': base.project.id|to_uid, 'page_uid': wikiPage.id|to_uid, 'token': csrf_token('editWikiPage') }) }}" data-type="text">{{ wikiPage.title }}</h4>
  {% if base.canEdit %}<a class="pull-right markdown-trigger">&hellip;<i class="icon-pencil"></i></a>{% endif %}
  <div>
    {% if wikiPage.tags|length > 0 %}
      {{ "tags.title"|trans }} :
    {% elseif not base.canEdit %}
      {{ "tags.none"|trans }}
    {% endif %}
    <ul data-toggle="manual" data-title="{{ "tags.help"|trans }}" data-emptytext="{{ "tags.emptyText"|trans }}" data-url="{{ path('p_show_project_wiki_edit_page', {'uid': base.project.id|to_uid, 'page_uid': wikiPage.id|to_uid, 'token': csrf_token('editWikiPage')  }) }}" data-type="select2" data-name="tags" class="tags tags-target editable-li" >
    {% for tag in wikiPage.tags %}<li class="label" rel="{{ tag.name }}">{{ tag.name }}</li>{% endfor %}
    </ul>
    {% if base.canEdit %} <a class="editable-trigger" data-target="tags">&hellip;<i class="icon-pencil"></i></a>{% endif %}
  </div>
</section>
<section>
  <div>
    {% if base.canEdit %}
      <div class="wmd-message-top hide alert"><i class="icon-warning-sign"></i> {{ "unsaved.changes"|trans }}</div>
      <div class="wmd-wrapper well well-small hide" >
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea unsaved='no' data-name="content" data-url="{{ path('p_show_project_wiki_edit_page', {'uid': base.project.id|to_uid, 'page_uid': wikiPage.id|to_uid, 'token': csrf_token('editWikiPage') }) }}" class="wmd-input" id="wmd-input">{{ wikiPage.content }}</textarea>
        </div>
        <div>
          <button id="wmd-save" class="btn btn-primary">{{ "save"|trans }}</button> <span class="muted wmd-message">{{ "saveHelp"|trans }}</span>
        </div>
        <div id="wmd-preview" class="preview">{{ wikiPage.content }}</div>
      </div>
    {% endif %}
    
    <div class="content">{{ wikiPage.content|deeplinks|markdown }}</div>

  </div>
</section>
<section>
{% render(controller("metaProjectBundle:Comment:addWikiPageComment", { 'uid' : base.project.id|to_uid, 'page_uid': wikiPage.id|to_uid })) %}
</section>
</div>
{% macro tree(wikipages, wikiPage, base, homePage) %}
    {% for page in wikipages %}
        <li class="{% if page.id == wikiPage.id %}active {% endif %}{% if base.canEdit %}dd-item{% endif %}" id="{{ page.id|to_uid }}" data-name="parent" data-url="{{ path('p_show_project_wiki_edit_page', {'uid': base.project.id|to_uid, 'page_uid': page.id|to_uid, 'token': csrf_token('editWikiPage') }) }}">
          {% if base.canEdit %}<div class="dd-handle"><i class="icon-reorder"></i></div>{% endif %}
          {% if base.canEdit %}<a title="{{ "project.wiki.make.home"|trans }}" href="{{ path('p_show_project_wiki_make_home_page', {'uid': base.project.id|to_uid, 'page_uid': page.id|to_uid, 'token': csrf_token('makeHomeWikiPage') }) }}">{% endif %}<i class="icon-file{% if page == homePage %}-alt{% endif %}"></i>{% if base.canEdit %}</a>{% endif %}{% if base.canEdit %}<a title="{{ "delete"|trans }}" data-confirm="{{ "project.wiki.deleteHelp"|trans }}" href="{{ path('p_show_project_wiki_delete_page', {'uid': base.project.id|to_uid, 'page_uid': page.id|to_uid, 'token': csrf_token('deleteWikiPage') }) }}"><i class="icon-remove-sign"></i></a>{% endif %} 
          <a href="{{ path('p_show_project_wiki_show_page', {'uid': base.project.id|to_uid, 'page_uid': page.id|to_uid }) }}" title="{{ page.title }}" class="page_title">{{ page.title }}</a>
          {% if page.children|length > 0 %}
          <ul class="dd-list" data-value="{{ page.id|to_uid }}">
              {{ _self.tree(page.children, wikiPage, base, homePage) }}
          </ul>
          {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
{% import _self as macros %}
<div class="menu dd">
  {{ "project.wiki.pages"|trans }} :
  <ul class="lists sortable dd-list" data-value="0" data-url="{{ path('p_show_project_wiki_rank', {'uid': base.project.id|to_uid}) }}">
    {{ macros.tree(wikiPages, wikiPage, base, homePage) }}
  </ul>
  {% if base.canEdit %}
  <div class="menu_new">
    <a href="{{ path('p_show_project_wiki_new_page', {'uid': base.project.id|to_uid}) }}"><i class="icon-plus-sign"></i> {{ "project.wiki.new.page"|trans }}</a>
  </div>
  {% endif %}
</div>
{% else %}
<section>
{{ "project.wiki.no.page"|trans }}
</section>
{% endif %}
{% endblock %}