{% extends 'metaSubscriptionBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "billing.plans.title"|trans }}{% endblock %}

{% block header %}
<div class="title">
  <h2>{{ "billing.plans.title"|trans }}</h2>
  <h3>{{ "billing.plans.help"|trans({'%community%': community.name }) }}</h3>
  <p>{{ "billing.plans.text"|trans }}</p>
</div>
{% endblock %}

{% block content %}

{% if plans %}
  <section class="billing-table">

    {% if app.request.locale == "fr_FR" %}
    <div class="billing-partner">
      <!-- PayPal Logo --><a href="https://www.paypal.com/fr/webapps/mpp/paypal-popup" title="PayPal, Comment Ça Marche" onclick="javascript:window.open('https://www.paypal.com/fr/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logo_paypal_moyens_paiement_fr.jpg" border="0" alt="PayPal Accepté" /></a><!-- PayPal Logo -->
    </div>
    {% else %}
    <div class="billing-partner">
      <!-- PayPal Logo --><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a><!-- PayPal Logo -->
    </div>
    {% endif %}

    <table>
      <thead>
        <tr>
          <th>{{ "billing.plans.plans"|trans }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="small">
        {% for plan in plans %}
          <tr>
            <td>
              <h3>{{ plan.name }}</h3>
              <p>{{ plan.description }}</p>
            </td>
            <td>
              <a href="{{ path('s_create_billing_agreement', {'uid': community.id|to_uid, 'planId': plan.id, 'token': csrf_token('createBillingAgreement')}) }}" class="button button-success"><i class="fa fa-check"></i> {{ "billing.plans.choose"|trans }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% else %}
  <section>
    {{ "billing.error.retrieve"|trans }}
  </section>
{% endif %}

<section class="billing-help">
  <em>
    <i class="fa fa-question-circle"></i> {{ "billing.problems"|trans({ "%mail%": mailer_contact})|raw }}
  </em>
</section>

{% endblock %}
