{% extends 'metaSubscriptionBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "billing.plans.title"|trans }}{% endblock %}

{% block header %}
<div class="title">
  <h2>{{ "billing.plans.title"|trans }}</h2>
  <h3>{{ "billing.plans.help"|trans({'%community%': community.name }) }}</h3>
  <p>{{ "billing.plans.text"|trans }}</p>
</div>
{% endblock %}

{% block content %}

{% if plans %}
  <section class="billing-table">
    <table>
      <thead>
        <tr>
          <th>{{ "billing.plans.plans"|trans }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="small">
        {% for plan in plans %}
          <tr>
            <td>
              <h3>{{ plan.name }}</h3>
              <p>{{ plan.description }}</p>
            </td>
            <td>
              <a href="{{ path('s_create_billing_agreement', {'uid': community.id|to_uid, 'plan': plan.id, 'token': csrf_token('createBillingAgreement')}) }}" class="button button-success"><i class="fa fa-check"></i> {{ "billing.plans.choose"|trans }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% else %}
  <section>
    {{ "billing.error.retrieve"|trans }}
  </section>
{% endif %}

<section class="billing-help">
  <em>
    <i class="fa fa-question-circle"></i> {{ "billing.problems"|trans({ "%mail%": mailer_contact})|raw }}
  </em>
</section>

{% endblock %}
