{% extends 'metaSubscriptionBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "billing.communities.title"|trans }}{% endblock %}

{% block header %}
<div class="title">
  <h2>{{ "billing.communities.title"|trans }}</h2>
  <h3>{{ "billing.communities.help"|trans }}</h3>
  <p>{{ "billing.communities.text"|trans }}</p>
</div>
{% endblock %}

{% block content %}

{% if communities %}
<section>
  <table>
    <thead>
      <tr>
        <th>{{ "billing.communities.name"|trans }}</th>
        <th>{{ "billing.communities.type"|trans }}</th>
        <th>{{ "billing.communities.valid"|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="small">
      {% for community in communities %}
        <tr>
          <td>{{ community.name }}</td>
          <td><span class="community-{{ community.type }}">&#9679;</span> {{ community.type }}</td>
          <td>
            {% if community.valid and community.agreement is null %}
              <span class="billing-status-legacy"><i class="fa fa-exclamation"></i> {{ "billing.expiring"|trans }}</span>
            {% elseif community.valid %}
              <span class="billing-status-valid"><i class="fa fa-check"></i> {{ "billing.valid"|trans }}</span>
            {% else %}
              <span class="billing-status-invalid"><i class="fa fa-times"></i> {{ "billing.invalid"|trans }}</span>
            {% endif %}
          </td>
          <td>
            {% if community.valid and community.agreement is null %}
              <a href="{{ path('s_show_billing', {'uid': community.uid }) }}" class="button"><i class="fa fa-refresh"></i> {{ "billing.extend"|trans }}</a>
            {% elseif community.valid %}
              <a href="{{ path('s_show_billing', {'uid': community.uid }) }}" class="button button-success"><i class="fa fa-wrench"></i> {{ "billing.manage"|trans }}</a>
            {% else %}
              <a href="{{ path('s_show_billing', {'uid': community.uid }) }}" class="button button-danger"><i class="fa fa-warning"></i> {{ "billing.renew"|trans }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% else %}
  <section>
    {{ "billing.communities.none"|trans }}
  </section>
{% endif %}

<section class="billing-help">
  <em>
    <i class="fa fa-question-circle"></i> {{ "billing.problems"|trans({ "%mail%": mailer_contact})|raw }}
  </em>
</section>

{% endblock %}
