<span class="icon-{{ icon }} icon-large"></span> — 
<span class="label label-info">{{ date|date("H:i") }}</span>
<span class="avatar">
  <img src="{{ user.avatar }}" width="18" height="18" class="avatar"/>
</span> — 
<span>{{ text|raw }}</span>
{% if combinedCount > 1 %}
<span>({{ combinedCount }})</span>
{% endif %}