{# This is for the mails to be localized correctly #}
{% if locale is not defined %}{% set locale = app.user.getPreferredLanguage() %}{% endif %}
{% spaceless %}
<li class="log log-comment{% if comment.isDeleted %} deleted{% endif %}{% if lastNotified is defined and comment.createdAt|date('c') > lastNotified|date('c') and comment.user != app.user  %} unseen{% endif %}" comments>
  <div class="avatar">
    {% if not comment.user.isDeleted %}
    <a href="{{url('u_show_user_profile', {'username': comment.user.username}) }}" title="{{ comment.user.getFullName }}">
      <img src="{% if comment.user.isAvatarGravatar %}{{ comment.user.avatar }}{% else %}{{ base_path ~ comment.user.avatar }}{% endif %}" width="50px" height="50px"/>
    </a>
    {% else %}
    <img src="{{ base_path ~ "/bundles/metageneral/img/defaults/user.png" }}" width="50px" height="50px" title="{{ comment.user.getFullName }}"/>
    {% endif %}
  </div>

  {# No icon for comments #}

  <span class="date">{{ comment.createdAt|date("date.fullFormat"|trans({}, 'messages', locale)) }}</span>

  <span class="text">{% if comment.isDeleted %}<em>{{ "comment.deleted"|trans({}, 'messages', locale) }}</em>{% else %}{{ comment.text|deeplinks|markdown }}{% endif %}</span>

  {% if comment.contextable is defined and comment.contextable == true and comment.note == "" %}
    <div class="note" style="display: none;">
      <form action="{{ path('g_note_comment', {'id': comment.id, 'token': csrf_token('addNoteComment')} ) }}" method="post" enctype="multipart/form-data">
        <textarea name="note" id="note-{{comment.id}}" type="text" placeholder="{{ "comment.note.placeholder"|trans }}" ></textarea>
        <input type="submit" class="note-add-trigger button button-info" value="{{ "comment.note.button"|trans }}">
      </form>
    </div>
  {% elseif comment.note != "" %}
    {{ include('metaGeneralBundle:Comment:commentNote.html.twig', {'note':  comment.note}) }}
  {% endif %}

  {% if not comment.isDeleted %}
  <div class="actions">

    <span class="validation{% if app.user in comment.validators %} validated{% endif %}" title="{% for user in comment.validators %}{{ user.getFullName() }}{% if not loop.last %}, {% endif %}{% endfor %}">
      <a title="{{ "comment.vote"|trans({}, 'messages', locale) }}" class="validate-trigger" data-url="{{ path('g_validate_comment', {'id': comment.id, 'token': csrf_token('validateComment')} ) }}"><i class="fa fa-thumbs-up"></i></a>
      <span>{{ comment.validators|length }}</span>
    </span>

    {% if comment.contextable is defined and comment.contextable == true and comment.note == "" %}
      <a class="note-trigger" title="{{ "comment.note.add"|trans({}, 'messages', locale) }}"><i class="fa fa-sticky-note-o"></i></a>
    {% elseif comment.note != "" %}
      <a class="note-added"><i class="fa fa-sticky-note"></i></a>
    {% endif %}
  
    {% if comment.user == app.user %}
      <a class="delete-trigger" data-url="{{ path('g_delete_comment', {'id': comment.id, 'token': csrf_token('deleteComment')} ) }}" title="{{ "comment.delete"|trans({}, 'messages', locale) }}"><i class="fa fa-trash-o"></i></a>
    {% endif %}

  </div>
  {% endif %}
</li>
{% endspaceless %}
