{% extends 'metaIdeaBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "idea.allIdeas"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/infinite.scroll.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
  
  {% if app.user.currentCommunity is not null %}
  <div class="avatar">
    <img src="{{ asset(app.user.currentCommunity.getPicture()) }}" />
  </div>
  <div class="info">
  {% else %}
  <div class="title">
  {% endif %}

    <h2>{% if archived %}{{ "idea.titleArchived"|trans }}{% else %}{{ "idea.title"|trans }}{% endif %}</h2>
    
    <h4>
      {% if app.user.currentCommunity is not null %}
        {{ "idea.listHelp.community"|trans({ '%community%': app.user.currentCommunity.name}) }}
      {% else %}
        {{ "idea.listHelp.privateSpace"|trans }}
      {% endif %}
    </h4>

    <p>
    {% if not archived %}
      <a href="{{ path('i_new_idea') }}" class="button"><i class="fa fa-pencil"></i> {{ "idea.new"|trans }}</a>
      <a href="{{ path('i_list_archived_ideas') }}" class="button button-info"><i class="fa fa-archive"></i> {{ "idea.view.archived"|trans }}</a>
    {% else %}
      <a href="{{ path('i_list_ideas') }}" class="button button-success">{{ "idea.view.all"|trans }}</a>
    {% endif %}
    </p>

  </div>
{% endblock %}

{% block content %}
<div class="wrapper list">

{% if ideas|length > 0 %}

  {# FILTERS #}
  <section class="filters">
    {{ "filters.sort"|trans }}
    <a href="{{ path(archived?'i_list_archived_ideas':'i_list_ideas', {'sort': 'newest'}) }}"><i class="fa fa-star"></i> {{ "filters.newest"|trans }}</a> /
    <a href="{{ path(archived?'i_list_archived_ideas':'i_list_ideas', {'sort': 'update'}) }}"><i class="fa fa-clock-o"></i> {{ "filters.recent"|trans }}</a> /
    <a href="{{ path(archived?'i_list_archived_ideas':'i_list_ideas', {'sort': 'alpha'}) }}"><i class="fa fa-font"></i> {{ "filters.alpha"|trans }}</a>
  </section>

  <table id="list" summary="ideas">
    <thead>
      <tr>
        <th colspan="2">{{ "idea.list.name"|trans }}</th>
        <th><i class="fa fa-calendar"></i> {{ "idea.list.created"|trans }}</th>
        <th><i class="fa fa-clock-o"></i> {{ "idea.list.updated"|trans }}</th>
        <th>{{ "idea.list.members"|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {# TEMPLATE FOR INFINITE SCROLLING #}
      <tr class="template" style="display: none !important;">
        <td>
          <a data-href="%url%">
            <img data-src="%picture%" width="80px" height="80px"/>
          </a>
        </td>
        <td class="main">
          <a data-href="%url%">
            <div>
              <span>%name%</span>
              <span class="headline">%headline%</span>
            </div>
          </a>
        </td>
        <td>
           %createdAt%
        </td>
        <td>
          %updatedAt%
        </td>
        <td>
          <div>%creators%</div>
          <div>%participants%</div>
        </td>
      </tr>
      {# END OF TEMPLATE #}
    {% for idea in ideas %}
      <tr>
        <td>
          <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
            <img src="{{ asset(idea.getPicture()) }}" width="80px" height="80px"/>
          </a>
        </td>
        <td class="main">
          <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
            <div>
              <span>{{ idea.name }}</span>
              <span class="headline">{{ idea.headline }}</span>
            </div>
          </a>
        </td>
        <td>
           {{ idea.createdAt|date("date.fullFormat"|trans) }}
        </td>
        <td>
          {{ idea.updatedAt|date("date.fullFormat"|trans) }}
        </td>
        <td>
          <div>{{ "idea.creators"|transchoice(idea.countCreators, {"%count%": idea.countCreators }) }}</div>
          <div>{{ "idea.participants"|transchoice(idea.countParticipants, {"%count%": idea.countParticipants }) }}</div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {# PAGINATION #}
  {% render(controller("metaGeneralBundle:Default:pagination",{ 'route': archived?'i_list_archived_ideas':'i_list_ideas', 'total_objects' : totalIdeas, 'params' : {'sort': sort } })) %}

{% else %}
  <section class="none">
  {{ "idea.none"|trans }} <a href="{{ path('i_new_idea') }}">{{ "idea.none.create"|trans }}</a>
  </section>
{% endif %}

</div>
{% endblock %}
