{% extends 'metaIdeaBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "idea.concept.title"|trans }}{% endblock %}

{% block content %}
<section>
  <div class="wmd-heading"><i class="fa fa-cogs"></i> {{ "idea.concept.title"|trans }} {% if base.canEdit %}<a class="pull-right markdown-trigger">&hellip;<i class="fa fa-pencil"></i></a>{% endif %}</div>
  <div>

      <div class="wmd-message-top alert alert-warning" style="display: none;"><i class="fa fa-warning"></i> {{ "unsaved.changes"|trans }}</div>
      <div class="wmd-wrapper well well-small" style="display: none;">
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea unsaved='no'data-name="concept_text" data-url="{{ path('i_edit_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('edit') }) }}" class="wmd-input" id="wmd-input">{{ base.idea.conceptText }}</textarea>
        </div>
        <div>
          <button id="wmd-save" class="btn btn-primary">{{ "save"|trans }}</button> <span class="muted wmd-message">{{ "saveHelp"|trans }}</span>
        </div>
        <div id="wmd-preview" class="preview">{{ base.idea.conceptText }}</div>
      </div>

    <div class="content">{{ base.idea.conceptText|deeplinks|markdown }}</div>

  </div>
</section>
{% endblock %}

{% block navbar %}
{% render(controller("metaIdeaBundle:Idea:navbar",{ 'activeMenu' : 'concept', 'uid' : base.idea.id|to_uid })) %}
{% endblock %}