<ul>
{% spaceless %}

  {% if user.currentCommunity is not null %}
    <li class="avatar"><a href="{{ path('g_home_community') }}"><img src="{{ asset(user.currentCommunity.getPicture()) }}" height="37px"/></a></li>
  {% else %}
    <li class="home"><a href="{{ path('g_home_community') }}"><i class="fa fa-desktop fa-lg"></i><span class="help"> {{ "community.home.title"|trans }}</span></a></li>
  {% endif %}

  <li class="dropdown">
    <a href="#" ><span>{% if user.currentCommunity is null %}{{ "private.space"|trans }}{% else %}{{ user.currentCommunity.name }}{% if currentUserCommunity and currentUserCommunity.guest %} <i class="fa fa-fw fa-lock"></i>{% endif %}{% endif %}</span></a>
    <ul role="menu" tabindex="1">

      <li><a href="{{ path('g_switch_private_space', {'token': csrf_token('switchCommunity') }) }}">{% if user.currentCommunity is null %}<i class="fa fa-check"></i>&nbsp;{% endif %}<i class="fa fa-fw fa-desktop"></i> {{ "private.space"|trans }}</a></li>

      <li class="divider"></li>

      {% for userCommunity in user.userCommunities %}
      <li><a href="{{ path('g_switch_community', { 'uid': userCommunity.community.id|to_uid, 'token': csrf_token('switchCommunity') } ) }}" title="{{ userCommunity.community.type }}">{% if user.currentCommunity == userCommunity.community %}<i class="fa fa-check"></i> {% endif %}{{ userCommunity.community.name }}{% if userCommunity.guest %} <i class="fa fa-lock"></i>{% else %} <span class="community-{% if userCommunity.community.isValid() %}{{ userCommunity.community.type }}{% else %}expired{% endif %}">&#9679;</span>{% endif %}</a></li>
      {% endfor %}

      {% if user.currentCommunity is not null and currentUserCommunity and currentUserCommunity.manager %}
      <li class="divider"></li>
      <li><a href="{{ path('g_manage_community') }}"><i class="fa fa-fw fa-cogs"></i> {{ "community.manage"|trans }}</a></li>
      {% endif %}
      <li class="divider"></li>
      <li><a href="{{ path('g_create_community') }}"><i class="fa fa-fw fa-plus-circle"></i> {{ "community.create"|trans }}</a></li>
    </ul>
  </li>

{% endspaceless %}
</ul>

<ul>
  {% spaceless %}
    {% if (currentUserCommunity and not currentUserCommunity.guest) or currentUserCommunity is null %}
    <li><a href="{{ path('i_list_ideas') }}"><i class="fa fa-fw fa-lightbulb-o"></i> {{ "idea.allIdeas.menu"|trans }}</a></li>
    {% endif %}
    <li><a href="{{ path('p_list_projects') }}"><i class="fa fa-fw fa-paperclip"></i> {{ "project.allProjects.menu"|trans }}</a></li>
    {% if user.currentCommunity is not null %}
    <li><a href="{{ path('u_list_users') }}"><i class="fa fa-fw fa-group"></i> {{ "user.allUsers.menu"|trans }}</a></li>
    {% endif %}
  {% endspaceless %}
</ul>

{% if shortcode is defined and shortcode is not null %}
  <div class="shortcode">
    <a id="shortcode-trigger" href="#" title="{{ "shortcode.help"|trans }}">
      <i class="fa fa-link fa-lg"></i> 
    </a>
    <form role="shortcode" id="shortcode" style="display: none;">
      <input type="text" onclick="this.select()" value="{{ shortcode|lower }}" />
    </form>
  </div>
{% endif %}

<div class="search">
  <a id="search-trigger" href="#"><i class="fa fa-fw fa-search"></i></a>
  <form role="search" id="search" style="display: none;" action="{{ path('g_search') }}" method="POST">
    <input type="text" name="term" id="term"/>
  </form>
</div>

<ul class="user">
{% spaceless %}
  <li class="avatar">
    <a href="{{ path('u_me') }}" title="{{ "user.me.help"|trans }}"><img src="{{ asset(user.getAvatar()) }}" height="37px"/></a>
  </li>

  <li class="dropdown">
    <a href="#"><span>{{ user.getFullName() }}</span></a>
    <ul role="menu" tabindex="3">
        <li><a href="{{ path('u_me') }}"><i class="fa fa-fw fa-user"></i> {{ "user.menu"|trans }}</a></li>
        <li><a href="{{ path('u_show_user_settings') }}"><i class="fa fa-fw fa-wrench"></i> {{ "user.settings.menu"|trans }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off"></i> {{ "logout"|trans }}</a></li>
    </ul>
  </li>
 
  <li class="notifications">
    <a href="{{ path('u_show_user_notifications') }}" title="{{ "user.notifications.help"|trans }}">
      <div>
        <i role="loading" class="fa fa-fw fa-spinner fa-spin"></i>
        <i role="loaded" class="fa fa-fw fa-bell" style="display: none;"></i><span class="help"> {{ "user.notifications.title"|trans }}</span>
      </div>
      <div class="notificationsCount" id="notificationsCount" data-update-path="{{ path('u_count_user_notifications') }}" style="display: none;"></div>
    </a>
  </li>
{% endspaceless %}
</ul>
