{% set lang = { 0:'en', 1:'English' } %}
{% for key, item in available_languages %}
  {% if item.code == app.session.get('_locale') %}{% set lang = { 0: key, 1: item.name } %}{% endif %}
{% endfor %}
<div class="pull-right">
  <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ asset('bundles/metageneral/img/langs/' ~ lang[0] ~ '.png') }}" width="24px" height="24px" title="{{ lang[1] }}"/>
        </a>
        <ul class="dropdown-menu">
            {% for code, language in available_languages %}
              <li><a href="{{ path('g_switch_language', { 'locale': code } ) }}"><img src="{{ asset('bundles/metageneral/img/langs/' ~ code ~ '.png') }}" width="24px" height="24px"/> {{ language.name }}</a></li>
            {% endfor %}
        </ul>
      </li>
  </ul>
</div>
