<div class="pull-right">
  <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {% if app.user and app.user.getPreferredLanguage() != "" %}
          <img src="{{ asset('bundles/metageneral/img/langs/' ~ app.user.getPreferredLanguage() ~ '.png') }}" width="24px" height="24px" title="{{ available_languages[app.user.getPreferredLanguage()].name }}" data-origin="preference"/>
          {% else %}
            {% for key, item in available_languages %}
              {% if item.code == app.session.get('_locale') %}
                <img src="{{ asset('bundles/metageneral/img/langs/' ~ key ~ '.png') }}" width="24px" height="24px" title="{{ item.name }}" data-origin="session"/>
              {% endif %}
            {% endfor %}
          {% endif %}
        </a>
        <ul class="dropdown-menu">
            {% for code, language in available_languages %}
              <li><a href="{{ path('g_switch_language', { 'locale': code } ) }}"><img src="{{ asset('bundles/metageneral/img/langs/' ~ code ~ '.png') }}" width="24px" height="24px"/> {{ language.name }}</a></li>
            {% endfor %}
        </ul>
      </li>
  </ul>
</div>
