{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ "file.choose"|trans }}{% endblock %}

{% block header %}
  <div class="title">
    <h2>{{ "file.choose"|trans }}</h2>
    <h3>{{ "file.chooseHelp"|trans }}</h3>
    {% if filetypes %}
      <h4>{{ "file.extensions"|trans({ '%filetypes%' : filetypes|join(', ') }) }}</h4>
    {% endif %}
    {% if backLink %}
      <p><a href="{{ backLink }}">&laquo; {{ "back"|trans }}</a></p>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <form action="{{ path('g_choose_file', { 'targetAsBase64' : targetAsBase64, 'token': token }) }}" method="post" enctype="multipart/form-data">
      <section>
        <div class="label">{{ "file.choose"|trans }} :</div>
        <div class="content">
          <input type="hidden" name="name" id="name" value="file"/>
          <input type="file" name="file" id="file" />
        </div>
      </section>
      <section>
        <div class="content">
          <input type="submit" value="{{ "file.upload"|trans }}" class="button" />
        </div>
      </section>
  </form>
{% endblock %}
