{% if last_page > 1 %}
<div class="pagination pagination-centered">
  <ul>
    {% if current_page == 1 %}<li class="disabled"><span>&laquo;</span></li>
    {% else %}<li><a href="{{ path(route, params|merge({ 'page': previous_page })) }}">&laquo;</a></li>{% endif %}
    {% for page in 1..last_page %}
      {% if page == current_page %}
        <li class="active"><span>{{ page }}</span></li>
      {% else %}
        <li><a href="{{ path(route, params|merge({ 'page': page })) }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
    {% if current_page == last_page %}<li class="disabled"><span>&raquo;</span></li>
    {% else %}<li><a href="{{ path(route, params|merge({ 'page': next_page })) }}">&raquo;</a></li>{% endif %}
  </ul>
</div>
{% endif %}