{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ "image.resizeAndCrop"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/jcrop.js'
                   '@metaGeneralBundle/Resources/public/js-edit/jcrop.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
  <div class="title">
    <h2>{{ "image.resizeAndCrop"|trans }}</h2>
    <h4>{{ "image.resizeAndCropHelp"|trans }}</h4>
  </div>
{% endblock %}

{% block content %}
<form action="{{ path('g_choose_file', { 'targetAsBase64' : targetAsBase64, 'token': token  }) }}" method="post" enctype="multipart/form-data">
  <section>
    <div class="content-full">
      <input type="hidden" name="name" id="name" value="picture" />
      <input type="hidden" name="value" id="value" value="{{ image }}" />
      <div class="imageCropWrapper">
        <img id="target" src="{{ image }}"/>
      </div>
      <input type="hidden" id="x" name="x" value="0"/>
      <input type="hidden" id="y" name="y" value="0" />
      <input type="hidden" id="w" name="w" value="150" />
      <input type="hidden" id="h" name="h" value="150" />
    </div>
  </section>
  <section>
    <div class="content-full">
      <input type="submit" value="{{ "image.continue"|trans }}" class="button" />
    </div>
  </section>
</form>
{% endblock %}
