{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} > {% if app.user.currentCommunity is null %}{{ "private.space"|trans }}{% else %}{{ app.user.currentCommunity.name }}{%endif %} | {{ "community.home"|trans }}{% endblock %}

{% block body %}
<header class="home">
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-home"></i></div>
  </div>
  <div class="objectHeader">
    {% if app.user.currentCommunity is null %}
      <h2>{{ "private.space"|trans }}</h2>
    {% else %}
      <h2>{{ app.user.currentCommunity.name }}</h2>
      <h4>{{ app.user.currentCommunity.headline }}</h4>
    {% endif %}
    <h5>{% trans with {'%projects%': totalProjects, '%ideas%': totalIdeas} %}community.homeHelp{% endtrans %}</h5>
    {% if app.user.currentCommunity is not null %}
      <p>{% trans with {'%users%': totalUsersAndGuests} %}community.homeHelpUsers{% endtrans %}</p>
    {% endif %}
  </div>
</header>
<div class="content home clearfix">

</div>
<footer>
{% block footer %}{% endblock %}
</footer>
{% endblock %}
