{% extends 'metaUserProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Everybody{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-group"></i></div>
  </div>
  <div class="objectHeader">
    <h2>Users</h2>
    <h4>All the users in the community {{ app.user.currentCommunity.name }} are listed in this page.</h4>
    <p>Sort by : <a href="{{ path('u_list_users', {'sort': 'newest', 'page' : pagination.page}) }}"><i class="icon-star"></i> Newest users</a> - <a href="{{ path('u_list_users', {'sort': 'update', 'page' : pagination.page}) }}"><i class="icon-time"></i> Recently updated</a> - <a href="{{ path('u_list_users', {'sort': 'active', 'page' : pagination.page}) }}"><i class="icon-dashboard"></i> Last active</a> - <a href="{{ path('u_list_users', {'sort': 'alpha', 'page' : pagination.page}) }}"><i class="icon-font"></i> Alphabetical</a></p>
  </div>
{% endblock %}

{% block content %}
{% if users %}
{% for user in users %}
<section class="listing">
  
  <a href="{{ path('u_show_user_profile', {'username': user.username}) }}">
    <img src="{{ asset(user.getAvatar()) }}" width="100" height="100"/>
  </a>

  <div class="listingItemInfo">
    <h4 class="ellipsis"><a href="{{ path('u_show_user_profile', {'username': user.username}) }}">{{ user.getFullName() }}</a>{% if user.isGuestOf(app.user.currentCommunity) %} (Guest){% endif %}</h4>
    <div class="ellipsis">{{ user.headline }}</div>
    <div class="muted"><i class="icon-calendar"></i> Member since {{ user.createdAt|date("d/m/Y") }}</div>
    <div class="muted"><i class="icon-time"></i> Last updated {{ user.updatedAt|date("d/m/Y H:i:s") }}{% if user.initiatedLogEntries|length > 0 %} and last activity on {{ user.initiatedLogEntries[user.initiatedLogEntries|length - 1].createdAt|date("d/m/Y H:i:s") }}{% endif %}</div>
    
  </div>

</section>
{% endfor %}
<section>
{% render "metaGeneralBundle:Default:pagination" with { 'route': 'u_list_users', 'page' : pagination.page, 'total' : pagination.totalUsers, 'params' : {'sort': sort } } %}
</section>
{% else %}
<section>
No users !
</section>
{% endif %}

{% endblock %}