{% extends 'metaUserProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ user.firstName }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if isMe %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/bootstrap-editable.js' 
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
                   '@metaGeneralBundle/Resources/public/js-edit/markdown-editor/*' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block header %}

  <div class="headerAvatarAndActions">
    {% if isMe %}<div class="changeAvatar"><a href="#"><i class="icon-pencil"></i> change</a></div>{% endif %}
    <img src="{{ user.avatar }}" width="150" height="150" class="avatar"/>
{% if alreadyFollowing %}
    <a href="{{ path('u_unfollow_user', {'username': user.username}) }}" class="btn btn-info followAction">Unfollow {{ user.firstName }}</a>
{% elseif not isMe %}
    <a href="{{ path('u_follow_user', {'username': user.username}) }}" class="btn btn-success followAction">Follow {{ user.firstName }}</a>
{% endif %}
  </div>

  <div class="userInfo">

    <h2 class="ellipsis">
      <span data-url="{{ path('u_edit_user_profile', {'username': user.username}) }}" data-name="first_name" data-title="Change your first name" class="editable">{{ user.firstName }}</span> <span data-url="{{ path('u_edit_user_profile', {'username': user.username}) }}" data-name="last_name" data-title="Change your last name" class="editable">{{ user.lastName|upper }}</span>
    </h2>

    <h4 class="ellipsis">
      <span data-url="{{ path('u_edit_user_profile', {'username': user.username}) }}" data-name="headline" data-emptytext="Click to add a headline" data-type="text" data-title="A one-liner to describe yourself" class="editable">{{ user.headline }}</span>
    </h4>

    <div>
      <i class="icon-map-marker"></i> <span data-url="{{ path('u_edit_user_profile', {'username': user.username}) }}" data-name="city" data-title="Where do you live ?" class="editable">{{ user.city }}</span>
    </div>

    <div>
      <i class="icon-calendar"></i> Member since {{ user.createdAt|date("d/m/Y") }}
    </div>

    <div>
      <i class="icon-trophy"></i> 

      {% if user.skills|length > 0 %}
      Skills : 
      {% elseif not isMe %}
      No skills added yet
      {% endif %}

      <ul data-toggle="manual" data-title="List your skills" data-url="{{ path('u_edit_user_profile', {'username': user.username}) }}" data-emptytext="Add skills" data-type="checklist" data-source="{{ path('u_list_all_skills') }}" data-name="skills" class="skills skills-target editable-li">
      {% for skill in user.skills %}
          <li class="label" rel="{{ skill.slug }}">{{ skill.name }}</li>
      {% endfor %}
      </ul>

      {% if isMe %}
        <a class="editable-trigger" data-target="skills">&hellip;<i class="icon-pencil"></i></a>
      {% endif %}

    </div>
  </div>
{% endblock %}

{% block content %}

<section>
  <div class="wmd-heading"><i class="icon-bullhorn"></i> About {{ user.firstName }}{% if isMe %}<a class="pull-right markdown-trigger">&hellip;<i class="icon-pencil"></i></a>{% endif %}</div>
  <div>

    {% if isMe %}
      <div class="wmd-wrapper well well-small hide" >
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea data-name="about" data-url="{{ path('u_edit_user_profile', {'username': user.username}) }}" class="wmd-input" id="wmd-input">{{ user.about }}</textarea>
        </div>
        <div>
          <button id="wmd-save" class="btn btn-primary">Save</button> <span class="muted wmd-message">Click 'Save' to commit your changes</span>
        </div>
      </div>
    {% endif %}

    <div id="wmd-preview" class="about">{{ user.about|markdown }}</div>

  </div>
</section>

{% if user.following|length > 0 %}
<section class="colored first">
<div class="sectionTitle">{{ user.firstName }} is following : </div>
<ul class="users sectionContent">
{% for followingUser in user.following %}
    <li>
      <a href="{{ path('u_show_user_profile', {'username': followingUser.username}) }}">
        <img src="{{ followingUser.avatar }}" width="70" height="70" class="smallAvatar"/>
        <div class="smallObjectInfos">
          <div>{{ followingUser.firstName }}</div><div>{{ followingUser.lastName|upper }}</div>
        </div>
      </a>
    </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if isMe and user.followers|length > 0 %}
<section class="colored">
<div class="sectionTitle">My followers : </div>
<ul class="users sectionContent">
{% for followerUser in user.followers %}
    <li>
      <a href="{{ path('u_show_user_profile', {'username': followerUser.username}) }}">
        <img src="{{ followerUser.avatar }}" width="70" height="70" class="smallAvatar"/>
        <div class="smallObjectInfos">
          <div>{{ followerUser.firstName }}</div><div>{{ followerUser.lastName|upper }}</div>
        </div>
      </a>
    </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if isMe and user.projectsWatched|length > 0 %}
<section class="colored">
<div class="sectionTitle">Projects I watch :</div>
<ul class="projects sectionContent">
{% for watchedProject in user.projectsWatched %}
    <li>
      <a href="{{ path('sp_show_project', {'slug': watchedProject.slug}) }}">
        <img src="{{ watchedProject.picture }}" width="70" height="70" class="smallAvatar"/>
        <div class="smallObjectInfos">
          {{ watchedProject.name }}
        </div>
      </a>
    </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if user.projectsOwned|length > 0 %}
<section class="colored">
<div class="sectionTitle">Projects I own :</div>
<ul class="projects sectionContent">
{% for ownedProject in user.projectsOwned %}
    <li>
      <a href="{{ path('sp_show_project', {'slug': ownedProject.slug}) }}">
        <img src="{{ ownedProject.picture }}" width="70" height="70" class="smallAvatar"/>
        <div class="smallObjectInfos">
          {{ ownedProject.name }}
        </div>
      </a>
    </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if user.projectsParticipatedIn|length > 0 %}
<section class="colored">
<div class="sectionTitle">Projects I'm in :</div>
<ul class="projects sectionContent">
{% for participatedInProject in user.projectsParticipatedIn %}
    <li>
      <a href="{{ path('sp_show_project', {'slug': participatedInProject.slug}) }}">
        <img src="{{ participatedInProject.picture }}" width="70" height="70" class="smallAvatar"/>
        <div class="smallObjectInfos">
          {{ participatedInProject.name }}
        </div>
      </a>
    </li>
{% endfor %}
</ul>
</section>
{% endif %}
<section class="colored">
  <div class="sectionTitle">Activity :</div>
  <div class="projects sectionContent">
    {{ user.comments|length }} comments, including {{ user.countPublicComments }} public ones.
  </div>
</section>

{% endblock %}