{% extends '::base-no-menu.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.passwordChange.title"|trans }}{% endblock %}

{% block container %}

  <div class="non-auth">
      <h2>{{ "user.passwordChange.title"|trans }}</h2>
      <h4>{{ "user.passwordChange.help"|trans }}</h4>
  </div>

  <form class="non-auth" action="{{ path('change_password', { 'passwordToken' : passwordToken }) }}" method="POST">
    
    <input type="password" id="password" name="password" value="" required="required" placeholder="{{ "user.passwordChange.new"|trans }}"/>
    <input type="password" id="password_2" name="password_2" value="" required="required" placeholder="{{ "user.passwordChange.confirm"|trans }}"/>
    <input type="submit" name="{{ "user.passwordChange.button"|trans }}" class="button" value="{{ "change"|trans }}"/>

  </form>

{% endblock %}