{% extends '::base-no-menu.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.createForm.title"|trans }}{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    
    {{ form_widget(form, { 'attr': { 'placeholder': label }}) }}
    
    {% if errors %}
    <div class="error"><i class="fa fa-exclamation-triangle"></i> {{ errors[0].message|trans }}</div>
    {% endif %}

    {% if required or attr.help is defined %}
        <em class="help">{% if required %}* {{ "required"|trans }}.{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</em>
    {% endif %}

{% endblock form_row %}

{% block container %}

  <div class="non-auth">
    <h2>{{ "user.createForm.title"|trans }}</h2>
    <h3><a href="{{ path("login") }}">&laquo; {{ "back"|trans }}</a></h3>
    <h3>{{ "user.createForm.help"|trans }}</h3>
    {% if openid %}
    <h4>{{ "user.createForm.usernameChoose"|trans({'%email%': form.vars.value.email}) }}</h4>
    {% else %}
    <h4>{{ "user.createForm.fillIn"|trans }}</h4>
    {% endif %}
  </div>
  
  <form action="{% if openid %}{{ path('u_signup_finish', { 'inviteToken': inviteToken }) }}{% else %}{{ path('u_signup', { 'inviteToken': inviteToken }) }}{% endif %}" method="post" {{ form_enctype(form) }} class="non-auth">
    {{ form_rest(form) }} {# Trick to avoid the <div> wrap by Twig #}
    {{ form_row(form._token) }} 
    <em class="help terms">{{ "user.createForm.terms"|trans }}</em>
    <input type="submit" value="{{ "user.createForm.create"|trans }}" class="button button-success" />
  </form>

{% endblock %}