{% extends '::base-no-menu.html.twig' %}

{% block title %}{{ parent() }} > {{ "login"|trans }}{% endblock %}

{% block container %}
  
  <form action="{{ path('login_check') }}" method="POST" class="non-auth">

    <input id="username" type="text" name="_username" value="{{ last_username }}" placeholder="{{ "user.login.login"|trans }}"/>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="openid">
      <a href="{{ path('fp_openid_security_check', { 'openid_identifier': "https://www.google.com/accounts/o8/id" }) }}" title="{{ "user.login.gplus.title"|trans }}" tabindex="-1">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="{{ path('fp_openid_security_check', { 'openid_identifier': "https://openid.stackexchange.com/" }) }}" title="{{ "user.login.stacke.title"|trans }}" tabindex="-1">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>

    <input id="password" type="password" name="_password" placeholder="{{ "user.login.password"|trans }}"/>
    
    {% if error %}
    <div class="error"><i class="fa fa-exclamation-triangle"></i> {{ error.message|trans({},'errors') }}</div>
    {% endif %}

    <div class="recover">
      <a href="{{ path('recover') }}" /> {{ "user.login.recover"|trans }} </a>
    </div>

    <a class="signup" href="{{ path('u_signup_choice') }}" /> {{ "user.login.signup"|trans }}</a>
    <input type="submit" value="{{ "user.login.signin"|trans }}" class="button"/>

  </form>

{% endblock %}