{% extends '::base-no-menu.html.twig' %}

{% block title %}{{ parent() }} > {% if flavour == 'reactivate' %}{{ "user.reactivation.title.reactivate"|trans }}{% else %}{{ "user.reactivation.title.recover"|trans }}{% endif %}{% endblock %}

{% block container %}

  <header class="non-auth">
    <h1><img src="{{ asset('/bundles/metageneral/img/logo/logo-128.png') }}" /><span>Igneet</span></h1>
    <span>{{ app.request.host }}</span>
  </header>

  <div class="non-auth">
    {% if flavour == 'reactivate' %}
      <h2>{{ "user.reactivation.title.reactivate"|trans }}</h2>
      <h3><a href="{{ path("login") }}">&laquo; {{ "back"|trans }}</a></h3>
      <h4>{{ "user.reactivation.text.reactivate"|trans }}</h4>
    {% else %}
      <h2>{{ "user.reactivation.title.recover"|trans }}</h2>
      <h3><a href="{{ path("login") }}">&laquo; {{ "back"|trans }}</a></h3>
      <h4>{{ "user.reactivation.text.recover"|trans }}</h4>
    {% endif %}
  </div>

  <form action="{{ path(flavour) }}" method="POST" class="non-auth">
    
    <input id="mail" type="email" name="mail" value="" placeholder="{{ "user.reactivation.email"|trans }}"/>
    <input type="submit" value="{{ "continue"|trans }}" class="button"/>

  </form>

{% endblock %}