{% extends '::base-no-menu.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.recover.title"|trans }}{% endblock %}

{% block container %}

  <div class="non-auth">
      <h2>{{ "user.recover.title"|trans }}</h2>
      <h3><a href="{{ path("login") }}">&laquo; {{ "back"|trans }}</a></h3>
      <h4>{{ "user.recover.text"|trans }}</h4>
  </div>

  <form action="{{ path('recover') }}" method="POST" class="non-auth">
    
    <input id="mail" type="email" name="mail" value="" placeholder="{{ "user.recover.email"|trans }}"/>
    <input type="submit" value="{{ "continue"|trans }}" class="button"/>

  </form>

{% endblock %}