<div class="commentsForm timeline">
  <div class="avatar">
    <img src="{{ app.user.avatar }}" width="30" height="30" class="avatar"/>
  </div>
  <form action="{{ route }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.text) }}
    {{ form_widget(form._token) }}
    <input type="submit" class="btn btn-success"/>
  </form>
</div>
