{% extends 'metaStandardProjectProfileBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} > {{ base.standardProject.name }} | Info{% endblock %}

{% block navbar %}
{% render "metaStandardProjectProfileBundle:Default:navbar" with { 'activeMenu' : 'info', 'slug' : base.standardProject.slug } %}
{% endblock %}

{% block content %}
<section>
  <div class="wmd-heading"><i class="icon-bullhorn"></i> About this project : {% if base.canEdit %}<a class="pull-right markdown-trigger">&hellip;<i class="icon-pencil"></i></a>{% endif %}</div>
  <div>
    {% if base.canEdit %}
      <div class="wmd-message-top hide alert"><i class="icon-warning-sign"></i> Unsaved changes</div>
      <div class="wmd-wrapper well well-small hide" >
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea unsaved='no' data-name="about" data-url="{{ path('sp_edit_project', {'slug': base.standardProject.slug}) }}" class="wmd-input" id="wmd-input">{{ base.standardProject.about }}</textarea>
        </div>
        <div>
          <button id="wmd-save" class="btn btn-primary">Save</button> <span class="muted wmd-message">Click save to save your changes</span>
        </div>
        <div id="wmd-preview" class="preview">{{ base.standardProject.about }}</div>
      </div>
    {% endif %}
    
    <div class="content">{{ base.standardProject.about|deeplinks|markdown }}</div>

  </div>
</section>

<section class="colored first">
  <div class="sectionTitle">Owners : </div>
  <ul class="users sectionContent">
  {% for owningUser in base.standardProject.owners %}
      <li>
        <a href="{{ path('u_show_user_profile', {'username': owningUser.username}) }}">
          <img src="{{ owningUser.avatar }}" width="70" height="70" class="smallAvatar"/>
          <div class="smallObjectInfos">
            <span><div>{{ owningUser.firstName }}</div><div>{{ owningUser.lastName|upper }}</div></span>
          </div>
        </a>
        {% if base.isOwning and owningUser != app.user %}<a class="removeUserIcon" href="{{ path('sp_remove_owner_to_project', { 'slug': base.standardProject.slug, 'username' : owningUser.username, 'token': csrf_token('removeParticipantOrOwner') }) }}"><i class="icon-remove-sign icon-large"></i></a>{% endif %}
      </li>
  {% endfor %}
  {% if base.isOwning %}
      <li>
        <a href="{{ path('u_choose_user', {'targetAsBase64': targetOwnerAsBase64, 'token': csrf_token('addParticipantOrOwner') }) }}">
          <div class="smallTextAvatar"><i class="icon-plus-sign"></i></div>
          <div class="smallObjectInfos">
            <span>Add an Owner</span>
          </div>
        </a>
      </li>
  {% endif %}
  </ul>
</section>
{% if base.standardProject.participants|length > 0 or base.isOwning %}
<section class="colored">
  <div class="sectionTitle">Participants : </div>
  <ul class="users sectionContent">
  {% for participatingUser in base.standardProject.participants %}
      <li>
        <a href="{{ path('u_show_user_profile', {'username': participatingUser.username}) }}">
          <img src="{{ participatingUser.avatar }}" width="70" height="70" class="smallAvatar"/>
          <div class="smallObjectInfos">
            <span><div>{{ participatingUser.firstName }}</div><div>{{ participatingUser.lastName|upper }}</div></span>
          </div>
        </a>
        {% if base.isOwning %}<a class="removeUserIcon" href="{{ path('sp_remove_participant_to_project', { 'slug': base.standardProject.slug, 'username' : participatingUser.username, 'token': csrf_token('removeParticipantOrOwner') }) }}"><i class="icon-remove-sign icon-large"></i></a>{% endif %}
      </li>
  {% endfor %}
  {% if base.isOwning %}
      <li>
        <a href="{{ path('u_choose_user', {'targetAsBase64': targetParticipantAsBase64, 'token': csrf_token('addParticipantOrOwner') }) }}">
          <div class="smallTextAvatar"><i class="icon-plus-sign"></i></div>
          <div class="smallObjectInfos">
            <span>Add a Participant</span>
          </div>
        </a>
      </li>
  {% endif %}
  </ul>
</section>
{% endif %}
{% if base.isOwning %}
<section class="colored warning">
  <div class="sectionTitle">Delete this project : </div>
  <div class="sectionContent"><a class="btn btn-danger" data-confirm="Are you sure you want to delete this project ?" href="{{ path('sp_delete_project', { 'slug': base.standardProject.slug, 'token': csrf_token('delete') }) }}">Delete</a> <span class="muted">( <i class="icon-warning-sign"></i> Warning : you cannot undo this )</span></div>
</section>
{% endif %}
{% endblock %}