{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Communities{% endblock %}

{% block section %}Communities{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
          filter='?yui_js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
<div class="wrapper info">
  <section>

    {% if communities|length == 0 %}
    No communities to show
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name & Headline</th>
          <th>Activity</th>
          <th>Created</th>
          <th>Valid until</th>
          <th>Validity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for community in communities %}
        <tr>
          <td class="community-background-{{ community.type }}">{{ community.type }}</td>
          <td class="commnunity-text">{{ community.name }} <em> {{ community.headline }}</em></td> 
          <td><strong>{{ community.userCommunities|length }}</strong> users, <strong>{{ community.ideas|length }}</strong> ideas, <strong>{{ community.projects|length }}</strong> projects</td>
          <td>{{ community.createdAt|date('d/m/Y') }}</td>
          <td>{{ community.validUntil|date("d/m/Y") }}</td>
          <td>{% if community.isValid %}<span><i class="fa fa-check"></i> Valid</span>{% else %}<span><i class="fa fa-warning"></i> Expired</span>{% endif %}</td>
          <td><a href="{{ path('a_communities_edit', { 'uid' : community.id|to_uid }) }}"><i class="fa fa-pencil"></i></a> <a class="storage" href="{{ path('a_communities_storage', { 'uid' : community.id|to_uid }) }}"><i class="fa fa-hdd-o"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </section>
</div>
{% endblock %}
