{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Communities{% endblock %}

{% block section %}Communities{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
          filter='?yui_js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
<div class="wrapper info">
  <section>
    {% if communities|length == 0 %}
    No communities to show
    {% else %}
    <ul>
      {% for community in communities %}
      <li><strong>{{ community.getName() }}</strong> : <em>{{ community.headline }}</em> <span class="community-{{ community.type }}">{{ community.type }}</span>
        <ul>
          <li><strong>{{ community.userCommunities|length }}</strong> users, <strong>{{ community.ideas|length }}</strong> ideas, <strong>{{ community.projects|length }}</strong> projects </li>
          <li>Created on : {{ community.createdAt|date('d/m/Y') }}</li>
          <li>Validity : {% if community.isValid %}<span><i class="fa fa-ok"></i> Valid</span>{% else %}<span><i class="fa fa-cross"></i> Expired</span>{% endif %}</li>
          <li>Valid until : <a href="#" id="{{ community.id|to_uid}}" data-url="{{ path('a_extend_community') }}">{{ community.validUntil|date("d/m/Y") }}</a></li>
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    
  </section>
</div>
{% endblock %}
