{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.wiki.new"|trans }}{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'wiki', 'uid' : base.project.id|to_uid, 'canEdit' : base.isOwning })) %}
{% endblock %}

{% form_theme form _self %}

{% block form_row %}
<section>
  <div class="label">{{ form_label(form) }}</div>
  <div class="content">
      {{ form_errors(form) }}
      {{ form_widget(form) }}
  </div>
</section>
{% endblock form_row %}

{% block content %}
<div class="wrapper info">
  <form action="{{ path('p_show_project_wiki_new_page', {'uid': base.project.id|to_uid}) }}" method="post" {{ form_enctype(form) }}>
    <section>
      <h4>{{ "project.wiki.newHelp"|trans }} :</h4>
    </section>
    {{ form_widget(form) }}
    <section>
      <div class="content">
        <input type="submit" value="{{ "create"|trans }}" class="btn btn-success" />
      </div>
    </section>
  </form>
</div>
{% endblock %}