{% extends 'metaProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.project.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block header %}

  <div class="avatar">
    <img src="{{ asset(base.project.getPicture()) }}" />
    {% if base.canEdit %}
      <a href="{{ path('p_edit_project_reset_picture', {'uid': base.project.id|to_uid, 'token': csrf_token('resetPicture')  }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="fa fa-trash-o fa-2x"></i></a>
      <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64, 'token': csrf_token('edit') }) }}" title="{{ "picture.changeHelp"|trans }}"><i class="fa fa-pencil fa-2x"></i></a>
    {% endif %}
  </div>
  <div class="info">
    <h2>
      {% if base.project.private %}<i class="fa fa-lock"></i> {% endif %}<span{% if base.canEdit %} data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="name" data-last="{{ base.project.name }}" contenteditable="true" rich="false"{% endif %}>{{ base.project.name }}</span>
    </h2>

    <h3>
      <span{% if base.canEdit %} data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="headline" placeholder="{{ "project.headlineEmptyText"|trans }}" data-type="text" data-last="{{ base.project.headline }}" contenteditable="true" rich="false"{% endif %} title="{{ "project.headlineHelp"|trans }}">{{ base.project.headline }}</span>
    </h3>

    <h4>
      <div>
        <i class="fa fa-calendar"></i> {{ "project.info.created"|trans({'%date%': base.project.createdAt|date("date.fullFormat"|trans)}) }}
      </div>
    </h4>
    
    {% if base.project.originalIdea %}
    <h4>
      <div>
        <i class="fa fa-lightbulb-o"></i> {{ "project.originalIdea"|trans({'%idea%': base.project.originalIdea.name}) }}
      </div>
    </h4>
    {% endif %}

    <div>
        <i class="fa fa-rss"></i> 
        <div class="watchers">{{ base.project.countWatchers }}</div>
    {% if base.isAlreadyWatching %}
        {{ "project.watching"|trans({ '%project%': base.project.name}) }} <a href="{{ path('p_unwatch_project', {'uid': base.project.id|to_uid, 'token': csrf_token('unwatch') }) }}">{{ "project.unwatch"|trans }}</a>
    {% else %}
        {{ "project.not.watching"|trans({ '%project%': base.project.name}) }} <a href="{{ path('p_watch_project', {'uid': base.project.id|to_uid, 'token': csrf_token('watch') }) }}">{{ "project.watch"|trans }}</a>
    {% endif %}
    </div>

    <div class="skills">
      {% if base.project.neededSkills|length > 0 %}
        {% spaceless %}
        <ul{% if base.canEdit %} data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-emptytext="{{ "project.skills.needed.emptyText"|trans }}" contenteditable="list" data-name="skills"{% endif %}>
        {% for skill in base.vacantSkills %}
          <li style="border: 1px solid #{{ skill.color }}" rel="{{ skill.slug }}">
          {% if base.canEdit %}
            <a href="#" class="remove"><i class="fa fa-times"></i></a>  
          {% endif %}
          {{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>
        {% endfor %}
        {% for skill in base.endowedSkills %}
          <li style="border: 1px solid #{{ skill.color }}" rel="{{ skill.slug }}"> 
          {% if base.canEdit %}
            <a href="#" class="remove"><i class="fa fa-times"></i> </a>  
          {% endif %}
           <em class="fa fa-users"></em> 
          {{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>
        {% endfor %}
        {% if base.canEdit %}
          <li><a href="#" class="add" data-url="{{ path('u_list_all_skills')}}"><i class="fa fa-plus"></i></a>
            <span style="display: none;">
              <a href="#"><i class="fa fa-times"></i></a>
              <input type="text" id="skill" placeholder="{{ "project.skills.placeholder"|trans }}"/>
            </span>
          </li>
        {% endif %}
        </ul>
        {% endspaceless %}
      {% else %}
        <span>{{ "project.skills.needed.none"|trans }}</span>
        {% if base.canEdit %}
          <ul data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-emptytext="{ "project.skills.needed.emptyText"|trans }}" contenteditable="list" data-name="skills">
            <li><a href="#" class="add" data-url="{{ path('u_list_all_skills')}}"><i class="fa fa-plus"></i></a>
              <span style="display: none;">
                <a href="#"><i class="fa fa-times"></i></a>
                <input type="text" id="skill" placeholder="{{ "project.skills.placeholder"|trans }}"/>
              </span>
            </li>
          </ul>
        {% endif %}
      {% endif %}
    </div>

  </div>

{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : null, 'uid' : base.project.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}