{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.resources.title"|trans }}{% endblock %}

{% set shortcode %}[[project:{{ base.project.id|to_uid }}]]{% endset %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'resources', 'uid' : base.project.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/dropzone.js'
                   '@metaGeneralBundle/Resources/public/js-edit/dropzone.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="wrapper info">

  {% if base.project.resources|length > 0 %}

  <section>
    {% if base.canEdit %}
      <div class="jump">
        <a href="#add" class="button">+</a>
      </div>
    {% endif %}
    <div class="label-full">{{ "project.resources.available"|trans }} :</div>
    <div class="content-full">
      <ul class="resources">
      {% for resource in base.project.resources %}
          <li>
            <a href="{{ path('p_show_project_resource', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid}) }}">
              <img src="{{ asset('/bundles/metageneral/img/icons/' ~ providers[resource.provider].icon ~ '.png') }}" width="32px" height="32px"/> 
              <img src="{{ asset('/bundles/metageneral/img/icons/' ~ types[resource.type].icon ~ '.png') }}" width="32px" height="32px"/>
              <span>{{ resource.title }}</span>{% if resource.originalFilename %} <em>({{ resource.originalFilename }})</em>{% endif %}
            </a>
            {% if types[resource.type].displayable or not providers[resource.provider].downloadable %}<a title="{{ "project.resources.open"|trans }}" href="{{ resource.url }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}
            {% if providers[resource.provider].downloadable %}<a title="{{ "project.resources.download"|trans }}" href="{{ path('p_show_project_resource_download', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid})}}"><i class="fa fa-download"></i></a>{% endif %}
            <ul class="tags" >
            {% for tag in resource.tags %}<li {% if tag.color %}style="border: 1px solid #{{ tag.color }}" {% endif %}rel="{{ tag.name }}">{{ tag.name }}</li>{% endfor %}
            </ul>
          </li>
      {% endfor %}
      </ul>
    </div>
  </section>

  {% else %}
    <section class="none">
    {{ "project.resources.none"|trans }}
    </section>
  {% endif %}

  {% if base.canEdit %}
  <form action="{{ path('p_show_project_list_resources', {'uid': base.project.id|to_uid}) }}" method="post" {{ form_enctype(form) }}>
    <section id="add">
      <div class="label-full">{{ "project.resources.add.url"|trans }}</div>
      <div class="content-full">
        {# The form to add a new url #}
          {{ form_widget(form.url) }}
          {{ form_row(form._token) }} 
          <input type="submit" class="button button-info" value="{{ "project.resources.add.submit"|trans }}" />
      </div>
      <div class="label-full">{{ "project.resources.add.file"|trans }}</div>
      <div class="content-full">
        {# The form to add a new file #}
        <div id="dropzone-trigger" class="dropzone" rel="resource[{{ form.file.vars.name }}]" token="{{ form._token.vars.value }}">
          <div class="fallback">
            {{ form_widget(form.file) }}
          </div>
        </div>
        <a id="upload" class="button button-info" style="display: none;"><i class="fa fa-check"></i> {{ "project.resources.add.upload"|trans }}</a>
      </div>
    </section>
  </form>
  {% endif %}

</div>
{% endblock %}
