{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }}{% if list %} | {{ "project.lists.title"|trans }} : {{ list.name }}{% endif %}{% endblock %}

{% if list %}
  {% set shortcode %}[[list:{{ list.id|to_uid }}]]{% endset %}
{% else %}
  {% set shortcode %}[[project:{{ base.project.id|to_uid }}]]{% endset %}
{% endif %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'lists', 'uid' : base.project.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@metaGeneralBundle/Resources/public/js-edit/jquery-nestable.js'
                 '@metaGeneralBundle/Resources/public/js-edit/slip.js'
                 '@metaGeneralBundle/Resources/public/js-edit/slip.behaviour.js'
                 '@metaGeneralBundle/Resources/public/js-edit/nestable.behaviour.js'
          filter='?yui_js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
<div class="wrapper info">

  <section>

      {# Tree of lists #}
      <div class="tree menu dd{% if app.request.cookies.get('igneet_trees_open') == 'true' %} open{% endif %}">
          <span>{{ "project.lists.title"|trans }}</span>
          <a href="#" class="toggle" title="{{ "project.lists.open"|trans }}"><i class="fa fa-angle-double-left"></i></a>
          {% if base.canEdit %}
            <a href="#" data-url="{{ path('p_show_project_list_new', {'uid': base.project.id|to_uid, 'token': csrf_token('newList')}) }}" data-title="{{ "project.lists.newHelp"|trans }}" title="{{ "project.lists.new"|trans }}" class="new">+</a>
          {% endif %}
          <ul class="sortable dd-list" data-value="0" data-url="{{ path('p_show_project_list_rank', {'uid': base.project.id|to_uid}) }}">
            {% for list_ in lists %}
              <li class="{% if list_.id == list.id %}active {% endif %}dd-item dd-nochildren{% if not base.canEdit %} dd-nodrag{% endif %}" id="{{ list_.id|to_uid }}">
                {# Name of list #}
                 <a href="{{ path('p_show_project_list', {'uid': base.project.id|to_uid, 'list_uid': list_.id|to_uid }) }}" title="{{ list_.name }}" class="page_title">{{ list_.name }} <em>{{ list_.getProgress() }}%</em></a>
                 {# Handle for drag and drop #}
                {% if base.canEdit %}
                  <div class="actions">
                    <a title="{{ "delete"|trans }}" class="remove" data-title="{{ "project.lists.deleteHelp"|trans }}" data-url="{{ path('p_show_project_list_delete', {'uid': base.project.id|to_uid, 'list_uid': list_.id|to_uid, 'token': csrf_token('deleteList') }) }}">&times;</a>
                  </div>
                  <div class="dd-handle"><i class="fa fa-bars"></i></div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
      </div>

      <div class="label-title"><span{% if base.canEdit %} data-name="name" data-url="{{ path('p_show_project_list_edit', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'token': csrf_token('editList') }) }}" contenteditable="true" rich="false"{% endif %}>{{ list.name }}</span></div>

      <div class="label-description"><span{% if base.canEdit %} placeholder="{{ "project.lists.description.emptyText"|trans }}" data-name="description" data-url="{{ path('p_show_project_list_edit', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'token': csrf_token('editList') }) }}" contenteditable="true" rich="false"{% endif %}>{{ list.description }}</span></div>

      {# TAGS #}
      <div class="label-tags">
        {% if list.tags|length > 0 %}
          {% spaceless %}
          <ul{% if base.canEdit %} data-url="{{ path('p_show_project_list_edit', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'token': csrf_token('editList')  }) }}" data-emptytext="{{ "tags.emptyText"|trans }}" contenteditable="list" data-name="tags"{% endif %}>
          {% for tag in list.tags %}
            <li {% if tag.color %}style="border: 1px solid #{{ tag.color }}" {% endif %}rel="{{ tag.name }}">
            {% if base.canEdit %}
              <a href="#" class="remove"><i class="fa fa-times"></i></a>  
            {% endif %}
            {{ tag.name }}</li>
          {% endfor %}
          {% if base.canEdit %}
            <li><a href="#" class="add"><i class="fa fa-plus"></i></a>
              <span style="display: none;">
                <a href="#"><i class="fa fa-times"></i></a>
                <input type="text" id="tag" placeholder="{{ "tags.placeholder"|trans }}"/>
              </span>
            </li>
          {% endif %}
          </ul>
          {% endspaceless %}
        {% else %}
          <span>{{ "tags.none"|trans }}</span>
          {% if base.canEdit %}
            <ul data-url="{{ path('p_show_project_list_edit', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'token': csrf_token('editList')  }) }}" data-emptytext="{{ "tags.emptyText"|trans }}" contenteditable="list" data-name="tags">
              <li><a href="#" class="add"><i class="fa fa-plus"></i></a>
                <span style="display: none;">
                  <a href="#"><i class="fa fa-times"></i></a>
                  <input type="text" id="tag" placeholder="{{ "tags.placeholder"|trans }}"/>
                </span>
              </li>
            </ul>
          {% endif %}
        {% endif %}
      </div>

      <div class="label-progress">
        <span style="width: {{ list.getProgress() }}%;"></span>
      </div>

      <div class="content-lists">
        <ul class="slip">
        {% for item in list.items %}
          <li class="{{ cycle(["even", "odd"], loop.index) }}{% if item.done %} done{% endif %}" data-delete="{{ path('p_show_project_listitem_delete', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'item_uid': item.id|to_uid, 'token': csrf_token('deleteListItem') }) }}">
            <div class="item">
              <span{% if base.canEdit %} data-name="text" data-url="{{ path('p_show_project_listitem_edit', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'item_uid': item.id|to_uid, 'token': csrf_token('editListItem') }) }}" contenteditable="true" rich="false"{% endif %}>{{ item.text|deeplinks|raw }}</span>
              {% if item.done %}
              <span class="date">{{ "project.lists.items.doneAt"|trans({ '%date%': item.doneAt|date("date.format"|trans)}) }}</span>
              {% else %}
              <span class="date">{{ "project.lists.items.createdAt"|trans({ '%date%': item.createdAt|date("date.format"|trans)}) }}</span>
              {% endif %}
            </div>
            {% if base.canEdit %}
            <div class="actions">
              {% if item.done %}
              <a href="{{ path('p_show_project_listitem_undo', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'item_uid': item.id|to_uid, 'token': csrf_token('togglenListItem') }) }}" title="{{ "project.lists.items.recycleHelp"|trans }}"><i class="fa fa-repeat"></i></a>
              {% else %}
              <a href="{{ path('p_show_project_listitem_do', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid, 'item_uid': item.id|to_uid, 'token': csrf_token('toggleListItem') }) }}" title="{{ "project.lists.items.finishHelp"|trans }}"><i class="fa fa-check"></i></a>
              {% endif %}
            </div>
            {% endif %}
            <span class="instant"><i class="fa fa-bars"></i></span>
          </li>
        {% endfor %}
          <li class="new"><a href="{{ path('p_show_project_listitem_new', {'uid': base.project.id|to_uid, 'list_uid': list.id|to_uid}) }}"><i class="fa fa-plus"></i>{{ "project.lists.items.new"|trans }}</a></li>
        </ul>
      </div>

</div>

{# Comments section #}
<div class="wrapper comment">
  <section>
    {% render(controller("metaProjectBundle:Comment:addListComment", { 'uid' : base.project.id|to_uid, 'list_uid': list.id|to_uid })) %}
  </section>
</div>
{% endblock %}
