{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.resources.title"|trans }}{% endblock %}

{% set shortcode %}[[project:{{ base.project.id|to_uid }}]]{% endset %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'resources', 'uid' : base.project.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/dropzone.js'
                   '@metaGeneralBundle/Resources/public/js-edit/dropzone.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="wrapper info">

  {% if base.project.resources|length > 0 %}

  <section>
    {% if base.canEdit %}
      <div class="jump">
        <a href="#add" class="button">+</a>
      </div>
    {% endif %}
    <div class="label-full">{{ "project.resources.available"|trans }} :</div>
    <div class="content-full">
      <ul class="resources">
      {% for resource in base.project.resources %}
          <li>
            <img src="{{ asset('/bundles/metageneral/img/icons/' ~ providers[resource.provider].icon ~ '.png') }}" width="32px" height="32px"/> 
            <img src="{{ asset('/bundles/metageneral/img/icons/' ~ types[resource.type].icon ~ '.png') }}" width="32px" height="32px"/>
            <span>{{ resource.title }}</span>{% if resource.originalFilename %} <em>({{ resource.originalFilename }})</em>{% endif %}
            {% if types[resource.type].displayable or not providers[resource.provider].downloadable %}<a title="{{ "project.resources.open"|trans }}" href="{{ resource.url }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}
            {% if providers[resource.provider].downloadable %}<a title="{{ "project.resources.download"|trans }}" href="{{ path('p_show_project_resource_download', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid})}}"><i class="fa fa-download"></i></a>{% endif %}
            <ul class="tags" >
            {% for tag in resource.tags %}<li {% if tag.color %}style="border: 1px solid #{{ tag.color }}" {% endif %}rel="{{ tag.name }}">{{ tag.name }}</li>{% endfor %}
            </ul>
            {% if base.canEdit %}
            <div class="details">
              <h2 data-url="{{ path('p_show_project_resource_edit', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="title" data-last="{{ resource.title }}" contenteditable="true" rich="false">{{ resource.title }}</h2>
              <em>{{ ('providers.' ~ resource.provider)|trans({}, 'resources') }} — {{ ('resources.' ~ resource.type)|trans({}, 'resources') }}</em>
              {# TAGS #}
              <div class="label-tags">
                {% if resource.tags|length == 0 %}
                  <span>{{ "tags.none"|trans }}</span>
                {% endif %}
                {% spaceless %}
                <ul data-url="{{ path('p_show_project_resource_edit', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('editResource')  }) }}" data-emptytext="{{ "resource.tags.emptyText"|trans }}" contenteditable="list" data-name="tags">
                {% for tag in resource.tags %}
                  <li {% if tag.color %}style="border: 1px solid #{{ tag.color }}" {% endif %}rel="{{ tag.name }}">
                  {% if base.canEdit %}
                    <a href="#" class="remove"><i class="fa fa-times"></i></a>  
                  {% endif %}
                  {{ tag.name }}</li>
                {% endfor %}
                <li><a href="#" class="add"><i class="fa fa-plus"></i></a>
                  <span style="display: none;">
                    <a href="#"><i class="fa fa-times"></i></a>
                    <input type="text" id="tag" placeholder="{{ "resource.tags.placeholder"|trans }}"/>
                  </span>
                </li>
                </ul>
                {% endspaceless %}
              </div>
              <form action="{{ path('p_show_project_resource_edit', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('edit')}) }}" method="post" {{ form_enctype(form) }}>
                {# if url #}
                {% if resource.provider == 'local' %}
                <input type="hidden" name="name" value="file" />
                <i class="fa fa-file-o"></i> <input type="file" name="value"/><input type="submit" class="button button-info" value="{{ "change"|trans }}"/>
                {# if file #}
                {% else %}
                <i class="fa fa-link"></i> <span data-url="{{ path('p_show_project_resource_edit', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="url" data-last="{{ resource.url }}" contenteditable="true" rich="false">{{ resource.url }}</span>
                {% endif %}
                <a class="delete" data-confirm="{{ "project.resources.deleteHelp"|trans }}" href="{{ path('p_show_project_resource_delete', {'uid': base.project.id|to_uid, 'resource_uid': resource.id|to_uid, 'token': csrf_token('delete')}) }}"><i class="fa fa-trash-o"></i> {{ "delete"|trans }}</a>
              </form>
              
            </div>
            {% endif %}
          </li>
      {% endfor %}
      </ul>
    </div>
  </section>

  {% elseif not base.canEdit %}
    <section class="none">
    {{ "project.resources.none"|trans }}
    </section>
  {% endif %}

  {% if base.canEdit %}
  <form action="{{ path('p_show_project_list_resources', {'uid': base.project.id|to_uid}) }}" method="post" {{ form_enctype(form) }}>
    <section id="add">
      <div class="label-full">{{ "project.resources.add.url"|trans }}</div>
      <div class="content-full">
        {# The form to add a new url #}
          {{ form_widget(form.url) }}
          {{ form_row(form._token) }} 
          <input type="submit" class="button button-info" value="{{ "project.resources.add.submit"|trans }}" />
      </div>
      <div class="label-full">{{ "project.resources.add.file"|trans }}</div>
      <div class="content-full">
        {# The form to add a new file #}
        <div id="dropzone-trigger" class="dropzone" rel="resource[{{ form.file.vars.name }}]" token="{{ form._token.vars.value }}">
          <div class="fallback">
            {{ form_widget(form.file) }}
          </div>
        </div>
        <a id="upload" class="button button-info" style="display: none;"><i class="fa fa-check"></i> {{ "project.resources.add.upload"|trans }}</a>
      </div>
    </section>
  </form>
  {% endif %}

</div>
{% endblock %}
