{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.info.title"|trans }}{% endblock %}

{% set shortcode %}[[project:{{ base.project.id|to_uid }}]]{% endset %}

{% block javascripts %}
  {{ parent() }}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/redactor.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'info', 'uid' : base.project.id|to_uid, 'canEdit' : base.isOwning })) %}
{% endblock %}

{% block content %}
<div class="wrapper info">

  <section>
    
    <div class="label-full">{{ "project.info.about"|trans }}</div>

    <div class="content-full">
      <div{% if base.canEdit %} data-name="about" data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" contenteditable="true" rich="true"{% else %} class="redactor_editor"{% endif %}>{{ base.project.about|deeplinks|raw }}</div>
    </div>

  </section>
     
</div>

{% if not base.shared %} {# Shared projects like the "Welcome to igneet" project : we don't need to see owners #}
<div class="wrapper team">
  <section>
    <div class="label-full">{{ "project.info.owners"|transchoice(base.project.countOwners) }} :</div>
    <ul class="content-full">
    {% for owner in base.project.owners %}
      {% if not owner.isDeleted %}
        <li>
          <a href="{{ path('u_show_user_profile', {'username': owner.username}) }}">
            <img src="{{ owner.avatar }}" width="100px" height="100px"/>
            <div>
              <div>{{ owner.firstName }}</div>
              <div>{{ owner.lastName }}</div>
            </div>
          </a>
          {% if base.isOwning and app.user != owner %}<a class="remove" href="{{ path('p_remove_owner_to_project', { 'uid': base.project.id|to_uid, 'username' : owner.username, 'token': csrf_token('removeParticipantOrOwner') }) }}">&times;</a>{% endif %}
        </li>
      {% endif %}
    {% endfor %}
    {% if base.isOwning and base.project.community is not null %}
        <li>
          <a href="{{ path('u_choose_user', {'targetAsBase64': targetOwnerAsBase64, 'token': csrf_token('addParticipantOrOwner')  }) }}">
            <i class="fa fa-plus-circle"></i>
            <div><div>{{ "project.info.add.owner"|trans }}</div></div>
          </a>
        </li>
    {% endif %}
    </ul>
  </section>
  {% if base.project.community is not null and (base.project.participants|length > 0 or base.isOwning) %}
  <section>
    <div class="label-full">{{ "project.info.participants"|transchoice(base.project.countParticipants) }} :</div>
    <ul class="content-full">
    {% for participant in base.project.participants %}
      {% if not participant.isDeleted %}
        <li>
          <a href="{{ path('u_show_user_profile', {'username': participant.username}) }}">
            <img src="{{ participant.avatar }}" width="100px" height="100px"/>
            <div>
              <div>{{ participant.firstName }}</div>
              <div>{{ participant.lastName }}</div>
            </div>
          </a>
          {% if app.user == participant %}
            <a class="remove" href="{{ path('p_remove_participant_to_project_self', { 'uid': base.project.id|to_uid, 'username' : participant.username, 'token': csrf_token('removeMySelfParticipant') }) }}">&times;</a>
          {% elseif base.isOwning %}
            <a class="remove" href="{{ path('p_remove_participant_to_project', { 'uid': base.project.id|to_uid, 'username' : participant.username, 'token': csrf_token('removeParticipantOrOwner') }) }}">&times;</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    {% if base.isOwning and base.project.community is not null %}
        <li>
          <a href="{{ path('u_choose_user', {'targetAsBase64': targetParticipantAsBase64, 'token': csrf_token('addParticipantOrOwner')  }) }}">
            <i class="fa fa-plus-circle"></i>
            <div><div>{{ "project.info.add.participant"|trans }}</div></div>
          </a>
        </li>
    {% endif %}
    </ul>
  </section>
  {% endif %}

</div>
{% endif %}

{% endblock %}