{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.resources.title"|trans }}{% endblock %}

{% set shortcode %}[[project:{{ base.project.id|to_uid }}]]{% endset %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'resources', 'uid' : base.project.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/dropzone.js'
                   '@metaGeneralBundle/Resources/public/js-edit/dropzone.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="wrapper info">

  {% if base.project.resources|length > 0 %}

  <section>
    {% if base.canEdit %}
      <div class="jump">
        <a href="#add" class="button">+</a>
      </div>
    {% endif %}
    <div class="label-full">{{ "project.resources.available"|trans }} :</div>
    <div class="content-full">
      <ul class="resources">
      {% for resource_ in base.project.resources %}
        {% include 'metaProjectBundle:Project:showResources.resource.html.twig' with {'resource': resource_, 'detailed': (resource_ == resource), 'project': base.project, 'canEdit': base.canEdit} %}
      {% endfor %}
      </ul>
    </div>
  </section>

  {% elseif not base.canEdit %}
    <section class="none">
    {{ "project.resources.none"|trans }}
    </section>
  {% endif %}

  {% if base.canEdit %}
  <form action="{{ path('p_show_project_list_resources', {'uid': base.project.id|to_uid}) }}" method="post" {{ form_enctype(form) }}>
    <section id="add">
      <div class="label-full">{{ "project.resources.add.url"|trans }}</div>
      <div class="content-full">
        {# The form to add a new url #}
          {{ form_widget(form.url) }}
          {{ form_row(form._token) }} 
          <input type="submit" class="button button-info" value="{{ "project.resources.add.submit"|trans }}" />
      </div>
      <div class="label-full">{{ "project.resources.add.file"|trans }}</div>
      <div class="content-full">
        {# The form to add a new file #}
        <div id="dropzone-trigger" class="dropzone" rel="resource[{{ form.file.vars.name }}]" token="{{ form._token.vars.value }}">
          <div class="fallback">
            {{ form_widget(form.file) }}
          </div>
        </div>
        <a id="upload" class="button button-info" style="display: none;"><i class="fa fa-check"></i> {{ "project.resources.add.upload"|trans }}</a>
      </div>
    </section>
  </form>
  {% endif %}

</div>
{% endblock %}
