{% extends 'metaProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.project.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block header %}

  <div class="avatar">
    <img src="{{ asset(base.project.getPicture()) }}" />
    {% if base.canEdit %}
      <a href="{{ path('p_edit_project_reset_picture', {'uid': base.project.id|to_uid, 'token': csrf_token('resetPicture')  }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="fa fa-trash-o fa-2x"></i></a>
      <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64, 'token': csrf_token('edit') }) }}" title="{{ "picture.changeHelp"|trans }}"><i class="fa fa-pencil fa-2x"></i></a>
    {% endif %}
  </div>
  <div class="info">
    <h2>
      <span{% if base.canEdit %} data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="name" data-last="{{ base.project.name }}" contenteditable="true" rich="false"{% endif %}>{{ base.project.name }}</span>
    </h2>

    <h3>
      <span{% if base.canEdit %} data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="headline" placeholder="{{ "project.headlineEmptyText"|trans }}" data-type="text" data-last="{{ base.project.headline }}" contenteditable="true" rich="false"{% endif %} title="{{ "project.headlineHelp"|trans }}">{{ base.project.headline }}</span>
    </h3>

    <h4>
      <div>
        <i class="fa fa-calendar"></i> {{ "project.info.created"|trans({'%date%': base.project.createdAt|date("date.fullFormat"|trans)}) }}
      </div>
      {% if base.project.originalIdea %}
      <div>
        <i class="fa fa-bulb-o"></i> {{ "project.originalIdea"|trans({'%idea%': base.project.originalIdea.name}) }}
      </div>
      {% endif %}

    </h4>

    <div>
        <i class="fa fa-rss"></i> 
        <div class="watchers">{{ base.project.countWatchers }}</div>
    {% if base.isAlreadyWatching %}
        {{ "project.watching"|trans({ '%project%': base.project.name}) }} <a href="{{ path('p_unwatch_project', {'uid': base.project.id|to_uid, 'token': csrf_token('unwatch') }) }}">{{ "project.unwatch"|trans }}</a>
    {% else %}
        {{ "project.not.watching"|trans({ '%project%': base.project.name}) }} <a href="{{ path('p_watch_project', {'uid': base.project.id|to_uid, 'token': csrf_token('watch') }) }}">{{ "project.watch"|trans }}</a>
    {% endif %}
    </div>

  </div>

OLD <<<<<<<<<<<<<<<

    <div>
      <i class="fa fa-flask"></i> 

      {% if base.project.neededSkills|length > 0 %}
      {{ "project.skills.needed"|trans }} :
      {% elseif not base.canEdit %}
      {{ "project.skills.needed.none"|trans }}
      {% endif %}
      <ul data-toggle="manual" data-title="{{ "project.skills.neededHelp"|trans }}" data-emptytext="{{ "project.skills.needed.emptyText"|trans }}" data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-type="checklist" data-source="{{ path('u_list_all_skills') }}" data-name="skills" class="skills skills-target editable-li">
        {% for skill in base.project.neededSkills %}<li class="label label-default" style="background-color: #{{ skill.color }}" rel="{{ skill.slug }}">{{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>{% endfor %}
      </ul>
      {% if base.canEdit %} <a class="editable-trigger" data-target="skills">&hellip;<i class="fa fa-pencil"></i></a>{% endif %}

    </div>

    {% if base.project.neededSkills|length > 0 %}
    <div>
      {% if base.vacantSkills|length > 0 %}
      <i class="fa fa-exclamation-circle"></i> {{ "project.skills.vacant"|trans }} :
      <ul class="skills">
        {% for skill in base.vacantSkills %}<li class="label label-default" style="background-color: #{{ skill.color }}" rel="{{ skill.slug }}">{{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>{% endfor %}
      </ul>
      {% else %}
      <i class="fa fa-check-circle"></i> {{ "project.skills.endowed"|trans }}
      {% endif %}
    </div>
    {% endif %}

{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : null, 'uid' : base.project.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}