{% extends 'metaProjectBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.info.title"|trans }}{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Default:navbar", { 'activeMenu' : 'info', 'uid' : base.standardProject.id|to_uid })) %}
{% endblock %}

{% block content %}
<section>
  <div class="wmd-heading"><i class="icon-bullhorn"></i> {{ "project.info.about"|trans }} : {% if base.canEdit %}<a class="pull-right markdown-trigger">&hellip;<i class="icon-pencil"></i></a>{% endif %}</div>
  <div>
    {% if base.canEdit %}
      <div class="wmd-message-top hide alert"><i class="icon-warning-sign"></i> {{ "unsaved.changes"|trans }}</div>
      <div class="wmd-wrapper well well-small hide" >
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea unsaved='no' data-name="about" data-url="{{ path('p_edit_project', {'uid': base.standardProject.id|to_uid, 'token': csrf_token('edit')}) }}" class="wmd-input" id="wmd-input">{{ base.standardProject.about }}</textarea>
        </div>
        <div>
          <button id="wmd-save" class="btn btn-primary">{{ "save"|trans }}</button> <span class="muted wmd-message">{{ "saveHelp"|trans }}</span>
        </div>
        <div id="wmd-preview" class="preview">{{ base.standardProject.about }}</div>
      </div>
    {% endif %}
    
    <div class="content">{{ base.standardProject.about|deeplinks|markdown }}</div>

  </div>
</section>

<section class="colored first">
  <div class="sectionTitle">{{ "project.info.owners"|trans }} : </div>
  <ul class="users sectionContent">
  {% for owningUser in base.standardProject.owners %}
    {% if not owningUser.isDeleted %}
      <li>
        <a href="{{ path('u_show_user_profile', {'username': owningUser.username}) }}">
          <img src="{{ owningUser.avatar }}" width="70" height="70" class="smallAvatar"/>
          <div class="smallObjectInfos ellipsis-multiline">
            <span><div>{{ owningUser.firstName }}</div><div>{{ owningUser.lastName }}</div></span>
          </div>
        </a>
        {% if base.isOwning and owningUser != app.user %}<a class="removeUserIcon" href="{{ path('p_remove_owner_to_project', { 'uid': base.standardProject.id|to_uid, 'username' : owningUser.username, 'token': csrf_token('removeParticipantOrOwner') }) }}"><i class="icon-remove-sign icon-large"></i></a>{% endif %}
      </li>
    {% endif %}
  {% endfor %}
  {% if base.isOwning and base.standardProject.community is not null %}
      <li>
        <a href="{{ path('u_choose_user', {'targetAsBase64': targetOwnerAsBase64, 'token': csrf_token('addParticipantOrOwner') }) }}">
          <div class="smallTextAvatar"><i class="icon-plus-sign"></i></div>
          <div class="smallObjectInfos ellipsis-multiline">
            <span>{{ "project.info.add.owner"|trans }}</span>
          </div>
        </a>
      </li>
  {% endif %}
  </ul>
</section>
{% if (base.standardProject.countParticipants > 0 or base.isOwning) and base.standardProject.community is not null %}
<section class="colored">
  <div class="sectionTitle">{{ "project.info.participants"|trans }} : </div>
  <ul class="users sectionContent">
  {% for participatingUser in base.standardProject.participants %}
    {% if not participatingUser.isDeleted %}
      <li>
        <a href="{{ path('u_show_user_profile', {'username': participatingUser.username}) }}">
          <img src="{{ participatingUser.avatar }}" width="70" height="70" class="smallAvatar"/>
          <div class="smallObjectInfos ellipsis-multiline">
            <span><div>{{ participatingUser.firstName }}</div><div>{{ participatingUser.lastName }}</div></span>
          </div>
        </a>
        {% if base.isOwning %}<a class="removeUserIcon" href="{{ path('p_remove_participant_to_project', { 'uid': base.standardProject.id|to_uid, 'username' : participatingUser.username, 'token': csrf_token('removeParticipantOrOwner') }) }}"><i class="icon-remove-sign icon-large"></i></a>{% endif %}
      </li>
    {% endif %}
  {% endfor %}
  {% if base.isOwning and base.standardProject.community is not null %}
      <li>
        <a href="{{ path('u_choose_user', {'targetAsBase64': targetParticipantAsBase64, 'token': csrf_token('addParticipantOrOwner') }) }}">
          <div class="smallTextAvatar"><i class="icon-plus-sign"></i></div>
          <div class="smallObjectInfos ellipsis-multiline">
            <span>{{ "project.info.add.participant"|trans }}</span>
          </div>
        </a>
      </li>
  {% endif %}
  </ul>
</section>
{% endif %}
{% if base.isOwning %}
<section class="colored warning">
  <div class="sectionTitle">{{ "project.delete"|trans }} : </div>
  <div class="sectionContent"><a class="btn btn-danger" data-confirm="{{ "project.deleteHelp"|trans }}" href="{{ path('p_delete_project', { 'uid': base.standardProject.id|to_uid, 'token': csrf_token('delete') }) }}">{{ "delete"|trans }}</a> <span class="muted">( <i class="icon-warning-sign"></i> {{ "deleteHelp"|trans }} )</span></div>
</section>
{% endif %}
{% endblock %}