{% extends ':mail:template.html.twig' %}

{% if not locale %}{% set locale = 'en_US' %}{% endif %}

{% block title %}
{{ "user.digest.mail.title"|trans({}, "messages", locale) }}
{% endblock %}

{% block body %}
<h3>{{ "mail.hello"|trans({}, "messages", locale) }}</h3>

<p>{% if community is not null %}{{ "user.digest.mail.intro"|trans({ '%community%': community.name}, "messages", locale) }}{% else %}{{ "user.digest.mail.intro.generic"|trans({}, "messages", locale) }}{% endif %}</p>

{% if notifications|length > 0 %}
  <section>
    <ul class="timeline">
      {% set currentDate = "now"|date_modify("+1 day") %}
      {% for notification in notifications|slice(0, 10) %}

        {% if notification['createdAt']|date('Y-m-d') < currentDate|date('Y-m-d') %}
          <li class="step">{{ notification['createdAt']|date("date.readable"|trans({}, "messages", locale)) }}</li>
          {% set currentDate = notification['createdAt'] %}
        {% endif %}

        {{ notification['data']|raw }}

      {% endfor %}
    </ul>
    
    {% if notifications|length > 10 %}
      <p class="more">{{ "user.digest.mail.more"|trans({ '%path%': base_path ~ path('u_show_user_notifications')}, "messages", locale)|raw }}</p>
    {% endif %}

  </section>
{% else %}
  <section class="centered">
    <i class="muted fa fa-check fa-4x"></i>
    <br />{{ "user.notifications.none"|trans({}, "messages", locale) }}
  </section>
{% endif %}

{% endblock %}

{% block auto %}
<p><em>{{ "mail.automated"|trans({}, "messages", locale) }}</em></p>
<p><strong>{{ "team"|trans({}, "messages", locale) }}</strong></p>
{% endblock %}

{% block link %}
<p>{{ "mail.manage.settings"|trans({}, "messages", locale)|raw }}</p>
{% endblock %}