{% extends 'metaProjectBundle::layout.html.twig' %}

{% block title %}{{ "project.choose.slug"|trans }}{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-search"></i></div>
  </div>
  <div class="objectHeader">
    <h2>{{ "project.choose.slug"|trans }}</h2>
    <h4>{{ "project.choose.slugHelp"|trans }}</h4>
  </div>
{% endblock %}


{% block content %}
<div class="formContent">
  <form action="{{ path('sp_choose_slug', { 'targetAsBase64' : targetAsBase64, 'token': token }) }}" method="post" class="form-horizontal">
      <div class="control-group ">
        <label class="control-label"><label for="slug" class="required">{{ "project.choose.slug"|trans }} : </label></label>
        <div class="controls">
          <input type="hidden" name="name" id="name" value="slug"/>
          <input type="text" name="slug" id="slug" />
        </div>
      </div>
      <div class="form-actions">
        <a class="btn" href="javascript:history.back()">{{ "cancel"|trans }}</a>
        <input type="submit" value="{{ "choose"|trans }}" class="btn btn-success" />
      </div>
  </form>
</div>
{% endblock %}
