{% extends 'metaProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "project.new"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/select2.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="fa fa-flask"></i></div>
  </div>
  <div class="objectHeader">
    <h2>{{ "project.new"|trans }}</h2>
    <h4>{{ "project.newHelp"|trans }}</h4>
    <p>{{ "project.newText"|trans }}</p>
  </div>
{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' with form_widget_simple as base_form_widget_simple %}

{% block form_widget_simple %}
    {{ block('base_form_widget_simple') }}
    {% if required or attr.help is defined %}
        <span class="help-block">{% if required %}<span class="muted">* {{ "required"|trans }}</span>{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</span>
    {% endif %}
{% endblock %}

{% block checkbox_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% if required or attr.help is defined %}
        <span class="help-block">{% if required %}<span class="muted">* {{ "required"|trans }}</span>{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</span>
    {% endif %}
{% endblock checkbox_widget %}
  
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li><i class="fa fa-warning"></i> {{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
<div class="control-group {% if errors %}error{% endif %}">
  <label class="control-label">{{ form_label(form) }}</label>
  <div class="controls">
    {{ form_widget(form) }}
    {% if errors %}
    <span class="help-block error-block">{{ form_errors(form) }}</span>
    {% endif %}
  </div>
</div>
{% endblock form_row %}

{% block content %}
<div class="formContent">
  <form action="{{ path('p_new_project') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
      {{ form_widget(form) }}
      <div class="form-actions">
        <input type="submit" value="{{ "create"|trans }}" class="btn btn-success" />
      </div>
  </form>
</div>
{% endblock %}