{% extends 'metaProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "project.allProjects"|trans }}{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="fa fa-list"></i></div>
  </div>
  <div class="objectHeader">
    <h2>{{ "project.allProjects"|trans }}</h2>
    <h4>
      {% if app.user.currentCommunity is not null %}
        {{ "project.listHelp.community"|trans({ '%community%': app.user.currentCommunity.name}) }}
      {% else %}
        {{ "project.listHelp.privateSpace"|trans }}
      {% endif %}
    </h4>
    <p>{{ "filters.sort"|trans }} :
      <a href="{{ path('p_list_projects', {'sort': 'newest', 'page' : pagination.page}) }}"><i class="fa fa-star"></i> {{ "filters.newest"|trans }}</a> - 
      <a href="{{ path('p_list_projects', {'sort': 'update', 'page' : pagination.page}) }}"><i class="fa fa-clock-o"></i> {{ "filters.recent"|trans }}</a> - 
      <a href="{{ path('p_list_projects', {'sort': 'alpha', 'page' : pagination.page}) }}"><i class="fa fa-font"></i> {{ "filters.alpha"|trans }}</a>
    </p>
    {% if statuses|length < 4 %}
      <p class="muted">{{ "project.listHelp.statuses"|trans({'%statuses%': statuses|join(', ') }) }}</p>
    {% endif %}
    <p>
      {% if not userIsGuest %}<a href="{{ path('p_new_project') }}" class="btn btn-success">{{ "project.new"|trans }}</a>{% endif %}
      {% if statuses|length == 4 %}
        <a href="{{ path('p_list_sleeping_projects') }}" class="btn btn-warning">{{ "project.list.sleeping"|trans }}</a>
        <a href="{{ path('p_list_closed_projects') }}" class="btn btn-info">{{ "project.list.closed"|trans }}</a>
      {% else %}
        <a href="{{ path('p_list_projects') }}" class="btn btn-primary">{{ "project.list.all"|trans }}</a>
      {% endif %}
    </p>
  </div>
{% endblock %}

{% block content %}
{% if projects %}
{% for project in projects %}
<section class="listing">
  
  <a href="{{ path('p_show_project', {'uid': project.id|to_uid }) }}">
    <img src="{{ asset(project.getPicture()) }}" width="100" height="100"/>
  </a>

  <div class="listingItemInfo">
    <h4 class="ellipsis"><a href="{{ path('p_show_project', {'uid': project.id|to_uid }) }}">{{ project.name }}</a>{% if project.isPrivate %} ({{ "project.privateShort"|trans }}){% endif %}</h4>
    <div class="ellipsis">{{ project.headline }}</div>
    <div class="muted"><i class="fa fa-calendar"></i> {{ "project.info.created"|trans({'%date%': project.createdAt|date("date.fullFormat"|trans)}) }}</div>
    <div class="muted"><i class="fa fa-clock-o"></i> {{ "project.info.updated"|trans({'%date%': project.updatedAt|date("date.fullFormat"|trans)}) }}</div>
  </div>

  <div class="listingItemRelatedObjects">

    <div class="type">
      <div class="muted pull-right">
        {{ "project.owners"|transchoice(project.countOwners, { '%count': project.countOwners}) }}, {{ "project.participants"|transchoice(project.countParticipants, { '%count': project.countParticipants}) }}
      </div>
    </div>

    <ul>
      {% if project.countParticipants > 5 %}
      <li>
        <div class="miniTextAvatar">...</div>
      </li>
      {% endif %}
      {% for user in project.getRandomParticipantsAndOwners(5) %}
        {% if not user.isDeleted %}
        <li>
          <a href="{{ path('u_show_user_profile', {'username': user.username}) }}">
            <img src="{{ user.avatar }}" title="{{ user.getFullName() }}" width="30" height="30" class="miniAvatar"/>
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</section>
{% endfor %}
<section>
{% render(controller("metaGeneralBundle:Default:pagination",{ 'route': 'p_list_projects', 'page' : pagination.page, 'total' : pagination.totalProjects, 'params' : {'sort': sort } })) %}
</section>
{% else %}
<section>
{{ "project.none"|trans }}
</section>
{% endif %}

{% endblock %}