{% extends 'metaProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.standardProject.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/bootstrap-editable.js' 
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
                   '@metaGeneralBundle/Resources/public/js-edit/markdown-editor/*' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets  'bundles/metageneral/css-edit/bootstrap-editable.css' 
    filter='?yui_css,cssrewrite' %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    {% if base.canEdit %}<div class="changeAvatar"><a href="{{ path('sp_edit_project_reset_picture', {'slug': base.standardProject.slug, 'token': csrf_token('resetPicture') }) }}" alt="Reset to default picture"><i class="icon-trash"></i></a> | <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64, 'token': csrf_token('edit') }) }}"><i class="icon-pencil"></i> change</a></div>{% endif %}
    <img src="{{ asset(base.standardProject.getPicture()) }}" width="150" height="150" class="avatar"/>
{% if base.isAlreadyWatching %}
    <a href="{{ path('sp_unwatch_project', {'slug': base.standardProject.slug, 'token': csrf_token('unwatch') }) }}" class="btn btn-info watchAction">Unwatch project</a>
{% else %}
    <a href="{{ path('sp_watch_project', {'slug': base.standardProject.slug, 'token': csrf_token('watch') }) }}" class="btn btn-success watchAction">Watch project</a>
{% endif %}
  </div>

  <div class="projectInfo">

    <h2 class="ellipsis">
      <span class="editable" data-title="Change the title of this project" data-name="name" data-url="{{ path('sp_edit_project', {'slug': base.standardProject.slug, 'token': csrf_token('edit') }) }}">{{ base.standardProject.name }}</span>
    </h2>
    <h4 class="ellipsis">
      <span class="editable" data-title="Change the headline of this project" data-name="headline" data-emptytext="Click to add a headline" data-url="{{ path('sp_edit_project', {'slug': base.standardProject.slug, 'token': csrf_token('edit') }) }}" data-type="textarea" title="{{ base.standardProject.headline }}">{{ base.standardProject.headline }}</span>
    </h4>
    <div>
      <i class="icon-calendar"></i> Created on {{ base.standardProject.createdAt|date("d/m/Y") }}
      <span class="muted">{% if base.standardProject.originalIdea %} from the idea "{{ base.standardProject.originalIdea.name }}"{% endif %}</span>
    </div>

    {% if base.standardProject.private and base.standardProject.community is not null %}
    <div>
      <i class="icon-minus-sign"></i> This project is private (<a data-confirm="Are you sure you want to make this project public ?" href="{{ path('sp_make_public', {'slug': base.standardProject.slug, 'token': csrf_token('makePublic') }) }}">make it public</a>)
    </div>
    {% elseif base.standardProject.community is null %}
    <div>
      <i class="icon-group"></i> <a href="{{ path('g_choose_community', {'targetAsBase64': base.targetProposeToCommunityAsBase64 , 'token': csrf_token('edit') }) }}">Propose this project</a> to a community
    </div>
    {% endif %}

    <div>
      <i class="icon-beaker"></i> 

      {% if base.standardProject.neededSkills|length > 0 %}
      Needed skills :
      {% elseif not base.canEdit %}
      No specific skills needed.
      {% endif %}
      <ul data-toggle="manual" data-title="What skills are needed for this project?" data-emptytext="Add needed skills" data-url="{{ path('sp_edit_project', {'slug': base.standardProject.slug, 'token': csrf_token('edit') }) }}" data-type="checklist" data-source="{{ path('u_list_all_skills') }}" data-name="skills" class="skills skills-target editable-li">
    {% for skill in base.standardProject.neededSkills %}<li class="label" style="background-color: #{{ skill.color }}" rel="{{ skill.slug }}">{{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>{% endfor %}
      </ul>
      {% if base.canEdit %} <a class="editable-trigger" data-target="skills">&hellip;<i class="icon-pencil"></i></a>{% endif %}

    </div>

    {% if base.standardProject.neededSkills|length > 0 %}
    <div>
      {% if base.vacantSkills|length > 0 %}
      <i class="icon-exclamation-sign"></i> Vacant skills :
      <ul class="skills">
    {% for skill in base.vacantSkills %}<li class="label" style="background-color: #{{ skill.color }}" rel="{{ skill.slug }}">{{ skill.slug|trans({}, 'skills') }}</li>{% endfor %}
      </ul>
      {% else %}
      <i class="icon-ok-sign"></i> All skills are endowed !
      {% endif %}
    </div>
    {% endif %}

  </div>

  <div class="projectAbout">
    <div>{{ base.standardProject.countOwners }} owner{% if base.standardProject.countOwners > 1 %}s{% endif %}</div>
    <div>{{ base.standardProject.countParticipants }} participating</div>
    <div>{{ base.standardProject.countWatchers }} watching</div>
  </div>
{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Default:navbar", { 'activeMenu' : null, 'slug' : base.standardProject.slug })) %}
{% endblock %}