{% extends 'metaProjectBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.project.name }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/bootstrap-editable.js' 
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
                   '@metaGeneralBundle/Resources/public/js-edit/markdown-editor/*' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets  'bundles/metageneral/css-edit/bootstrap-editable.css' 
    filter='?yui_css,cssrewrite' %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    {% if base.canEdit %}<div class="changeAvatar"><a href="{{ path('p_edit_project_reset_picture', {'uid': base.project.id|to_uid, 'token': csrf_token('resetPicture') }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="icon-trash"></i></a> | <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64, 'token': csrf_token('edit') }) }}"><i class="icon-pencil"></i> {{ "picture.change"|trans }}</a></div>{% endif %}
    <img src="{{ asset(base.project.getPicture()) }}" width="150" height="150" class="avatar"/>
{% if base.isAlreadyWatching %}
    <a href="{{ path('p_unwatch_project', {'uid': base.project.id|to_uid, 'token': csrf_token('unwatch') }) }}" class="btn btn-info watchAction">{{ "project.unwatch"|trans }}</a>
{% else %}
    <a href="{{ path('p_watch_project', {'uid': base.project.id|to_uid, 'token': csrf_token('watch') }) }}" class="btn btn-success watchAction">{{ "project.watch"|trans }}</a>
{% endif %}
  </div>

  <div class="projectInfo">

    <h2 class="ellipsis">
      <span class="editable" data-title="{{ "project.nameHelp"|trans }}" data-name="name" data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}">{{ base.project.name }}</span>
    </h2>
    <h4 class="ellipsis">
      <span class="editable" data-title="{{ "project.headlineHelp"|trans }}" data-name="headline" data-emptytext="{{ "project.headline.emptyText"|trans }}" data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-type="textarea" title="{{ base.project.headline }}">{{ base.project.headline }}</span>
    </h4>
    <div>
      <i class="icon-calendar"></i> {{ "project.info.created"|trans({'%date%': base.project.createdAt|date("date.fullFormat"|trans)}) }}
      {% if base.project.originalIdea %}
        <span class="muted">({{ "project.originalIdea"|trans({'%idea%': base.project.originalIdea.name}) }})</span>
      {% endif %}
    </div>

    {% if base.project.private and base.project.community is not null %}
    <div>
      <i class="icon-minus-sign"></i> {{ "project.is.private"|trans }}
      {% if base.isOwning %}(<a data-confirm="{{ "project.privateHelp"|trans }}" href="{{ path('p_make_public', {'uid': base.project.id|to_uid, 'token': csrf_token('makePublic') }) }}">{{ "project.make.public"|trans }}</a>){% endif %}
    </div>
    {% elseif base.project.community is null %}
    <div>
      <i class="icon-group"></i> <a href="{{ path('g_choose_community', {'targetAsBase64': base.targetProposeToCommunityAsBase64 , 'token': csrf_token('edit') }) }}">{{ "project.propose"|trans }}</a>
    </div>
    {% else %}
    <div>
      <i class="icon-globe"></i> {{ "project.is.public"|trans }}
      {% if base.isOwning %}(<a data-confirm="{{ "project.publicHelp"|trans }}" href="{{ path('p_make_private', {'uid': base.project.id|to_uid, 'token': csrf_token('makePrivate') }) }}">{{ "project.make.private"|trans }}</a>){% endif %}
    </div>
    {% endif %}

    <div>
      <i class="icon-beaker"></i> 

      {% if base.project.neededSkills|length > 0 %}
      {{ "project.skills.needed"|trans }} :
      {% elseif not base.canEdit %}
      {{ "project.skills.needed.none"|trans }}
      {% endif %}
      <ul data-toggle="manual" data-title="{{ "project.skills.neededHelp"|trans }}" data-emptytext="{{ "project.skills.needed.emptyText"|trans }}" data-url="{{ path('p_edit_project', {'uid': base.project.id|to_uid, 'token': csrf_token('edit') }) }}" data-type="checklist" data-source="{{ path('u_list_all_skills') }}" data-name="skills" class="skills skills-target editable-li">
        {% for skill in base.project.neededSkills %}<li class="label" style="background-color: #{{ skill.color }}" rel="{{ skill.slug }}">{{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>{% endfor %}
      </ul>
      {% if base.canEdit %} <a class="editable-trigger" data-target="skills">&hellip;<i class="icon-pencil"></i></a>{% endif %}

    </div>

    {% if base.project.neededSkills|length > 0 %}
    <div>
      {% if base.vacantSkills|length > 0 %}
      <i class="icon-exclamation-sign"></i> {{ "project.skills.vacant"|trans }} :
      <ul class="skills">
        {% for skill in base.vacantSkills %}<li class="label" style="background-color: #{{ skill.color }}" rel="{{ skill.slug }}">{{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>{% endfor %}
      </ul>
      {% else %}
      <i class="icon-ok-sign"></i> {{ "project.skills.endowed"|trans }}
      {% endif %}
    </div>
    {% endif %}

  </div>

  <div class="projectAbout">
    <div>{{ "project.owners"|transchoice(base.project.countOwners, { '%count': base.project.countOwners}) }}</div>
    <div>{{ "project.participants"|transchoice(base.project.countParticipants, { '%count': base.project.countParticipants}) }}</div>
    <div>{{ "project.watchers"|transchoice(base.project.countWatchers, { '%count': base.project.countWatchers}) }}</div>
  </div>
{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : null, 'uid' : base.project.id|to_uid })) %}
{% endblock %}