{% extends 'metaUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.choose.title"|trans }}{% endblock %}

{% block header %}
  <div class="title">
    <h2>{{ "user.choose.title"|trans }}</h2>
    <h3>{{ "user.choose.help"|trans }}</h3>
    {% if backLink %}
      <p><a href="{{ backLink }}">&laquo; {{ "back"|trans }}</a></p>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
<form action="{{ path('u_choose_user', { 'targetAsBase64' : targetAsBase64, 'token': token }) }}" method="post">
   
    <section>
      <div class="label"><label for="communityUsername" {% if users|length == 0 %}disabled="disabled"{% endif %}>{{ "user.choose.field"|trans }} : </label></div>
      <div class="content">
        <select id="communityUsername" name="username" {% if users|length == 0 %}disabled="disabled"{% endif %}>
          <option value="-1"> -- </option>
          {% for user in users %}
          <option value="{{ user.username }}">{{ user.getFullName() }}</option>
          {% endfor %}
        </select>
      </div>
    </section>
    
    {% if external %}
    <section>
      <div class="label"><label for="mailOrUsername">{{ "user.choose.alternate"|trans }} : </label></div>
      <div class="content"><input type="text" id="mailOrUsername" name="mailOrUsername"></div>
    </section>
    {% endif %}

    <section>
      <div class="content">
        <input type="submit" value="{{ "user.choose.button"|trans }}" class="button" /></div>
    </section>
</form>
{% endblock %}
