{% extends 'metaUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ user.getFullName() }}{% endblock %}

{% set shortcode %}[[user:{{ user.username }}]]{% endset %}

{% block javascripts %}
  {{ parent() }}
  {% if canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/redactor.js'
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block header %}
  <div class="avatar">

    <img src="{{ asset(user.getAvatar()) }}" />
    {% if canEdit %}
      <a href="{{ path('u_edit_user_profile_reset_avatar', {'username': user.username, 'token': csrf_token('resetAvatar') }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="fa fa-trash-o fa-2x"></i></a>
      <a href="{{ path('g_choose_file', {'targetAsBase64': targetAvatarAsBase64, 'token': csrf_token('edit') }) }}" title="{{ "picture.changeHelp"|trans }}"><i class="fa fa-pencil fa-2x"></i></a>
    {% endif %}

  </div>

  <div class="info">

    <h2>
      <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="first_name" data-last="{{ user.firstName }}" contenteditable="true" rich="false"{% endif %}>{{ user.firstName }}</span> <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="last_name" data-last="{{ user.lastName }}" contenteditable="true" rich="false"{% endif %}>{{ user.lastName }}</span>
    </h2>

    <h3>
      <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="headline" placeholder="{{ "user.headline.emptyText"|trans }}" data-type="text" data-last="{{ user.headline }}" contenteditable="true" rich="false"{% endif %} title="{{ user.headline }}">{{ user.headline }}</span>
    </h3>

    <div class="skills">
      {% if user.skills|length > 0 or canEdit %}
        {% spaceless %}
        <ul{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-emptytext="{{ "user.skills.emptyText"|trans }}" data-name="skills"{% endif %}>
        {% for skill in user.skills %}
          <li style="border: 1px solid #{{ skill.color }}" rel="{{ skill.slug }}">
          {% if canEdit %}
            <a href=""><i class="fa fa-times"></i></a>  
          {% endif %}
          {{ (skill.slug ~ ".name")|trans({}, 'skills') }}</li>
        {% endfor %}
          {% if canEdit %}
          <li><a href=""><i class="fa fa-plus"></i></a></li>
          {% endif %}
        </ul>
        {% endspaceless %}
      {% else %}
        {{ "user.skills.none"|trans }}
      {% endif %}
    </div>

    <h4>
      <div>
        <i class="fa fa-map-marker"></i> <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="city" data-title="{{ "user.city.help"|trans }}" data-last="{{ user.city }}" placeholder="{{ "user.city.emptyText"|trans }}" contenteditable="true" rich="false"{% endif %}>{{ user.city }}</span>
      </div>

      <div>
        <i class="fa fa-calendar"></i> {{ "user.list.member.since"|trans({ '%date%': user.createdAt|date("date.format"|trans)}) }}
      </div>
    </h4>

    <div>
    {% if alreadyFollowing %}
        <i class="fa fa-rss"></i> {{ "user.following"|trans({'%user%': user.firstName}) }} <a href="{{ path('u_unfollow_user', {'username': user.username, 'token': csrf_token('unfollowUser') }) }}">{{ "user.unfollow"|trans }}</a>
    {% elseif not canEdit %}
        <i class="fa fa-rss"></i> {{ "user.not.following"|trans({'%user%': user.firstName}) }} <a href="{{ path('u_follow_user', {'username': user.username, 'token': csrf_token('followUser') }) }}">{{ "user.follow"|trans }}</a>
    {% endif %}
    </div>

  </div>

{% endblock %}

{% block content %}
<section>
  <div class="label">{{ "user.about"|trans }} :</div>
  <div class="content">
    <div{% if canEdit %} data-name="about" data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" contenteditable="true" rich="true"{% else %} class="redactor_editor"{% endif %}>{{ user.about|deeplinks|raw }}</div>
  </div>
</section>

{% if following|length > 0 %}
<section>
<div class="label">{{ "user.followings"|trans({'%user%': user.firstName }) }} :</div>
<ul class="content">
{% for followingUser in following %}
  <li>
    <a href="{{ path('u_show_user_profile', {'username': followingUser.username}) }}">
      <img src="{{ followingUser.avatar }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span><div>{{ followingUser.firstName }}</div><div>{{ followingUser.lastName }}</div></span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and followers|length > 0 %}
<section>
<div class="label">{{ "user.followers"|trans }} :</div>
<ul class="content">
{% for followerUser in followers %}
  <li>
    <a href="{{ path('u_show_user_profile', {'username': followerUser.username}) }}">
      <img src="{{ followerUser.avatar }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span><div>{{ followerUser.firstName }}</div><div>{{ followerUser.lastName }}</div></span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and projectsWatched|length > 0 %}
<section>
<div class="label">{{ "user.projects.watched"|trans }} :</div>
<ul class="content">
{% for watchedProject in projectsWatched %}
  <li>
    <a href="{{ path('p_show_project', {'uid': watchedProject.id|to_uid }) }}">
      <img src="{{ watchedProject.picture }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span>{{ watchedProject.name }}</span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if projectsOwned|length > 0 %}
<section>
<div class="label">{{ "user.projects.owned"|trans }} :</div>
<ul class="content">
{% for ownedProject in projectsOwned %}
  <li>
    <a href="{{ path('p_show_project', {'uid': ownedProject.id|to_uid }) }}">
      <img src="{{ ownedProject.picture }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span>{{ ownedProject.name }}</span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if projectsParticipatedIn|length > 0 %}
<section>
<div class="label">{{ "user.projects.participated"|trans }} :</div>
<ul class="content">
{% for participatedInProject in projectsParticipatedIn %}
  <li>
    <a href="{{ path('p_show_project', {'uid': participatedInProject.id|to_uid }) }}">
      <img src="{{ participatedInProject.picture }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span>{{ participatedInProject.name }}</span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and ideasWatched|length > 0 %}
<section>
<div class="label">{{ "user.ideas.watched"|trans }} :</div>
<ul class="content">
{% for idea in ideasWatched %}
  <li>
    <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
      <img src="{{ idea.picture }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span>{{ idea.name }}</span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if ideasCreated|length > 0 %}
<section>
<div class="label">{{ "user.ideas.initiated"|trans }} :</div>
<ul class="content">
{% for idea in ideasCreated %}
  <li>
    <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
      <img src="{{ idea.picture }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span>{{ idea.name }}</span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if ideasParticipatedIn|length > 0 %}
<section>
<div class="label">{{ "user.ideas.participated"|trans }} :</div>
<ul class="content">
{% for idea in ideasParticipatedIn %}
  <li>
    <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
      <img src="{{ idea.picture }}" width="70" height="70" class="smallAvatar"/>
      <div class="smallObjectInfos ellipsis-multiline">
        <span>{{ idea.name }}</span>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% endblock %}
