{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Billing Plans{% endblock %}

{% block section %}Billing Plans{% endblock %}

{% block content %}
<div class="wrapper info">
  <section>

    <a href="{{ path('a_billing_plan_new') }}" class="button button-success">Create a new plan</a>
 
    {% if plans|length == 0 %}
    No plans to show
    {% else %}
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Name & Description</th>
          <th>Used by</th>
          <th>Type</th>
          <th>Created on</th>
          <th>Updated on</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for plan in plans %}
        <tr>
          <td class="billing-state-{{ plan.state|lower }}">{{ plan.state }}</td> 
          <td>
            {{ plan.name }}<br>
            <em>{{ plan.description }}</em> <br><br>
            {{ plan.id }}
          </td>
          <td>{{ plan.count }}</td>
          <td>{{ plan.type }}</td>
          <td>{{ plan.create_time|date('d/m/Y') }}</td>
          <td>{{ plan.update_time|date("d/m/Y") }}</td>
          <td><a href="{{ path('a_billing_plan_edit', { 'id' : plan.id } ) }}"><i class="fa fa-pencil"></i></a>
            {% if plan.state == 'ACTIVE' %}
              <a href="{{ path('a_billing_plan_inactivate', { 'id' : plan.id} ) }}"><i class="fa fa-power-off"></i></a>
            {% else %}
              <a href="{{ path('a_billing_plan_activate', { 'id' : plan.id} ) }}"><i class="fa fa-check"></i></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </section>
</div>
{% endblock %}
