{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Billing plan details{% endblock %}

{% block section %}Billing plan details{% endblock %}

{% block content %}
<div class="wrapper info">
  <section>
    <h2>{{ plan.name }} ({{ plan.id }})</h2>
    <p>{{ plan.description }}</p>

    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Used by</th>
          <th>Type</th>
          <th>Created on</th>
          <th>Updated on</th>
        </tr>
      </thead>
      <tbody class="small">
        <td class="billing-state-{{ plan.state|lower }}">{{ plan.state }}</td>
        <td>0</td>
        <td>{{ plan.type }}</td>
        <td>{{ plan.create_time|date('d/m/Y') }}</td>
        <td>{{ plan.update_time|date('d/m/Y') }}</td>
      </tbody>
    </table>
    
    <h2>Usage</h2>
    
    <p>Actually used by <strong>{{ plan.count }}</strong> communities.

    <h2>Payment</h2>
    
    {% for p in plan.payment_definitions %}
      <p>Amount : {{ p.amount.value }} <em>{{ p.amount.currency }}</em></p>
      <p>Frequency : {{ p.frequency }}, for {{ p.cycles }} cycles</p>
    {% endfor %}

    <h2>Urls</h2>

    <p><strong>Return URL</strong> : <a href="{{ plan.merchant_preferences.return_url }}">{{ plan.merchant_preferences.return_url }}</a></p>
    <p><strong>Cancel URL</strong> : <a href="{{ plan.merchant_preferences.cancel_url }}">{{ plan.merchant_preferences.cancel_url }}</a></p>

  </section>
</div>
{% endblock %}
