{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ "community.choose"|trans }}{% endblock %}

{% block header %}
  <div class="title">
    <h2>{{ "community.choose"|trans }}</h2>
    <h4>{{ "community.chooseHelp"|trans }}</h4>
  </div>
{% endblock %}

{% block content %}
  <form action="{{ path('g_choose_community', { 'targetAsBase64' : targetAsBase64, 'token': token }) }}" method="post" enctype="multipart/form-data">

      <section>
        <div class="label">{{ "community.choose"|trans }} :</div>
        <div class="content">
          <input type="hidden" name="name" id="name" value="community"/>
          <select id="value" name="value" required="required">
            {% for userCommunity in userCommunities %}
            <option value="{{ userCommunity.community.id|to_uid }}">{{ userCommunity.community.name }}</option>
            {% endfor %}
          </select>
        </div>
      </section>

      <section>
        <div class="content">
          <input type="submit" value="{{ "choose"|trans }}" class="button" />
        </div>
      </section>
  
  </form>
{% endblock %}
