{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "community.new"|trans }}{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    
    <section>
      <div class="label">{{ label|trans }} :</div>
      <div class="content">
        {{ form_widget(form, { 'attr' : { 'class': errors?'error':'' }}) }}
        {% if errors %}
          <em class="error"><i class="fa fa-exclamation-triangle"></i> {{ errors[0].message|trans }}</em>
        {% endif %}
        {% if required or attr.help is defined %}
          <em class="help">{% if required %}* {{ "required"|trans }}.{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</em>
        {% endif %}
      </div>
    </section>

{% endblock form_row %}

{% block header %}
  <div class="title">
    <h2>{{ "community.new"|trans }}</h2>
    <h4>{{ "community.newHelp"|trans }}</h4>
  </div>
{% endblock %}

{% block content %}
  <form action="{{ path('g_create_community') }}" method="post" {{ form_enctype(form) }}>
      {{ form_rest(form) }}
    <section>
      <div class="content">
        <input type="submit" value="{{ "community.create"|trans }}" class="button button-success" />
      </div>
    </section>
  </form>
{% endblock %}