{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "community.new"|trans }}{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-beaker"></i></div>
  </div>
  <div class="objectHeader">
    <h2>{{ "community.new"|trans }}</h2>
    <h4>{{ "community.createHelp"|trans }}</h4>
  </div>
{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' with form_widget_simple as base_form_widget_simple %}

{% block form_widget_simple %}
    {{ block('base_form_widget_simple') }}
    {% if required or attr.help is defined %}
        <span class="help-block">{% if required %}<span class="muted">* {{ "required"|trans }}.</span>{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</span>
    {% endif %}
{% endblock %}
  
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li><i class="icon-warning-sign"></i> {{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
<div class="control-group {% if errors %}error{% endif %}">
  <label class="control-label">{{ form_label(form) }}</label>
  <div class="controls">
    {{ form_widget(form) }}
    {% if errors %}
    <span class="help-block error-block">{{ form_errors(form) }}</span>
    {% endif %}
  </div>
</div>
{% endblock form_row %}

{% block content %}
<div class="formContent">
  <form action="{{ path('g_create_community') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
      {{ form_widget(form) }}
      <div class="form-actions">
        <input type="submit" value="{{ "community.create"|trans }}" class="btn btn-success" />
      </div>
  </form>
</div>
{% endblock %}