{% extends 'metaGeneralBundle:Community:layout-full.html.twig' %}

{% block title %}{{ parent() }} > {{ app.user.currentCommunity.name }} | {{ "community.home.title"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js'  
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% if isManager %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block header %}

  <div class="avatar">

    <img src="{{ asset(app.user.currentCommunity.getPicture()) }}" />
    {% if isManager %}
      <a href="{{ path('g_edit_community_reset_picture', {'uid': app.user.currentCommunity.id|to_uid, 'token': csrf_token('resetPicture')  }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="fa fa-trash-o fa-2x"></i></a>
      <a href="{{ path('g_choose_file', {'targetAsBase64': targetPictureAsBase64, 'token': csrf_token('edit') }) }}" title="{{ "picture.changeHelp"|trans }}"><i class="fa fa-pencil fa-2x"></i></a>
    {% endif %}

  </div>

  <div class="info">

    <h2>
      <span{% if isManager %} data-url="{{ path('g_edit_community', {'token': csrf_token('edit') }) }}" data-name="name" data-last="{{ app.user.currentCommunity.name }}" contenteditable="true" rich="false"{% endif %}>{{ app.user.currentCommunity.name }}</span>
    </h2>

    <h3>
      <span{% if isManager %} data-url="{{ path('g_edit_community', {'token': csrf_token('edit') }) }}" data-name="headline" placeholder="{{ "community.createForm.headlinePlaceholder"|trans }}" data-type="text" data-last="{{ app.user.currentCommunity.headline }}" contenteditable="true" rich="false"{% endif %} title="{{ app.user.currentCommunity.headline }}">{{ app.user.currentCommunity.headline }}</span>
    </h3>

    <h4>
      <div>
        <i class="fa fa-calendar"></i> {{ "community.createdOn"|trans({'%date%': app.user.currentCommunity.createdAt|date("date.fullFormat"|trans)}) }}
      </div>
    </h4>

    <p>{{ app.user.currentCommunity.about }}</p>

  </div>

{% endblock %}

{% block content %}
<div class="wrapper community">
  
  <div>
  <section>
  {% render(controller("metaGeneralBundle:Community:addCommunityComment")) %}

  {% render(controller("metaGeneralBundle:Community:history", {'page' : 1})) %}

  </section>

  {% if not isGuest %}
  <div class="aside">
    {% if isManager %}
    <div>
      <a class="button button-info" href="{{ path('g_invite', {'token': csrf_token('invite')}) }}"><i class="fa fa-user"></i> {{ "community.invite.short"|trans }}</a>
      <a class="button" href="{{ path('g_manage_community') }}"><i class="fa fa-cogs"></i> {{ "community.manage.short"|trans }}</a>
    </div>
    {% else %}
    <div>
      <a class="button button-info" href="{{ path('g_propose', {'token': csrf_token('propose')}) }}"><i class="fa fa-user"></i> {{ "community.propose.short"|trans }}</a>
    </div>
    {% endif %}
    <div class="users">
      <h4><i class="fa fa-group"></i> {{ "community.home.users"|trans }}</h4>
      {% if users|length > 0 %}
        <ul>
        {% for user in users %}
          <li{% if date(user.lastSeenAt) > date("now - " ~ community_online_trigger) %} class="online"{% endif %}>
            <a href="{{ path('u_show_user_profile', {'username': user.username}) }}">
              <img src="{{ user.avatar }}" title="{{ user.getFullName() }}" width="31px" height="31px"/>
            </a>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <em>{{ "community.home.no.people"|trans }}</em>
      {% endif %}
    </div>
    <div class="objects">
      <h4><i class="fa fa-lightbulb-o"></i> {{ "community.home.last.ideas"|trans }}</h4>
      {% if lastIdeas|length > 0 %}
        <ul>
        {% for idea in lastIdeas %}
          <li><a href="{{ path('i_show_idea', { uid: idea.id|to_uid} ) }}">{{ idea.name }}</a><em>{{ "community.home.created.on"|trans({ '%date%': idea.createdAt|date("date.format"|trans) }) }}</em></li>
        {% endfor %}
        </ul>
      {% else %}
        <em>{{ "community.home.no.ideas"|trans }}</em>
      {% endif %}
    </div>
    <div class="objects">
      <h4><i class="fa fa-paperclip"></i> {{ "community.home.last.projects"|trans }}</h4>
      {% if lastProjects|length > 0 %}
        <ul>
        {% for project in lastProjects %}
          <li><a href="{{ path('p_show_project', { uid: project.id|to_uid} ) }}">{{ project.name }}</a><em>{{ "community.home.created.on"|trans({ '%date%': project.createdAt|date("date.format"|trans) }) }}</em></li>
        {% endfor %}
        </ul>
      {% else %}
        <em>{{ "community.home.no.projects"|trans }}</em>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}
