{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "community.manage"|trans }}{% endblock %}

{% block header %}
<div class="title">
  <h2>{{ "community.manage"|trans }}</h2>
  <h3>{{ "community.manageHelp"|trans }}</h3>
  <h4><i class="fa fa-calendar"></i> {{ "community.validUntil"|trans({'%date%': app.user.currentCommunity.validUntil|date("date.format"|trans) }) }}</h4>
</div>
{% endblock %}

{% block content %}

  <section>
    <div class="label">{{ "community.users"|trans }} :</div>
    <div class="content">
      {{ "community.usersCount"|trans({'%users%': usersCount }) }}
      <p><a href="{{ path('g_invite') }}" class="button button-info"><i class="fa fa-user"></i> {{ "community.invite"|trans }}</a></p>
    </div>
  </section>

  <section>
    <div class="label">{{ "community.managers"|trans }} :</div>
    <ul class="content">
    {% for managerCommunity in userCommunityManagers %}
     
        <li>
          <a href="{{ path('u_show_user_profile', {'username': managerCommunity.user.username}) }}">
            <img src="{{ managerCommunity.user.avatar }}" width="70" height="70" class="smallAvatar"/>
            <div class="smallObjectInfos ellipsis-multiline">
              <span><div>{{ managerCommunity.user.firstName }}</div><div>{{ managerCommunity.user.lastName }}</div></span>
            </div>
          </a>
          <a class="removeUserIcon" href="{{ path('g_remove_manager_community', { 'uid': managerCommunity.community.id|to_uid, 'username' : managerCommunity.user.username, 'token': csrf_token('removeManager') }) }}"><i class="fa fa-times fa-lg"></i></a>
        </li>

    {% endfor %}

    <li>
      <a href="{{ path('u_choose_user', {'targetAsBase64': targetManagerAsBase64, 'token': csrf_token('addManager') }) }}">
        <div class="smallTextAvatar"><i class="fa fa-plus-circle"></i></div>
        <div class="smallObjectInfos ellipsis-multiline">
          <span>{{ "community.add.manager"|trans }}</span>
        </div>
      </a>
    </li>

    </ul>
  </section>

{% endblock %}
