{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "private.space"|trans }} | {{ "community.home.title"|trans }}{% endblock %}

{% block header %}
  <div class="title">
    <h2>{{ "private.space"|trans }}</h2>
    {% if shared_projects %}
    <div class="alert alert-info">
      <p>{{ "private.space.new"|trans }}
        <ul>
        {% for project in shared_projects %}
          <li><a href="{{ path('p_show_project', {uid: project.id|to_uid}) }}">{{ project.name }}</a></li>
        {% endfor %}
        </ul>
      </p>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <section>
    <div class="label">
      <h2>{{ "private.space.project.title"|trans }}</h2>
    </div>
    <div class="content">
      <p>{{ "private.space.project.text"|trans }}</p>
      <div class="actions">
        <a href="{{ path('p_list_projects') }}" class="button button-neutral">{{ "browse.all"|trans }}</a>
        <a href="{{ path('p_new_project') }}" class="button button-success">{{ "private.space.project.create"|trans }}</a>
      </div>
    </div>
  </section>
  <section>
    <div class="label">
      <h2>{{ "private.space.idea.title"|trans }}</h2>
    </div>
    <div class="content">
      <p>{{ "private.space.idea.text"|trans }}</p>
      <div class="actions">
        <a href="{{ path('i_list_ideas') }}" class="button button-neutral">{{ "browse.all"|trans }}</a>
        <a href="{{ path('i_new_idea') }}" class="button button-success">{{ "private.space.idea.create"|trans }}</a>
      </div>
    </div>
  </section>
  <section>
    <div class="label">
      <h2>{{ "private.space.community.title"|trans }}</h2>
    </div>
    <div class="content">
      <p>{{ "private.space.community.text"|trans }}</p>
      <div class="actions">
        <a href="{{ path('g_create_community') }}" class="button button-success">{{ "private.space.community.create"|trans }}</a>
      </div>
    </div>
  </section>
{% endblock %}
