{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "private.space"|trans }} | {{ "community.home.title"|trans }}{% endblock %}

{% block header %}
<header class="home">
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="fa fa-home"></i></div>
  </div>
  <div class="objectHeader">
    <h2>{{ "private.space"|trans }}</h2>
    {% if shared_projects %}
    <div class="alert alert-info">
      <p>{{ "private.space.new"|trans }}
        <ul>
        {% for project in shared_projects %}
          <li><a href="{{ path('p_show_project', {uid: project.id|to_uid}) }}">{{ project.name }}</a></li>
        {% endfor %}
        </ul>
      </p>
    </div>
    {% endif %}
  </div>
</header>
{% endblock %}

{% block content %}
<div class="content home clearfix">
  <section>
    <div class="headerAvatarAndActions">
      <div class="textAvatar"><i class="fa fa-list"></i></div>
    </div>
    <div class="objectHeader">
      <h2>{{ "private.space.project.title"|trans }}</h2>
      <p>{{ "private.space.project.text"|trans }}</p>
      <p><a href="{{ path('p_list_projects') }}" >{{ "browse.all"|trans }}</a></p>
      <p><a href="{{ path('p_new_project') }}" class="btn btn-primary">{{ "private.space.project.create"|trans }}</a></p>
    </div>
  </section>
  <section>
    <div class="headerAvatarAndActions">
      <div class="textAvatar"><i class="fa fa-paperclip"></i></div>
    </div>
    <div class="objectHeader">
      <h2>{{ "private.space.idea.title"|trans }}</h2>
      <p>{{ "private.space.idea.text"|trans }}</p>
      <p><a href="{{ path('i_list_ideas') }}" >{{ "browse.all"|trans }}</a></p>
      <p><a href="{{ path('i_new_idea') }}" class="btn btn-primary">{{ "private.space.idea.create"|trans }}</a></p>
    </div>
  </section>
  <section>
    <div class="headerAvatarAndActions">
      <div class="textAvatar"><i class="fa fa-group"></i></div>
    </div>
    <div class="objectHeader">
      <h2>{{ "private.space.community.title"|trans }}</h2>
      <p>{{ "private.space.community.text"|trans }}</p>
      <p><a href="{{ path('g_create_community') }}" class="btn btn-success">{{ "private.space.community.create"|trans }}</a></p>
    </div>
  </section>
</div>
{% endblock %}
