{% extends 'metaUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ user.getFullName() }} | {{ "user.dashboard.title"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/d3.v3.js' 
                   '@metaGeneralBundle/Resources/public/js/d3.graphs.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <img src="{{ asset(user.getAvatar()) }}" width="150" height="150" class="avatar"/>
  </div>

  <div class="userInfo">

    <h2>{{ "user.dashboard.title"|trans }}</h2>
    <h4>{{ "user.dashboard.recent.activity"|trans }} :</h4>
    <div>
      <i class="fa fa-flag"></i> {{ "user.dashboard.last.activity"|trans({ '%date%': lastActivity|date("date.fullFormat"|trans) }) }}
    </div>

    <div>
      <i class="fa fa-comments"></i> {{ "user.dashboard.comments"|transchoice(user.comments|length, { '%count%': user.comments|length, '%public%': user.countPublicComments }) }}
    </div>

  </div>
  <div class="graph" graph-data='{{ last7daysActivity|json_encode|raw }}' graph-width="500" graph-height="90">
    <!-- loader !!! -->
  </div>
{% endblock %}

{% block content %}

<section>
  <div class="heading"><i class="fa fa-home"></i> {{ "user.dashboard.recently.community"|trans }}</div>
  <div class="row-fluid">

    <div class="content span5">
      <h4>{{ "user.dashboard.last.ideas"|trans }}</h4>
      <ul>
        {% if last3ideas[0] is defined %}<li><a href="{{ path('i_show_idea', {'uid' : last3ideas[0].id|to_uid}) }}">{{ last3ideas[0].name|raw }}</a> - <em>{{ "user.dashboard.created.on"|trans({ '%date%': last3ideas[0].createdAt|date("date.fullFormat"|trans) }) }}</em></li>{% else %}<li>{{ "user.dashboard.no.ideas"|trans }}</li>{% endif %}
        {% if last3ideas[1] is defined %}<li><a href="{{ path('i_show_idea', {'uid' : last3ideas[1].id|to_uid}) }}">{{ last3ideas[1].name|raw }}</a> - <em>{{ "user.dashboard.created.on"|trans({ '%date%': last3ideas[1].createdAt|date("date.fullFormat"|trans) }) }}</em></li>{% endif %}
        {% if last3ideas[2] is defined %}<li><a href="{{ path('i_show_idea', {'uid' : last3ideas[2].id|to_uid}) }}">{{ last3ideas[2].name|raw }}</a> - <em>{{ "user.dashboard.created.on"|trans({ '%date%': last3ideas[2].createdAt|date("date.fullFormat"|trans) }) }}</em></li>{% endif %}
      </ul>
    </div>

    <div class="content span6 offset1">
      <h4>{{ "user.dashboard.last.projects"|trans }}</h4>
       <ul>
        {% if last3projects[0] is defined %}<li><a href="{{ path('p_show_project', { 'uid': last3projects[0].id|to_uid }) }}">{{ last3projects[0].name|raw }}</a> - <em>{{ "user.dashboard.created.on"|trans({ '%date%': last3projects[0].createdAt|date("date.fullFormat"|trans) }) }}</em></li>{% else %}<li>{{ "user.dashboard.no.projects"|trans }}</li>{% endif %}
        {% if last3projects[1] is defined %}<li><a href="{{ path('p_show_project', { 'uid': last3projects[1].id|to_uid }) }}">{{ last3projects[1].name|raw }}</a> - <em>{{ "user.dashboard.created.on"|trans({ '%date%': last3projects[1].createdAt|date("date.fullFormat"|trans) }) }}</em></li>{% endif %}
        {% if last3projects[2] is defined %}<li><a href="{{ path('p_show_project', { 'uid': last3projects[2].id|to_uid }) }}">{{ last3projects[2].name|raw }}</a> - <em>{{ "user.dashboard.created.on"|trans({ '%date%': last3projects[2].createdAt|date("date.fullFormat"|trans) }) }}</em></li>{% endif %}
      </ul>
    </div>

  </div>

</section>

<section>
  <div class="heading"><i class="fa fa-group"></i> {{ "user.dashboard.social"|trans }}</div>
  <div class="row-fluid">

    <div class="content span5">
      <h4>{{ "user.dashboard.last.social"|trans }}</h4>
      <ul>
        {% if lastSocial[0] is defined %}<li>{{ lastSocial[0]|raw }}</li>{% else %}<li>{{ "user.dashboard.no.social"|trans }}</li>{% endif %}
        {% if lastSocial[1] is defined %}<li>{{ lastSocial[1]|raw }}</li>{% endif %}
        {% if lastSocial[2] is defined %}<li>{{ lastSocial[2]|raw }}</li>{% endif %}
      </ul>
    </div>

    <div class="content span6 offset1">
      <h4>{{ "user.dashboard.comments.posted"|trans }}</h4>
      <div class>
        <div class="graph" graph-data='{{ last7daysCommentActivity|json_encode|raw }}' graph-width="450" graph-height="100">
          <!-- loader !!! -->
        </div>
      </div>
    </div>

  </div>

</section>

<section class="colored">
  <div class="heading"><i class="fa fa-flask"></i> {{ "user.dashboard.top.projects"|trans }}</div>
  <div class="row-fluid">

    <div class="content span4">
      {% if top3projects[0] is defined %}
      <h4><a href="{{ path('p_show_project_timeline', {'uid': top3projects[0][0].id|to_uid }) }}" ><span class="avatar"><img src="{{ asset(top3projects[0][0].picture) }}"  width="20" height="20" class="miniAvatar" /></span> {{ top3projects[0][0].name }}</a></h4>
      <div class>
        {% if top3projectsActivity[top3projects[0][0].id] is defined %}
        <div class="graph" graph-data='{{ top3projectsActivity[top3projects[0][0].id]|json_encode|raw }}' graph-width="310" graph-height="100">
          <!-- loader !!! -->
        </div>
        {% else %}
        <div class="graph_placeholder">{{ "user.dashboard.no.activity"|trans }}</div>
        {% endif %}
      </div>
      <h5>{{ "user.dashboard.last.contributor"|trans }} :</h5>
      {% if top3projectsActivity[top3projects[0][0].id][0] is defined %}<span>{{ (top3projects[0][0].logEntries|last).user.getFullName }} ({{ (top3projects[0][0].logEntries|last).createdAt|date("date.fullFormat"|trans) }})</span>{% else %}{{ "user.dashboard.na"|trans }}{% endif %}
      <h5>{{ "user.dashboard.members"|trans }} :</h5>
      <ul>
        <li>{{ "user.dashboard.owners"|transchoice(top3projects[0][0].countOwners, { '%count%': top3projects[0][0].countOwners}) }}</li>
        <li>{{ "user.dashboard.participants"|transchoice(top3projects[0][0].countParticipants, { '%count%': top3projects[0][0].countParticipants}) }}</li>
        <li>{{ "user.dashboard.watchers"|transchoice(top3projects[0][0].countWatchers, { '%count%': top3projects[0][0].countWatchers}) }}</li>
      </ul>
      {% else %}
      <div class="blank_dashboard_item">{{ "user.dashboard.no.project"|trans }} <a href="{{ path('p_new_project') }}" class="btn btn-success">{{ "user.dashboard.new.project"|trans }}</a></div>
      {% endif %}
    </div>

    <div class="content span4">
      {% if top3projects[1] is defined %}
      <h4><a href="{{ path('p_show_project_timeline', {'uid': top3projects[1][0].id|to_uid }) }}" ><span class="avatar"><img src="{{ asset(top3projects[1][0].picture) }}"  width="20" height="20" class="miniAvatar" /></span> {{ top3projects[1][0].name }}</a></h4>
      <div class>
        {% if top3projectsActivity[top3projects[1][0].id] is defined %}
        <div class="graph" graph-data='{{ top3projectsActivity[top3projects[1][0].id]|json_encode|raw }}' graph-width="310" graph-height="100">
          <!-- loader !!! -->
        </div>
        {% else %}
        <div class="graph_placeholder">{{ "user.dashboard.no.activity"|trans }}</div>
        {% endif %}
      </div>
      <h5>{{ "user.dashboard.last.contributor"|trans }} :</h5>
      {% if top3projectsActivity[top3projects[1][0].id][0] is defined %}<span>{{ (top3projects[1][0].logEntries|last).user.getFullName }} ({{ (top3projects[1][0].logEntries|last).createdAt|date("date.fullFormat"|trans) }})</span>{% else %}{{ "user.dashboard.na"|trans }}{% endif %}
      <h5>{{ "user.dashboard.members"|trans }} :</h5>
      <ul>
        <li>{{ "user.dashboard.owners"|transchoice(top3projects[1][0].countOwners, { '%count%': top3projects[1][0].countOwners}) }}</li>
        <li>{{ "user.dashboard.participants"|transchoice(top3projects[1][0].countParticipants, { '%count%': top3projects[1][0].countParticipants}) }}</li>
        <li>{{ "user.dashboard.watchers"|transchoice(top3projects[1][0].countWatchers, { '%count%': top3projects[1][0].countWatchers}) }}</li>
      </ul>
      {% else %}
      <div class="blank_dashboard_item">{{ "user.dashboard.no.project"|trans }} <a href="{{ path('p_new_project') }}" class="btn btn-success">{{ "user.dashboard.new.project"|trans }}</a></div>
      {% endif %}
    </div>
    
    <div class="content span4">
      {% if top3projects[2] is defined %}
      <h4><a href="{{ path('p_show_project_timeline', {'uid': top3projects[2][0].id|to_uid }) }}" ><span class="avatar"><img src="{{ asset(top3projects[2][0].picture) }}"  width="20" height="20" class="miniAvatar" /></span> {{ top3projects[2][0].name }}</a></h4>
      <div class>
        {% if top3projectsActivity[top3projects[2][0].id] is defined %}
        <div class="graph" graph-data='{{ top3projectsActivity[top3projects[2][0].id]|json_encode|raw }}' graph-width="310" graph-height="100">
          <!-- loader !!! -->
        </div>
        {% else %}
        <div class="graph_placeholder">{{ "user.dashboard.no.activity"|trans }}</div>
        {% endif %}
      </div>
      <h5>{{ "user.dashboard.last.contributor"|trans }} :</h5>
      {% if top3projectsActivity[top3projects[2][0].id][0] is defined %}<span>{{ (top3projects[2][0].logEntries|last).user.getFullName }} ({{ (top3projects[2][0].logEntries|last).createdAt|date("date.fullFormat"|trans) }})</span>{% else %}{{ "user.dashboard.na"|trans }}{% endif %}
      <h5>{{ "user.dashboard.members"|trans }} :</h5>
      <ul>
        <li>{{ "user.dashboard.owners"|transchoice(top3projects[2][0].countOwners, { '%count%': top3projects[2][0].countOwners}) }}</li>
        <li>{{ "user.dashboard.participants"|transchoice(top3projects[2][0].countParticipants, { '%count%': top3projects[2][0].countParticipants}) }}</li>
        <li>{{ "user.dashboard.watchers"|transchoice(top3projects[2][0].countWatchers, { '%count%': top3projects[2][0].countWatchers}) }}</li>
      </ul>
      {% else %}
      <div class="blank_dashboard_item">{{ "user.dashboard.no.project"|trans }} <a href="{{ path('p_new_project') }}" class="btn btn-success">{{ "user.dashboard.new.project"|trans }}</a></div>
      {% endif %}
    </div>
    
  </div>

</section>

<section>
  <div class="heading"><i class="fa fa-lightbulb"></i> {{ "user.dashboard.top.ideas"|trans }}</div>
  <div class="row-fluid">

    <div class="content span4">
      {% if top3ideas[0] is defined %}
      <h4><a href="{{ path('i_show_idea_timeline', {'uid': top3ideas[0][0].id|to_uid }) }}" ><span class="avatar"><img src="{{ asset(top3ideas[0][0].picture) }}"  width="20" height="20" class="miniAvatar" /></span> {{ top3ideas[0][0].name }}</a></h4>
      <div class>
        {% if top3ideasActivity[top3ideas[0][0].id] is defined %}
        <div class="graph" graph-data='{{ top3ideasActivity[top3ideas[0][0].id]|json_encode|raw }}' graph-width="310" graph-height="100">
          <!-- loader !!! -->
        </div>
        {% else %}
        <div class="graph_placeholder">{{ "user.dashboard.no.activity"|trans }}</div>
        {% endif %}
      </div>
      <h5>{{ "user.dashboard.last.contributor"|trans }} :</h5>
      {% if top3ideasActivity[top3ideas[0][0].id][0] is defined %}<span>{{ (top3ideas[0][0].logEntries|last).user.getFullName }} ({{ (top3ideas[0][0].logEntries|last).createdAt|date("date.fullFormat"|trans) }})</span>{% else %}{{ "user.dashboard.na"|trans }}{% endif %}
      <h5>{{ "user.dashboard.members"|trans }} :</h5>
      <ul>
        <li>{{ "user.dashboard.participants"|transchoice(top3ideas[0][0].countParticipants, { '%count%': top3ideas[0][0].countParticipants}) }}</li>
        <li>{{ "user.dashboard.watchers"|transchoice(top3ideas[0][0].countWatchers, { '%count%': top3ideas[0][0].countWatchers}) }}</li>
      </ul>
      {% else %}
      <div class="blank_dashboard_item">{{ "user.dashboard.no.idea"|trans }} <a href="{{ path('i_new_idea') }}" class="btn btn-success">{{ "user.dashboard.new.idea"|trans }}</a></div>
      {% endif %}
    </div>

    <div class="content span4">
      {% if top3ideas[1] is defined %}
      <h4><a href="{{ path('i_show_idea_timeline', {'uid': top3ideas[1][0].id|to_uid }) }}" ><span class="avatar"><img src="{{ asset(top3ideas[1][0].picture) }}"  width="20" height="20" class="miniAvatar" /></span> {{ top3ideas[1][0].name }}</a></h4>
      <div class>
        {% if top3ideasActivity[top3ideas[1][0].id] is defined %}
        <div class="graph" graph-data='{{ top3ideasActivity[top3ideas[1][0].id]|json_encode|raw }}' graph-width="310" graph-height="100">
          <!-- loader !!! -->
        </div>
        {% else %}
        <div class="graph_placeholder">{{ "user.dashboard.no.activity"|trans }}</div>
        {% endif %}
      </div>
      <h5>{{ "user.dashboard.last.contributor"|trans }} :</h5>
      {% if top3ideasActivity[top3ideas[1][0].id][0] is defined %}<span>{{ (top3ideas[1][0].logEntries|last).user.getFullName }} ({{ (top3ideas[1][0].logEntries|last).createdAt|date("date.fullFormat"|trans) }})</span>{% else %}{{ "user.dashboard.na"|trans }}{% endif %}
      <h5>{{ "user.dashboard.members"|trans }} :</h5>
      <ul>
        <li>{{ "user.dashboard.participants"|transchoice(top3ideas[1][0].countParticipants, { '%count%': top3ideas[1][0].countParticipants}) }}</li>
        <li>{{ "user.dashboard.watchers"|transchoice(top3ideas[1][0].countWatchers, { '%count%': top3ideas[1][0].countWatchers}) }}</li>
      </ul>
      {% else %}
      <div class="blank_dashboard_item">{{ "user.dashboard.no.idea"|trans }} <a href="{{ path('i_new_idea') }}" class="btn btn-success">{{ "user.dashboard.new.idea"|trans }}</a></div>
      {% endif %}
    </div>
    
    <div class="content span4">
      {% if top3ideas[2] is defined %}
      <h4><a href="{{ path('i_show_idea_timeline', {'uid': top3ideas[2][0].id|to_uid }) }}" ><span class="avatar"><img src="{{ asset(top3ideas[2][0].picture) }}"  width="20" height="20" class="miniAvatar" /></span> {{ top3ideas[2][0].name }}</a></h4>
      <div class>
        {% if top3ideasActivity[top3ideas[2][0].id] is defined %}
        <div class="graph" graph-data='{{ top3ideasActivity[top3ideas[2][0].id]|json_encode|raw }}' graph-width="310" graph-height="100">
          <!-- loader !!! -->
        </div>
        {% else %}
        <div class="graph_placeholder">{{ "user.dashboard.no.activity"|trans }}</div>
        {% endif %}
      </div>
      <h5>{{ "user.dashboard.last.contributor"|trans }} :</h5>
      {% if top3ideasActivity[top3ideas[2][0].id][0] is defined %}<span>{{ (top3ideas[2][0].logEntries|last).user.getFullName }} ({{ (top3ideas[2][0].logEntries|last).createdAt|date("date.fullFormat"|trans) }})</span>{% else %}{{ "user.dashboard.na"|trans }}{% endif %}
      <h5>{{ "user.dashboard.members"|trans }} :</h5>
      <ul>
        <li>{{ "user.dashboard.participants"|transchoice(top3ideas[2][0].countParticipants, { '%count%': top3ideas[2][0].countParticipants}) }}</li>
        <li>{{ "user.dashboard.watchers"|transchoice(top3ideas[2][0].countWatchers, { '%count%': top3ideas[2][0].countWatchers}) }}</li>
      </ul>
      {% else %}
      <div class="blank_dashboard_item">{{ "user.dashboard.no.idea"|trans }} <a href="{{ path('i_new_idea') }}" class="btn btn-success">{{ "user.dashboard.new.idea"|trans }}</a></div>
      {% endif %}
    </div>
    
  </div>

</section>
{% endblock %}