<!DOCTYPE html>
<html style="margin-top: 0 !important" lang="fr-FR" class="csstransforms csstransforms3d csstransitions">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>igneet | Entrepreneurs, donnez à vos communautés l’outil dont elles ont besoin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 
  
{% block stylesheets %}

  {% stylesheets  'bundles/metastatic/css/base.css' 
                  'bundles/metastatic/css/layout.css' 
                  'bundles/metastatic/css/skeleton.css' 
                  'bundles/metastatic/css/style.css' 
                  'bundles/metastatic/css/fonts.css' 
                  'bundles/metageneral/css/font-awesome.css' 
    filter='?yui_css,cssrewrite' output='css/min/static.css' %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}

{% endblock %}

</head>
<body class="home">

  <div class="ribbon-wrapper right fixed">
      <div class="ribbon">
          <a href="http://app.igneet.com/login" target="_blank"><i class="icon-lock"></i> Login</a>
      </div>
  </div>

  <div id="intro">
  
    <div class="bg1"></div>
    
    <div class="title">
      <div class="intro-line"></div>
      <h1 class="small"><i class="icon-fire"></i> Voici igneet</h1>
      <div class="intro-line"></div>
      <p>Entrepreneurs, donnez à vos communautés l’outil dont elles ont besoin</p>
   
      <div class="clear"></div><br>
      
    </div>
  </div> <!-- end intro -->

  <div id="sticky-wrapper" class="sticky-wrapper" style="height: 40px;">
    <nav>

      <ul>
        <li><a href="#intro"><i class="icon-home"></i></a></li>
        <li><a href="#why">Pourquoi ?</a></li>
        <li><a href="#what">C'est quoi ?</a></li>
        <li><a href="#features">Fonctionnalités</a></li>
        <li><a href="#signup">S'inscrire</a></li>
        <li><a href="#team">L'équipe</a></li>
        <li><a href="#contact">Contact</a></li>
<!--         <li><a href="http://blog.igneet.com/" class="blog">Blog</a></li> -->
      </ul>

    </nav>
  </div> <!-- end menu -->
    
  <div class="bg white-bg" id="why">
    <div class="container">

      <div class="clear"></div><br/>

      <div class="row">
        <div class="two columns">
          <img src="{{ asset('bundles/metastatic/img/baseline_picture.jpg')}}" width="100px" />
        </div>

        <div class="thirteen columns">
          <h5>Igneet est le  <strong>premier outil</strong> de gestion de <strong>projets</strong> et d'<strong>innovation</strong> pour les <strong>communautés d’entrepreneurs</strong>.</h5><br/>
        </div>
      </div>

      <div class="row">
        <div class="eight columns ">
          <h2><span class="lines">Pourquoi ?</span></h2>
          <p>Une grande partie du <stong>monde entrepreunarial</strong> se structure en <strong>communautés</strong> : associations d'entraide, couveuses, incubateurs, accélérateurs, espaces de co-working, équipe d'innovation au sein d'une entreprise, etc.<p>
          <p>Nous sommes convaincus que<strong> la collaboration</strong> au sein de ces structures <strong>joue un rôle déterminant</strong> dans la capacité <strong>d'innovation et de production</strong> de l'écosystème.</p>
          <p>A nos yeux, cet <strong>énorme potentiel</strong> n'est que très <strong>partiellement exploité</strong>, limité notamment par des outils numériques encore désarticulés et peu adaptés. <strong>Avec Igneet</strong> nous proposons l'outil qui permet de révéler ce potentiel.</p>
        </div>
      
        <div class="eight columns ">
          <h2><span class="lines">Comment ?</span></h2>
          <p><strong>Igneet</strong> est proposé sous forme d’application web Saas (<em>Software-as-a-service</em>).</p> 
          <p>Igneet ne remplace pas les outils que vous utilisez déjà, mais les complète et les <strong>fédère intelligemment</strong>, en intégrant simplement Google Drive, Dropbox, etc. tout en rajoutant des fonctionnalités essentielles de <strong>gestion de projet</strong> pour votre équipe.</p>
          <p>Vos projets seront intégrés dans <strong>une communauté </strong>(<em>votre entreprise, votre service, votre association, votre cercle d'amis, etc</em>). Au sein de ce cette communauté de confiance vous pourrez partager, construire, challenger vos idées, ainsi qu'<strong>aider d'autres projets</strong> en fonction de leurs besoins et de vos compétences.</p>
        </div>
      </div>

    </div> <!-- end container -->
  </div> <!-- end why -->

 <div class="bg dark-bg blue" id="what">
    <div class="container">

      <div class="sixteen columns ">
        <h2><span class="lines">Que propose igneet ?</span></h2>
        <p>En tirant parti de travaux récents dans le management de l'innovation, le pilotage des startups,  et les théories de la conception, nous proposons un outil qui vous permet :</p>
        <ul class="circle">
         <li>de travailler à tous les stades de la réflexion entrepreneuriale : de la première idée au projet totalement réalisé</li>
         <li>en facilitant la mise en application des meilleurs principes de pilotage des startups (lean startup, business model canvas, ...)</li>
         <li>et en exploitant au mieux les force de la communauté d'entrepreneurs qui vous entoure pour avancer efficacement.</li>
        </ul>
      </div>

      <div class="clear"></div>

      <div class="action">
        <p><i class="icon-group icon-2x"></i></p>
        <p>Initialement, Igneet a été imaginé et réalisé pour supporter l'activité de <strong><a href="http://www.thirdplace.fr" target="_blank">ThirdPlace</a></strong> — <em>association permettant à de jeunes entrepreneurs de travailler ensemble, à l’émergence de nouveaux produits ou services.</em></p>
      </div>

    </div> <!-- end container -->
  </div> <!-- end what -->

<!-- =================================================== -->
<!-- ==================== SEPARATOR ==================== -->
  <div id="separator_1" class="separator">
      <div class="bg"></div>
      <p class="separator">Igneet a été conçu pour et par des entrepreneurs.</p>
  </div>
<!-- ================= END : SEPARATOR ================= -->
<!-- =================================================== -->

  <div class="bg dark-bg dark-blue" id="features">
    <div class="container">
      <div class="sixteen columns">
          <h2><span class="lines"> Fonctionnalités </span></h2>
      </div> <!-- end sixteen columns -->

      <div class="sixteen columns ">
        <p>Vous retrouvez sur igneet des fonctionnalités simples et intégrées efficacement afin de simplifier la collaboration :</p>
      </div>

      <div class="one-third column serv-list">
        <h4>Listes & Espace wiki</h4>
        <i class="icon-list-alt icon-4x"></i>
        <p>Chaque projet peut accueillir un wiki simple et efficace ainsi qu'une quantité illimitée de listes (Todo, tâches, etc) pour faciliter l'organisation de votre projet.</p>
      </div>
      <div class="one-third column serv-list">
        <h4>Gestion des droits</h4>
        <i class="icon-lock icon-4x"></i>
        <p>Décidez simplement de ce que vous partagez de votre projet, et avec qui vous le partagez !</p>
      </div>
      <div class="one-third column serv-list">
        <h4>Timeline et historique</h4>
        <i class="icon-comments-alt icon-4x"></i>
        <p>Toutes les actions importantes sur vos projets, vos communautés ou idées sont gardées en mémoire et constituent la timeline du projet. En un coup d'oeil, vous savez ce qui s'est passé.</p>
      </div>
      <div class="one-third column serv-list">
        <h4>Tableau de bord</h4>
        <i class="icon-dashboard icon-4x"></i>
        <p>Dans votre profil, un tableau de bord personnel complet reprend l'état d'avancement de vos projets et idées, en vous donnant quelques insights sur ce qui se passe dans vos communautés.</p>
      </div>
      <div class="one-third column serv-list">
        <h4>Social & connecté</h4>
        <i class="icon-link icon-4x"></i>
        <p>Tous les éléments avec lesquels vous travaillez peuvent être connectés intelligement. N'importe où dans Igneet, et en un clic, il est possible de faire un lien vers tout objet (une tâche, une page wiki, un document, ...). Tous les éléments essentiels peuvent recevoir des commentaires contextualisés ou encore des "+1".</p>
      </div>
      <div class="one-third column serv-list">
        <h4>Ressources</h4>
        <i class="icon-file-alt icon-4x"></i>
        <p>Sur igneet, il est très simple d'ajouter les ressources dont vous avez besoin : documents externes, pages webs, fichiers. Les types de documents sont automatiquement détectés, et vous pouvez toujours choisir de les héberger sur notre plate-forme ou sur vos outils habituels (Dropbox, Google Drive, ...).</p>
      </div>

      <div class="clear"></div><br>

      <div class="action">
        <p>Un projet personnel à organiser ? Une idée à noter ? Pourquoi quitter les outils que l'on aime ?</p>
        <p>En plus d’espaces communautaires collectifs, vous disposez également d’un espace privé vous permettant de gérer vos idées ou projets personnels facilement, en retrouvant toutes les fonctionnalités d'Igneet. </p>
      </div>
      
    </div> <!-- end container -->
  </div> <!-- end features -->

  <div class="bg white-bg" id="signup">
    <div class="container">

      <div class="sixteen columns">
          <h2><span class="lines"> S'inscrire </span></h2>
      </div> <!-- end sixteen columns -->

      <div class="sixteen columns ">

        <p>Rejoignez la communauté des incubateurs, associations et utilisateurs d'Igneet et faites de vos idées et projets une réalité.</p>

        <p>Les inscriptions à Igneet sont ouvertes et gratuites. Il vous suffit de suivre le lien suivant et créer votre compte. Vous pourrez profiter d'Igneet dans une minute.</p>

        <div style="text-align: center"><a href="http://app.igneet.com/signup_choice" target="_blank"><div class="button1"><i class="icon-ok"></i>M'inscrire maintenant !</div></a></div>

        <div class="clear"></div><br>

        <p>Une fois inscrit, vous pourrez profiter instantanément de votre espace privé.</p>

        <p>Pour tirer pleinement partir d'Igneet et des fonctions de collaboration, il vous faudra vous faire inviter dans une communauté existante ou créer une communauté et y inviter les personnes avec qui vous souhaitez travailler.</p>

      </div>

      <div style="text-align: center"><h3 style="text-align: center; margin-top: 25px"><span class="lines">Nos offres</span></h3></div><br>

      <div class="four columns pricing">
        <p class="p-name green">Gratuit</p>
        <p class="p-price">0 €<span class="p-small"> / mois</span></p>
        <ul>
          <li>Utilisateur individuel</li>
          <li>1 espace privé</li>
          <li>1 Go d'espace</li>
        </ul>
        <div class="signup"><div class="button2"><a href="http://app.igneet.com/signup_choice" target="_blank">S'inscrire</a></div></div>

      </div>
      <div class="four columns pricing">
        <p class="p-name yellow">Associations</p>
        <p class="p-price">25 €<span class="p-small"> / mois</span></p>
        <ul>
          <li>1 communauté</li>
          <li>Projets & Idées Illimités</li>
          <li>10 Go d'espace</li>
        </ul>
        <div class="signup"><div class="button2"><a href="mailto:contact@igneet.com?subject=Souscription Igneet - Licence Association">Contactez nous</a></div></div>
      </div>
      <div class="four columns pricing">
        <p class="p-name orange">Incubateurs</p>
        <p class="p-price">25 €<span class="p-small"> / mois / utilisateur</span></p>
        <ul>
          <li>1 Communauté</li>
          <li>Projets & Idées Illimités</li>
          <li>5 Go d'espace / utilisateur</li>
        </ul>
        <div class="signup"><div class="button2"><a href="mailto:contact@igneet.com?subject=Souscription Igneet - Licence Incubateur">Contactez nous</a></div></div>
      </div>
      <div class="four columns pricing">
        <p class="p-name red">Entreprise</p>
        <p class="p-price">30 €<span class="p-small"> / mois / utilisateur</span></p>
        <ul>
          <li>Communautés illimitées</li>
          <li>Projets & Idées Illimités</li>
          <li>Stockage Illimité</li>
        </ul>
        <div class="signup"><div class="button2"><a href="mailto:contact@igneet.com?subject=Souscription Igneet - Licence Entreprise">Contactez nous</a></div></div>
      </div>
                      
    </div> <!-- end container -->
  </div> <!-- end signup -->

<!-- =================================================== -->
<!-- ==================== SEPARATOR ==================== -->
  <div id="separator_2" class="separator">
      <div class="bg"></div>
      <p class="separator">Igneet est né de notre frustration avec les outils existants pour animer nos réflexions au sein de <a href="http://www.thirdplace.fr/" target="_blank">ThirdPlace</a>.</p>
  </div>
<!-- ================= END : SEPARATOR ================= -->
<!-- =================================================== -->

  <div class="bg white-bg" id="team">
      <div class="container">
          
        <div class="sixteen columns">
          <h2><span class="lines"> L'équipe </span></h2>
        </div> <!-- end sixteen columns -->

        <div class="eight columns team">
          <img alt="Cyril Chapellier" class="scale-with-grid round-corners" src="{{ asset('bundles/metastatic/img/about-cyril.png')}}" width="200" height="200">
          <p class="t-name">Cyril Chapellier</p>
          <p class="t-type">Fondateur & Développeur Lead</p>
          <p>Développeur & geek, passionné de technologies et d'entrepreneuriat.<br/>Activiste hacker et maker, Directeur technique de CKAB.<br />Ingénieur civil des Mines de Paris et titulaire d'un cursus de design à Créapole.</p>
          <ul>
            <li><a target="_blank" href="http://twitter.com/tuneefy" class="social"><i class="icon-twitter-sign icon-2x"></i></a></li>
            <li><a target="_blank" href="http://www.linkedin.com/in/cyrilchapellier" class="social"><i class="icon-linkedin-sign icon-2x"></i></a></li>
            <li><a target="_blank" href="http://github.com/tchapi" class="social"><i class="icon-github-sign icon-2x"></i></a></li>
            <li><a target="_blank" href="http://about.me/tchap" class="social"><i class="icon-external-link-sign icon-2x"></i></a></li>
          </ul>
        </div>

        <div class="eight columns team">
          <img alt="Benjamin Duban" class="scale-with-grid round-corners" src="{{ asset('bundles/metastatic/img/about-benjamin.png')}}" width="200" height="200">
          <p class="t-name">Benjamin Duban</p>
          <p class="t-type">Fondateur</p>
          <p>Spécialiste des théories de la conception et du management de l'innovation (<em>intervenant aux Mines de Paris &amp; écoles de Condé</em>).<br>Jury de diplôme du Master de Design Global des écoles de Condé.<br>Ingénieur des Mines de Paris, 7 ans passés dans l'innovation et le management de projets.</p>
          <ul>
            <li><a target="_blank" href="http://twitter.com/benjaminduban" class="social"><i class="icon-twitter-sign icon-2x"></i></a></li>
            <li><a target="_blank" href="http://fr.linkedin.com/in/benjaminduban/" class="social"><i class="icon-linkedin-sign icon-2x"></i></a></li>
          </ul>
        </div>

        <div class="clear"></div><br>

        <div style="text-align: center"><h3 style="text-align: center; margin-top: 25px"><span class="lines">Quelques témoignages</span></h3></div>

        <div class="clear"></div><br />

        <div class="sixteen columns">
          <p>Ils utilisent Igneet.</p>
        </div>

        <div class="sixteen columns ">
          <p><i class="icon-quote-left icon-4x pull-left icon-muted"></i>
Comme beaucoup je me suis escrimé des années sur des combinaisons Google Docs / Gmail / Dropbox, Outlook + des répertoire partagés, ou même SharePoint... Et comme beaucoup je n'en ai jamais été satisfait : le coeur de ce qu'est la collaboration n'y est pas, la capitalisation des échanges finit inexorablement par se déliter dans une mer d'emails, inefficace et crispante. Igneet vient compléter plusieurs outils qui sont individuellement excellents, et les unit par une couche de collaboration simple, sobre, puissante. Les débats et les avis sont capitalisés, on peut enfin réfléchir à plusieurs sur de nombreux sujets en parallèle, tout en étant à distance et désynchronisés. C'est tout simplement ce qu'il me fallait. Bravo ! <strong>Eric, <em>Entrepreneur - Fondateur d'Exadress</em></strong>
          </p>
        </div>
        <div class="clear"></div><br />

        <div class="sixteen columns ">
          <p><i class="icon-quote-left icon-4x pull-left icon-muted"></i>
C'est une évidence, mais l'équipe Igneet travaille avec Igneet ! Le nombre d'emails a drastiquement diminué, et il est désormais possible d'avoir en un coup d'oeil les dernières actions et l'historique du projet. Nous avons également éliminé les discussions inutiles sur le choix exclusif d'un outil qui rassemblerait toutes nos infos : Drive, Evernote ou DropBox ? La réponse est simple, le meilleur de chacun, fédéré sur Igneet. <strong>Benjamin & Cyril, <em>Fondateurs d'Igneet</em></strong>
          </p>
        </div>
        <div class="clear"></div><br />
      
      </div> <!-- end container -->
  </div> <!-- end team -->

 <div id="join" class="dark-bg dark-green">
    <div class="container">
    
      <div style="text-align: center"><h3 style="text-align: center; margin-top: 25px"><span class="lines">Vous voulez nous aider, nous rejoindre ?</span></h3></div>

      <div class="clear"></div><br>

      <div class="sixteen columns">
        <p><i class="icon-thumbs-up"></i> <strong>Nous sommes bien sûr ouverts à toute forme de collaboration et / ou partenariats.</strong></p>

        <p>Si vous pensez pouvoir nous aider à améliorer l’outil, à le développer ou à lui apporter de la visibilité, n’hésitez pas à nous contacter </p>

        <p><i class="icon-signin"></i> <strong>Vous souhaitez rejoindre l'équipe et faire avancer le projet ?</strong></p>

        <p>N'hésitez pas à nous faire part de vos envies et de votre motivation à {{ mailer_contact }} (<em>ou en utilisant le formulaire de contact ci-dessous</em>).<br />
        Nous recherchons principalement des gens motivés par l’entrepreneuriat, autonomes, et ayant évidemment une bonne connaissance des outils web de gestion de projet.</p></p><br />
      </div>

    </div> <!-- end container -->
  </div> <!-- end join -->

    
  <div id="contact" class="dark-bg">
      <div class="container">
      
          <div class="sixteen columns">
              <h2 class="white"><span class="lines">Nous contacter</span></h2>
          </div> <!-- end sixteen columns -->

          <div class="sixteen columns ">L'équipe d'igneet est basée principalement à Paris.</div><br>

          <div class="clear"></div>
          
          <div class="eight columns">
              <div class="contact-form">
                  
                  <div class="done">
                      <strong>Merci!</strong> Nous lisons avec attention tous les messages que vous nous envoyez et nous reviendrons vers vous très rapidement.
                  </div>

                  <div class="error">
                      <strong>Zut!</strong> Une erreur est survenue dans l'envoi de votre email. Veuillez réessayez plus tard ou nous envoyer un mail directement à l'adresse de contact indiquée à droite.
                  </div>
              
              
                  <form method="POST" action="{{ path('contact') }}">
                      <p>Nom</p>
                      <input type="text" name="name" class="text">
                      
                      <p>Email</p>
                      <input type="text" name="email" class="text" id="email">

                      <p>Message</p>
                      <textarea name="message" class="text"></textarea>

                      <input type="submit" id="submit" value="Envoyer" class="submit-button">
                  </form>
                      
              </div> <!-- end contact-form -->
          </div> <!-- end eight columns -->
          
          <div class="eight columns">
              
              <div class="contact-info">
                  
                  <h5>Plus d'informations</h5>
              
                  <p class="white"><i class="icon-envelope"></i> <a href="mailto:{{ mailer_contact }}">{{ mailer_contact }}</a></p>
                  <p class="white"><i class="icon-home"></i> Paris, France</p>

                </div> <!-- end contact-info -->
              
          </div> <!-- end eight columns -->
          
          <div class="clear"></div>

          <div class="sixteen columns">
              <div class="copyright">
                  <p>© 2013 <a href="http://igneet.com/">igneet</a> | coded with <i class="icon-heart-empty"></i> by <a href="http://github.com/tchapi">tchapi</a> | <a href="/terms">terms & privacy</a></p>
              </div>
          </div>
          
      </div> <!-- end container -->
  </div> <!-- end contact -->
          
<!-- JS
    ================================================== -->
  
{% block javascripts %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  {% javascripts '@metaStaticBundle/Resources/public/js/jquery.sticky.js'
                 '@metaStaticBundle/Resources/public/js/jquery.smooth-scroll.js'
                 '@metaStaticBundle/Resources/public/js/contact-form.js'
                 '@metaStaticBundle/Resources/public/js/jquery.easing.1.3.js'
                 '@metaStaticBundle/Resources/public/js/jquery.inview.js'
                 '@metaStaticBundle/Resources/public/js/jquery.mobilemenu.js' filter='?yui_js' output='js/min/static.js' %}
          <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% if ga_tracker_id != 0 %}
          <script type="text/javascript">

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ga_tracker_id}}', '{{host}}');
            ga('send', 'pageview');

          </script>
  {% endif %}

{% endblock %}

  <script type="text/javascript">

    var scrollTo = function(target){
      var myArray = target.split('#');
      var targetPosition = jQuery('#' + myArray[1]).offset().top;
      jQuery('html,body').animate({ scrollTop: targetPosition}, 'slow');
    };

    jQuery(document).ready(function() {

      jQuery("nav").sticky({topSpacing:0});

      jQuery('nav ul').mobileMenu({
        defaultText: 'Aller à ...',
        className: 'mobile-menu',
        subMenuDash: '&ndash;'
      });

    });
    
  </script>

</body></html>