{% extends 'metaUserBundle::layout-full.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.allUsers"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/infinite.scroll.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
<div class="title">
    <h2>{{ "user.allUsers"|trans }}</h2>    
    <h4>{{ "user.listHelp"|trans({ '%community%': app.user.currentCommunity.name}) }}</h4>
</div>
{% endblock %}

{% block content %}
<div class="wrapper list">

{% if users|length > 0 %}
    
  {# FILTERS #}
  <section class="filters">
    {{ "filters.sort"|trans }}
    <a href="{{ path('u_list_users', {'sort': 'newest'}) }}"><i class="fa fa-star"></i> {{ "filters.newest"|trans }}</a> /
    <a href="{{ path('u_list_users', {'sort': 'update'}) }}"><i class="fa fa-clock-o"></i> {{ "filters.recent"|trans }}</a> /
    <a href="{{ path('u_list_users', {'sort': 'active'}) }}"><i class="fa fa-dashboard"></i> {{ "filters.active"|trans }}</a> /
    <a href="{{ path('u_list_users', {'sort': 'alpha'}) }}"><i class="fa fa-font"></i> {{ "filters.alpha"|trans }}</a>
  </section>

  <table id="list" summary="users">
    <thead>
      <tr>
        <th class="main">{{ "user.list.name"|trans }}</th>
        <th></th>
        <th><i class="fa fa-calendar"></i> {{ "user.list.created"|trans }}</th>
        <th><i class="fa fa-clock-o"></i> {{ "user.list.updated"|trans }}</th>
        <th><i class="fa fa-dashboard"></i> {{ "user.list.members"|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% include 'metaUserBundle:Users:list.users.html.twig' with {'users': users} %}
    </tbody>
  </table>

  {# PAGINATION #}
  {{ include('metaGeneralBundle:Default:pagination.html.twig', { 'route': 'u_list_users', 'total_objects' : totalUsers, 'params' : {'sort': sort } }, with_context = false) }}

{% else %}
  <section class="none">
  {{ "user.none"|trans }}
  </section>
{% endif %}

</div>
{% endblock %}
