{% extends 'metaIdeaBundle:Idea:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "idea.info.title"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/redactor.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="wrapper info">

  <section>
    
    <div class="label-full">{{ "idea.info.about"|trans }}</div>

    <div class="content-full">
      <div{% if base.canEdit %} data-name="about" data-url="{{ path('i_edit_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('edit') }) }}" contenteditable="true" rich="true"{% else %} class="redactor_editor"{% endif %}>{{ base.idea.about|deeplinks|raw }}</div>
    </div>

  </section>
</div>

<div class="wrapper team">
  <section>
    <div class="label-full">{% transchoice base.idea.countCreators %}idea.info.creators{% endtranschoice %} :</div>
    <ul class="content-full">
    {% for creatorUser in base.idea.creators %}
      {% if not creatorUser.isDeleted %}
        <li>
          <a href="{{ path('u_show_user_profile', {'username': creatorUser.username}) }}">
            <img src="{{ creatorUser.avatar }}" width="100px" height="100px"/>
            <div>
              <div>{{ creatorUser.firstName }}</div>
              <div>{{ creatorUser.lastName }}</div>
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </section>
  {% if base.idea.community is not null and (base.idea.participants|length > 0 or base.canEdit) %}
  <section>
    <div class="label-full">{% transchoice base.idea.countParticipants %}idea.info.participants{% endtranschoice %} :</div>
    <ul class="content-full">
    {% for participatingUser in base.idea.participants %}
      {% if not participatingUser.isDeleted %}
        <li>
          <a href="{{ path('u_show_user_profile', {'username': participatingUser.username}) }}">
            <img src="{{ participatingUser.avatar }}" width="100px" height="100px"/>
            <div>
              <div>{{ participatingUser.firstName }}</div>
              <div>{{ participatingUser.lastName }}</div>
            </div>
          </a>
          {% if base.isCreator %}<a class="remove" href="{{ path('i_remove_participant_to_idea', { 'uid': base.idea.id|to_uid, 'username' : participatingUser.username, 'token': csrf_token('removeParticipant') }) }}">&times;</a>{% endif %}
        </li>
      {% endif %}
    {% endfor %}
    {% if base.canEdit %}
        <li>
          <a href="{{ path('u_choose_user', {'targetAsBase64': targetParticipantAsBase64, 'token': csrf_token('addParticipant')  }) }}">
            <i class="fa fa-plus-circle"></i>
            <div><div>{{ "idea.info.add.participant"|trans }}</div></div>
          </a>
        </li>
    {% endif %}
    </ul>
  </section>
  {% endif %}

</div>
{% endblock %}
