{% extends 'metaIdeaBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ base.idea.name }}{% endblock %}

{% set shortcode %}[[idea:{{ base.idea.id|to_uid }}]]{% endset %}

{% block javascripts %}
  {{ parent() }}
    {% javascripts '@metaGeneralBundle/Resources/public/js/comments.behaviour.js' 
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if base.canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block header %}

  <div class="avatar">
    <img src="{{ asset(base.idea.getPicture()) }}" />
    {% if base.canEdit %}
      <a href="{{ path('i_edit_idea_reset_picture', {'uid': base.idea.id|to_uid, 'token': csrf_token('resetPicture')  }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="fa fa-trash-o fa-2x"></i></a>
      <a href="{{ path('g_choose_file', {'targetAsBase64': base.targetPictureAsBase64, 'token': csrf_token('edit') }) }}" title="{{ "picture.changeHelp"|trans }}"><i class="fa fa-pencil fa-2x"></i></a>
    {% endif %}
  </div>
  <div class="info">
    <h2>
      <span{% if base.canEdit %} data-url="{{ path('i_edit_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="name" data-last="{{ base.idea.name }}" contenteditable="true" rich="false"{% endif %}>{{ base.idea.name }}</span>
    </h2>

    <h3>
      <span{% if base.canEdit %} data-url="{{ path('i_edit_idea', {'uid': base.idea.id|to_uid, 'token': csrf_token('edit') }) }}" data-name="headline" placeholder="{{ "idea.headlineEmptyText"|trans }}" data-type="text" data-last="{{ base.idea.headline }}" contenteditable="true" rich="false"{% endif %} title="{{ "idea.headlineHelp"|trans }}">{{ base.idea.headline }}</span>
    </h3>

    <h4>
      <div>
        <i class="fa fa-calendar"></i> {{ "idea.info.created"|trans({'%date%': base.idea.createdAt|date("date.fullFormat"|trans)}) }}
      </div>
      {% if base.idea.archivedAt %}
      <div>
        <i class="fa fa-archive"></i> {{ "idea.info.archived"|trans({'%date%': base.idea.archivedAt|date("date.fullFormat"|trans)}) }}
      </div>
      {% endif %}

    </h4>

    <div>
      {% include 'metaIdeaBundle:Partials:watchers.html.twig' with { 'idea' : base.idea, 'isAlreadyWatching' : base.isAlreadyWatching} %}
    </div>

  </div>
{% endblock %}

{% block navbar %}
{% render(controller("metaIdeaBundle:Idea:navbar",{ 'activeMenu' : 'info', 'uid' : base.idea.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}
