{% extends 'metaIdeaBundle:Idea:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "idea.settings.title"|trans }}{% endblock %}

{% block content %}
<div class="wrapper info">

  <section>
    <div class="label">{{ "idea.actions"|trans }} : </div>
    <div class="content">
      {% if not base.idea.archived %}
      <a class="button" data-confirm="{{ "idea.projectizeHelp"|trans }}" href="{{ path('i_turn_idea_into_project', {'uid': base.idea.id|to_uid, 'token': csrf_token('projectize')  }) }}"><i class="fa fa-external-link"></i> {{ "idea.projectize"|trans }}</a>
      {% endif %}
      {% if base.idea.community is null %}
      <a class="button" href="{{ path('g_choose_community', {'targetAsBase64': base.targetProposeToCommunityAsBase64 , 'token': csrf_token('edit') }) }}"><i class="fa fa-group"></i> {{ "idea.propose"|trans }}</a>
      {% endif %}
    </div>
  </section>

{% if base.isCreator %}
  <section>
    <div class="label">{{ "idea.delete"|trans }} : </div>
    <div class="content"><a class="button button-danger" data-confirm="{{ "idea.deleteHelp"|trans }}" href="{{ path('i_delete_idea', { 'uid': base.idea.id|to_uid, 'token': csrf_token('delete') }) }}">{{ "delete"|trans }}</a><em><i class="fa fa-warning"></i> {{ "deleteHelp"|trans }}</em></div>
  </section>
{% endif %}

</div>
{% endblock %}

{% block navbar %}
{% render(controller("metaIdeaBundle:Idea:navbar",{ 'activeMenu' : 'settings', 'uid' : base.idea.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}