{% extends 'metaGeneralBundle:FirstRun:base.step.html.twig' %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    
  {{ form_widget(form, { 'attr' : { 'class': errors?'error':'' }}) }}{% if form.vars.full_name == "standardProject[private]" %}<label for="{{ form.vars.id }}" >{{ label|trans }}</label>{% endif %}
  {% if errors|length > 0 %}
    {% for error in errors %}
      <em class="error"><i class="fa fa-exclamation-triangle"></i> {{ error.message|trans }}</em>
    {% endfor %}
  {% endif %}
  {% if required or attr.help is defined %}
    <em class="help">{% if required %}* {{ "required"|trans }}.{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</em>
  {% endif %}

{% endblock form_row %}

{% block step %}

<section>
  <div class="content-full">

    <p>{{ "firstrun.steps.createCommunity.text"|trans|raw }}</p>

    <form action="" method="post" {{ form_enctype(form) }}>
      {{ form_rest(form) }}
      {{ form_row(form._token) }} 
      <input type="submit" style="display: none;">
    </form>

  </div>
</section>

{% endblock %}
