{% extends 'metaUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ user.getFullName() }} | {{ "user.notifications.title"|trans }}{% endblock %}

{% block header %}
  <div class="title">
    <h2>{{ "user.notifications.title"|trans }}</h2>
    <h4>{{ "user.notifications.info"|trans({ '%count%': notifications|length, '%date%': lastNotified|date('date.readable'|trans) }) }}</h4>
  </div>
{% endblock %}

{% block content %}
{% if notifications|length > 0 %}
  <section>
    <ul class="timeline notifications">
      {% set currentDate = "now"|date_modify("+1 day") %}
      {% for notification in notifications %}

        {% if notification['createdAt']|date('Y-m-d') < currentDate|date('Y-m-d') %}
          <li class="step">{{ notification['createdAt']|date("date.readable"|trans) }}</li>
          {% set currentDate = notification['createdAt'] %}
        {% endif %}

        <li class="log{% if notification['createdAt']|date('c') > lastNotified|date('c') %} unseen{% endif %}">{{ notification['data']|raw }}</li>

      {% endfor %}
    </ul>
  </section>
{% else %}
  <section class="centered">
    <i class="muted fa fa-check fa-4x"></i>
    <br />{{ "user.notifications.none"|trans }}
  </section>
{% endif %}
<section class="centered">
<a href="{{ path('u_show_user_notifications', { 'date' : from|date_modify("-7 days")|date("Y-m-d") }) }}">{{ "user.notifications.see.more"|trans({ '%date%': from|date_modify("-7 days")|date("date.format"|trans)} ) }}</a>
</section>
{% endblock %}