{% extends 'metaUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.settings.title"|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
          filter='?yui_js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block header %}
<div class="title">
  <h2>{{ "user.settings.title"|trans }}</h2>
  <h3> {{ "user.settings.help"|trans }}</h3>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="label">{{ "user.email.title"|trans }} :</div>
  <div class="content">
    <span data-url="{{ path('u_edit_user_settings', {'token': csrf_token('editSettings') }) }}" data-name="email" placeholder="{{ "user.email.emptyText"|trans }}" contenteditable="true" rich="false" data-last="{{ app.user.email }}" title="{{ "user.email.help"|trans }}">{{ app.user.email }}</span>
  </div>
</section>

<section>
  <div class="label">{{ "user.password"|trans }} :</div>
  <div class="content">
    <a id="password" href="{{ path('change_password', {'token': csrf_token('changePassword')} ) }}">{{ "user.passwordChange.title"|trans }}</a>
  </div>
</section>

<section>
  <div class="label">{{ "user.language.title"|trans }} :</div>
  <div class="content language">
    
    {% import '_locale.html.twig' as locale %}
    {% set actualCode = locale.echoLocaleCode()|lower %}
    <img src="{{ asset('bundles/metageneral/img/langs/' ~ actualCode ~ '.png') }}" width="24px" height="24px"/>
    {{ available_languages[actualCode].name }} — {{ "user.language.switch"|trans }} 
    <select data-name="locale" data-url="{{ path('g_switch_language') }}">
      {% for code, language in available_languages %}
        <option value="{{ code }}" {% if code == actualCode %}selected="selected"{% endif %}><img src="{{ asset('bundles/metageneral/img/langs/' ~ code ~ '.png') }}" width="24px" height="24px"/> {{ language.name }}</option>
      {% endfor %}
    </select>
 
  </div>
</section>

{% if app.user.userCommunities|length > 0 %}
<section>
  <div class="label">{{ "user.digest.settings"|trans }} :</div>
  <div class="content">
    <div>
      <form>
        <input type="checkbox" id="enableDigest" {% if app.user.enableDigest %}checked="checked"{% endif %} data-name="digestToggle" data-url="{{ path('u_edit_user_settings', {'token': csrf_token('editSettings') }) }}"><label for="enableDigest">{{ "user.digest.enable"|trans }}</label>
        <em>{{ "user.digest.info"|trans }}</em>
      </form>
    </div>

    <div class="digest" {% if not app.user.enableDigest %}style="display: none;"{% endif %}>
      
      <div>{{ "user.digest.frequency"|trans }} : 
        <select data-name="frequency" data-url="{{ path('u_edit_user_settings', {'token': csrf_token('editSettings') }) }}">
          <option value="1" {% if app.user.digestFrequency == "daily" %}selected="selected"{% endif %}>{{ "daily"|trans }}</option>
          <option value="2" {% if app.user.digestFrequency == "weekly" %}selected="selected"{% endif %}>{{ "weekly"|trans }}</option>
          <option value="3" {% if app.user.digestFrequency == "bimonthly" %}selected="selected"{% endif %}>{{ "bimonthly"|trans }}</option>
        </select>
      </div>
      
      <div class="specificDay"{% if app.user.digestFrequency == "daily" %} style="display: none;"{% endif %}>
        
          <input type="checkbox" id="specificDay" {% if app.user.enableSpecificDay %}checked="checked"{% endif %} data-name="specificDayToggle" data-url="{{ path('u_edit_user_settings', {'token': csrf_token('editSettings') }) }}"><label for="specificDay">{{ "user.digest.specificDay"|trans }} : </label>

          <select data-name="day" data-url="{{ path('u_edit_user_settings', {'token': csrf_token('editSettings') }) }}">
            <option value="1" {% if app.user.digestDay == "monday" %}selected="selected"{% endif %}>{{ "date.monday.long"|trans }}</option>
            <option value="2" {% if app.user.digestDay == "tuesday" %}selected="selected"{% endif %}>{{ "date.tuesday.long"|trans }}</option>
            <option value="3" {% if app.user.digestDay == "wednesday" %}selected="selected"{% endif %}>{{ "date.wednesday.long"|trans }}</option>
            <option value="4" {% if app.user.digestDay == "thursday" %}selected="selected"{% endif %}>{{ "date.thursday.long"|trans }}</option>
            <option value="5" {% if app.user.digestDay == "friday" %}selected="selected"{% endif %}>{{ "date.friday.long"|trans }}</option>
            <option value="6" {% if app.user.digestDay == "saturday" %}selected="selected"{% endif %}>{{ "date.saturday.long"|trans }}</option>
            <option value="7" {% if app.user.digestDay == "sunday" %}selected="selected"{% endif %}>{{ "date.sunday.long"|trans }}</option>
          </select>

      </div>

      <div class="specificEmail">

          <input type="checkbox" id="specificEmails" {% if app.user.enableSpecificEmails %}checked="checked"{% endif %} data-name="specificEmailsToggle" data-url="{{ path('u_edit_user_settings', {'token': csrf_token('editSettings') }) }}"><label for="specificEmails">{{ "user.digest.specificEmails"|trans }}</label>

      </div>
      <ul class="specificEmailsChoice" {% if not app.user.enableSpecificEmails %}style="display: none;"{% endif %}>
        {% for userCommunity in app.user.userCommunities %}
        <li><span class="community-{% if userCommunity.community.isValid() %}{{ userCommunity.community.type }}{% else %}expired{% endif %}">&#9679;</span> {{ userCommunity.community.name }} : <span contenteditable="true" rich="false" data-url="{{ path('u_edit_user_settings', {'token': csrf_token('editSettings') }) }}" data-name="community" data-key="{{ userCommunity.community.id|to_uid }}" title="{{ "user.digest.specificEmailsHelp"|trans }}">{% if userCommunity.email is not null %}{{ userCommunity.email }}{% else %}{{ app.user.email }}{% endif %}</span></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% else %}
<section>
  <div class="label">{{ "user.digest.settings"|trans }} :</div>
  <div class="content">
    {{ "user.digest.noCommunity"|trans }}
    <p><a href="{{ path("g_create_community") }}" class="button button-success">{{ "community.create"|trans }}</a></p>
  </div>
</section>
{% endif %}

<section>
  <div class="label">{{ "user.alerts.title"|trans }} :</div>
  <div class="content">
    <a href="#" dismiss-reset="all">{{ "user.alerts.reinit"|trans }}</a>
    <em>{{ "user.alerts.reinitHelp"|trans }}</em>
  </div>
</section>

<section>
  <div class="label">{{ "user.delete"|trans }} : </div>
  <div class="content">
    <a class="button button-danger" data-confirm="{{ "user.deleteHelp"|trans }}" href="{{ path('u_delete_user_profile', { 'username': app.user.username, 'token': csrf_token('delete') }) }}">{{ "delete"|trans }}</a>
    <em><i class="fa fa-warning"></i> {{ "deleteHelp"|trans }}</em>
  </div>
</section>

{% endblock %}
