{% extends 'metaUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > {{ user.getFullName() }}{% endblock %}

{% set shortcode %}[[user:{{ user.username }}]]{% endset %}

{% block javascripts %}
  {{ parent() }}
  {% if canEdit %}
    {% javascripts '@metaGeneralBundle/Resources/public/js-edit/redactor.js'
                   '@metaGeneralBundle/Resources/public/js-edit/editable.behaviour.js'
            filter='?yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endif %}
{% endblock %}

{% block header %}
  <div class="avatar">

    <img src="{{ asset(user.getAvatar()) }}" />
    {% if canEdit %}
      <a href="{{ path('u_edit_user_profile_reset_avatar', {'username': user.username, 'token': csrf_token('resetAvatar') }) }}" title="{{ "picture.resetHelp"|trans }}"><i class="fa fa-trash-o fa-2x"></i></a>
      <a href="{{ path('g_choose_file', {'targetAsBase64': targetAvatarAsBase64, 'token': csrf_token('edit') }) }}" title="{{ "picture.changeHelp"|trans }}"><i class="fa fa-pencil fa-2x"></i></a>
    {% endif %}

  </div>

  <div class="info">

    <h2>
      <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="first_name" data-last="{{ user.firstName }}" contenteditable="true" rich="false"{% endif %}>{{ user.firstName }}</span> <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="last_name" data-last="{{ user.lastName }}" contenteditable="true" rich="false"{% endif %}>{{ user.lastName }}</span>
    </h2>

    <h3>
      <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="headline" placeholder="{{ "user.headline.emptyText"|trans }}" data-type="text" data-last="{{ user.headline }}" contenteditable="true" rich="false"{% endif %} title="{{ user.headline }}">{{ user.headline }}</span>
    </h3>

    <div class="skills">
      {% if user.skills|length > 0 %}
        {% spaceless %}
        <ul{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-emptytext="{{ "user.skills.emptyText"|trans }}" contenteditable="list" data-name="skills"{% endif %}>
        {% for skill in user.skills %}
          {% include 'metaUserBundle:Skills:skill.html.twig' with {'skill': skill, 'canEdit': canEdit} %}
        {% endfor %}
        {% if canEdit %}
          <li><a href="#" class="add" data-url="{{ path('u_list_all_skills')}}"><i class="fa fa-plus"></i></a>
            <span style="display: none;">
              <a href="#"><i class="fa fa-times"></i></a>
              <input type="text" id="skill" placeholder="{{ "user.skills.placeholder"|trans }}"/>
            </span>
          </li>
        {% endif %}
        </ul>
        {% endspaceless %}
      {% else %}
        <span>{{ "user.skills.none"|trans }}</span>
        {% if canEdit %}
          <ul data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-emptytext="{{ "user.skills.emptyText"|trans }}" contenteditable="list" data-name="skills">
            <li><a href="#" class="add" data-url="{{ path('u_list_all_skills')}}"><i class="fa fa-plus"></i></a>
              <span style="display: none;">
                <a href="#"><i class="fa fa-times"></i></a>
                <input type="text" id="skill" placeholder="{{ "user.skills.placeholder"|trans }}"/>
              </span>
            </li>
          </ul>
        {% endif %}
      {% endif %}
    </div>

    <h4>
      <div>
        <i class="fa fa-map-marker"></i> <span{% if canEdit %} data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" data-name="city" data-title="{{ "user.city.help"|trans }}" data-last="{{ user.city }}" placeholder="{{ "user.city.emptyText"|trans }}" contenteditable="true" rich="false"{% endif %}>{% if user.city == "" and not canEdit %}{{ "user.city.none"|trans }}{% else %}{{ user.city }}{% endif %}</span>
      </div>

      <div>
        <i class="fa fa-calendar"></i> {{ "user.list.member.since"|trans({ '%date%': user.createdAt|date("date.format"|trans)}) }}
      </div>
    </h4>

    <div>
    {% include 'metaUserBundle:Partials:followers.html.twig' with { 'user': user, 'alreadyFollowing' : alreadyFollowing} %}
    </div>

  </div>

{% endblock %}

{% block content %}
<section>
  <div class="label">{{ "user.about"|trans }}&nbsp;:</div>
  <div class="content">
    <div{% if canEdit %} data-name="about" data-url="{{ path('u_edit_user_profile', {'username': user.username, 'token': csrf_token('edit') }) }}" contenteditable="true" rich="true"{% else %} class="redactor_editor"{% endif %}>{{ user.about|deeplinks|markdown|raw }}</div>
  </div>
</section>

{% if following|length > 0 %}
<section>
<div class="label">{{ "user.followings"|trans({'%user%': user.firstName }) }}&nbsp;:</div>
<ul class="content thumbs">
{% for followingUser in following %}
  <li>
    <a href="{{ path('u_show_user_profile', {'username': followingUser.username}) }}">
      <img src="{{ followingUser.avatar }}" width="100px" height="100px"/>
      <div>
        <div>{{ followingUser.firstName }}</div>
        <div>{{ followingUser.lastName }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and followers|length > 0 %}
<section>
<div class="label">{{ "user.followers"|trans }}&nbsp;:</div>
<ul class="content thumbs">
{% for followerUser in followers %}
  <li>
    <a href="{{ path('u_show_user_profile', {'username': followerUser.username}) }}">
      <img src="{{ followerUser.avatar }}" width="100px" height="100px"/>
      <div>
        <div>{{ followerUser.firstName }}</div>
        <div>{{ followerUser.lastName }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and projectsWatched|length > 0 %}
<section>
<div class="label">{{ "user.projects.watched"|trans }}&nbsp;:</div>
<ul class="content thumbs">
{% for watchedProject in projectsWatched %}
  <li>
    <a href="{{ path('p_show_project', {'uid': watchedProject.id|to_uid }) }}">
      <img src="{{ watchedProject.picture }}" width="100px" height="100px"/>
      <div>
        <div>{{ watchedProject.name }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if projectsOwned|length > 0 %}
<section>
<div class="label">{{ "user.projects.owned"|trans }}&nbsp;:</div>
<ul class="content thumbs">
{% for ownedProject in projectsOwned %}
  <li>
    <a href="{{ path('p_show_project', {'uid': ownedProject.id|to_uid }) }}">
      <img src="{{ ownedProject.picture }}" width="100px" height="100px"/>
      <div>
        <div>{{ ownedProject.name }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and projectsParticipatedIn|length > 0 %}
<section>
<div class="label">{{ "user.projects.participated"|trans }}&nbsp;:</div>
<ul class="content thumbs">
{% for participatedInProject in projectsParticipatedIn %}
  <li>
    <a href="{{ path('p_show_project', {'uid': participatedInProject.id|to_uid }) }}">
      <img src="{{ participatedInProject.picture }}" width="100px" height="100px"/>
      <div>
        <div>{{ participatedInProject.name }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and ideasWatched|length > 0 %}
<section>
<div class="label">{{ "user.ideas.watched"|trans }}&nbsp;:</div>
<ul class="content thumbs">
{% for idea in ideasWatched %}
  <li>
    <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
      <img src="{{ idea.picture }}" width="100px" height="100px"/>
      <div>
        <div>{{ idea.name }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if ideasCreated|length > 0 %}
<section>
<div class="label">{{ "user.ideas.initiated"|trans }}&nbsp;:</div>
<ul class="content thumbs">
{% for idea in ideasCreated %}
  <li>
    <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
      <img src="{{ idea.picture }}" width="100px" height="100px"/>
      <div>
        <div>{{ idea.name }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if canEdit and ideasParticipatedIn|length > 0 %}
<section>
<div class="label">{{ "user.ideas.participated"|trans }}&nbsp;:</div>
<ul class="content thumbs">
{% for idea in ideasParticipatedIn %}
  <li>
    <a href="{{ path('i_show_idea', {'uid': idea.id|to_uid }) }}">
      <img src="{{ idea.picture }}" width="100px" height="100px"/>
      <div>
        <div>{{ idea.name }}</div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% endblock %}
