{% extends 'metaProjectBundle::layout-card.html.twig' %}

{% block title %}{{ parent() }} > {{ "project.new"|trans }}{% endblock %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    
    <section>
      <div class="label">{{ label|trans }} :</div>
      <div class="content">
        {{ form_widget(form, { 'attr' : { 'class': errors?'error':'' }}) }}{% if form.vars.full_name == "standardProject[private]" %}<label for="{{ form.vars.id }}" >{{ label|trans }}</label>{% endif %}
        {% if errors|length > 0 %}
          {% for error in errors %}
            <em class="error"><i class="fa fa-exclamation-triangle"></i> {{ error.message|trans }}</em>
          {% endfor %}
        {% endif %}
        {% if required or attr.help is defined %}
          <em class="help">{% if required %}* {{ "required"|trans }}.{% endif %} {% if attr.help is defined %}{{ attr.help|trans }}{% endif %}</em>
        {% endif %}
      </div>
    </section>

{% endblock form_row %}

{% block header %}
  <div class="title">
    <h2>{{ "project.new"|trans }}</h2>
    <h4>{{ "project.newHelp"|trans }}</h4>
  </div>
{% endblock %}

{% block content %}
<form action="{{ path('p_new_project') }}" method="post" {{ form_enctype(form) }} name="new_project">
  {{ form_rest(form) }}
  {{ form_row(form._token) }} 
  <section>
    <div class="content">
      <input type="submit" value="{{ "create"|trans }}" class="button button-success" />
    </div>
  </section>
</form>
{% endblock %}
